.order-form__info
    .order-form__info-txt.d-flex 
        .order-form__info-txt-icon.centered 
            +svg('info')
        .order-form__info-txt-value В ваш регион доступна доставка Почтой России.
    a.order-form__info-btn.outline-border(href="#chooseOffice" data-bs-toggle="offcanvas") выбрать пункт выдачи

.order-form__subtitle.d-flex 
    .order-form__subtitle-txt Сроки доставки
    .order-form__subtitle-txt-sm 7-14 дней
.order-form__info
    .order-form__info-txt.d-flex 
        .order-form__info-txt-icon.centered 
            +svg('info')
        .order-form__info-txt-value Отгрузка происходит в течение 1-2 рабочих дней. Вам придет смс-уведомление.