.order-form__info
    .order-form__info-office
        .order-form__info-office__group 
            .order-form__info-office__row.d-flex 
                .order-form__info-office__left
                    .order-form__info-office__title.title Отделение почты России 
                        span № 119285
                .order-form__info-office__right
                    .order-form__info-office__txt г&nbsp;Москва, ул&nbsp;Мосфильмовская, дом&nbsp;34, индекс 438232
        .order-form__info-office__group 
            .order-form__info-office__row.d-flex 
                .order-form__info-office__left
                    .order-form__info-office__title.title График работы
                .order-form__info-office__right
                    .order-form__info-office__txt
                        .order-form__info-office__txt-item.d-flex
                            .order-form__info-office__txt-left пн-пт
                            .order-form__info-office__txt-right 08:00–20:00
                        .order-form__info-office__txt-item.d-flex
                            .order-form__info-office__txt-left сб
                            .order-form__info-office__txt-right 09:00–20:00
                        .order-form__info-office__txt-item.d-flex
                            .order-form__info-office__txt-left вс
                            .order-form__info-office__txt-right 10:00–18:00
    a.order-form__info-btn.outline-border(href="#chooseOffice" data-bs-toggle="offcanvas") изменить пункт выдачи

.order-form__subtitle.d-flex 
    .order-form__subtitle-txt Сроки доставки
    .order-form__subtitle-txt-sm 7-14 дней
.order-form__info
    .order-form__info-txt.d-flex 
        .order-form__info-txt-icon.centered 
            +svg('info')
        .order-form__info-txt-value Отгрузка происходит в течение 1-2 рабочих дней. Вам придет смс-уведомление.