.saveInfo
    .saveInfo__top
        .saveInfo__group 
            .saveInfo__group-inner.d-flex
                .saveInfo__title.title Доставка в отделение Почты России
                a.saveInfo__change(href="#addresses" data-type="addAddressPost" data-bs-toggle="offcanvas") Изменить
        .saveInfo__address № 233434 по адресу г. Москва, ул. Безымянная 47/1, кв. 6, п3, этаж 5, индекс 323434
        //- .saveInfo__comment
        //-     .saveInfo__comment-inner.d-flex.txt-sm
        //-         .saveInfo__comment-icon.icon 
        //-             img(src="static/images/general/icons/comment-grey-16.svg", alt="comment")
        //-         .saveInfo__comment-txt Позвоните, когда будете у шлагбаума
    .saveInfo__bottom 
        .saveInfo__row-wrapper 
            .saveInfo__row.flex 
                .saveInfo__col
                    .saveInfo-item
                        .saveInfo-item__icon.icon 
                            +svg('user')
                        .saveInfo-item__txt
                            .saveInfo-item__txt-item Алевтина Круглова
                            .saveInfo-item__txt-item +7 903 483-38-34
                .saveInfo__col
                    .saveInfo-item
                        .saveInfo-item__icon.icon 
                            +svg('clock')
                        .saveInfo-item__txt
                            .saveInfo-item__txt-item Доставим в течение <br>7-14 дней
                        .saveInfo-item__sm-txt.txt-sm Отгрузка происходит в течение 1-2 рабочих дней. Вам придёт СМС-уведомление.
                .saveInfo__col
                    .saveInfo-item
                        .saveInfo-item__icon.icon 
                            +svg('comment')
                        .saveInfo-item__txt
                            .saveInfo-item__txt-item Комментарий к заказу
                        .saveInfo-item__sm-txt.txt-sm Проверить перед отгрузкой