header.header
    .container 
        .header__content.d-flex
            .header__logo 
                a.logo(href="/" aria-label="ash")
                    span.logo__img.svg
                        +icon('logo')
    .header__bg
                        