extends template/main-nofooter

block variables
	- var title = 'certificate'

block content
	include pages/certificate/certificate

block styles 
	link(rel="stylesheet" type='text/css' href="static/css/air-datepicker.min.css")


block scriptBefore
	script(src="static/js/air-datepicker.min.js")
block script
	
	script(src="static/js/certificate.js")