extends template/catalog

block variables
	- var title = 'Каталог'

block content
	include pages/landing/presale

block styles
	link(rel="stylesheet" type='text/css' href="static/css/presalelanding.css")