.form {
    &-item {
        position: relative;
        z-index: 9;
        &.opened {
            z-index: 10;
        }
        &:has(.focused), &:has(.show-date) {
            z-index: 10;
        }
        &__group {
            position: relative;
            &.focused, &.error {
                .form-item__label {
                    font-size: 14px;
                    padding: 1px 6px;
                    background: var(--white);
                    left: 14px;
                    top: -1px;
                    color: var(--black);
                    &--hidden {
                        visibility: hidden;
                    }
                }
                .form-input {
                    border-color: var(--black);
                    &--light {
                        border-color: #D4D4D4;
                    }
                }
                .form-item__dropdown {
                    display: block;
                }
            }
            &.error {
                .form-input {
                    border-color: var(--error);
                }
                .form-item__label {
                    color: var(--error);
                }
            }
            &.filled {
                .form-item__label {
                    font-size: 14px;
                    padding: 1px 6px;
                    background: var(--white);
                    left: 14px;
                    top: -1px;
                    &--hidden {
                        visibility: hidden;
                    }
                }
            }
            &.show-date {
                .form-input {
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-color: var(--black);
                    &--rounded-right {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
                .form-item__dropdown-calendar {
                    display: block;
                }
            }
        }
        &__label {
            color: #BBBBBB;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            transition: .2s ease-in-out;
            pointer-events: none;
            &--textarea  {
                top: 20px;
            }
            &--hidden {
                transition: 0s;
            }
            &-error {
                display: none;
            }
        }
        &__txt {
            color: var(--grey-1);
            margin-top: 8px;
        }
        &__dropdown {
            --max-height: 362px;
            position: absolute;
            z-index: 9;
            top: 100%;
            width: 100%;
            margin-top: 6px;
            display: none;
            background: var(--white);
            border-radius: 4px;
            overflow: hidden;
            &--rounded {
                border-radius: 15px;
            }
            &.show {
                display: block;
            }
            &::before {
                border-color: var(--black);
                z-index: 9;
            }
            &-content {
                background: var(--white);
                border-radius: 4px;
                max-height: var(--max-height);
                padding: 6px 1px;
                &::before {
                    border-color: var(--black);
                }
            }
            &-scroll {
                max-height: var(--max-height);
                overflow: auto;
            }
            &-label {
                display: block;
                cursor: pointer;
                input {
                    display: none;
                    &:checked + span {
                        background: var(--grey-2);
                        .form-item__dropdown-label__icon {
                            opacity: 1;
                        }
                    }
                }
                &__info {
                    align-items: center;
                    justify-content: space-between;
                    line-height: 22px;
                    padding: 14px 20px;
                    transition: background .2s ease-in-out;
                    &:hover {
                        background: var(--grey-2);
                    }
                }
                &__icon {
                    width: 16px;
                    height: 16px;
                    opacity: 0;
                }
                &__txt {
                    display: block;
                    padding: 10px 16px;
                    transition: background .2s ease-in-out;
                    span {
                        color: var(--grey-3);
                    }
                    &:hover {
                        background: var(--grey-2);
                    }
                }
                &__content {
                    display: block;
                    padding: 14px 20px;
                    transition: background .2s ease-in-out;
                    &:hover {
                        background: var(--grey-2);
                    }
                }
            }
        }
        &__country {
            display: block;
            &:hover {
                .form-item__country-inner {
                    background: var(--grey-2);
                }
            }
            input {
                display: none;
                &:checked + span {
                    background: var(--grey-2);
                }
            }
            &-inner {
                padding: 15px 20px;
                display: flex;
                align-items: center;
                transition: background .2s ease-in-out;
            }
            &-flag {
                width: var(--flag-width);
            }
            &-txt {
                width: calc(100% - var(--flag-width));
                padding-left: 16px;
            }
        }
        &__clear {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            &-icon {
                width: 16px;
                height: 16px;
            }
            &-active {
                display: none;
            }
            &.active {
                .form-item__clear-default {
                    display: none;
                }
                .form-item__clear-active {
                    display: flex;
                }
            }
        }
        &__arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 14px;
            height: 14px;
            pointer-events: none;
        }
        &__right-info {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: var(--grey-7);
            fill: var(--grey-7);
        }
        &__right-icon {
            width: 16px;
            height: 16px;
            &.active {
                fill: var(--black);
            }
        }
        &__dropdown-calendar {
            position: absolute;
            left: calc(100% - 1px);
            top: 0;
            z-index: 9;
            padding: 10px 12px 12px;
            border-radius: 0 4px 4px 4px;
            background: var(--white);
            display: none;
            &--right {
                left: initial;
                right: 0;
            }
            &::before {
                border-color: var(--black);
            }
        }
        &__close {
            display: none;
        }
    }
    &-datepicker {
        .air-datepicker {
            border: none;
            border-radius: 0;
            background: none;
            font-family: "Arimo";
            --adp-cell-background-color-selected: #000000;
            --adp-background-color-selected-other-month-focused: transparent;
            --adp-cell-background-color-hover: transparent;
            --adp-nav-arrow-color: var(--base-color);
            --adp-nav-action-size: 14px;
            --adp-background-color-active: transparent;
            --adp-background-color-hover: transparent;
            --adp-nav-height: 46px;
        }
        .air-datepicker-nav {
            border: none;
            align-items: center;
            box-sizing: border-box;
            padding: 0 12px;
            font-weight: 500;
            &--action {
                height: var(--adp-nav-action-size);
                path {
                    stroke-width: initial;
                }
            }
        }
        .air-datepicker-cell.-selected- {
            background: none;
            position: relative;
            &::before {
                content: "";
                width: 28px;
                height: 28px;
                position: absolute;
                background: var(--black);
                z-index: -1;
                border-radius: 24px;
            }
            &.-month- {
                &::before {
                    width: 100%;
                }
            }
            &.-year- {
                &::before {
                    width: 100%;
                }
            }
        }
        .air-datepicker-cell.-selected-.-focus- {
            background: none;
        }
        .air-datepicker-body--cells.-days-, .air-datepicker-body--day-names {
            grid-column-gap: 12px;
            grid-row-gap: 4px;
        }
        .air-datepicker--content {
            padding: 0;
        }
        .air-datepicker {
            width: 324px;
        }
        .air-datepicker-cell {
            height: 36px;
        }
        .air-datepicker-body--day-names {
            padding-top: 10px;
            margin-bottom: 4px;
            margin-top: 0;
        }
        .air-datepicker-body--day-name {
            height: 36px;
            color: #333333;
        }
    }
    &-input {
        display: block;
        width: 100%;
        height: 50px;
        min-height: 50px;
        border: 1px solid var(--stroke-element);
        border-radius: 4px;
        padding: 14px 20px;
        transition: border-color .2s ease-in-out;
        overflow: hidden;
        &::placeholder {
            color: var(--text-grey);
        }
        &--no-border {
            border: none;
        }
        &--rounded {
            border-radius: 40px;
        }
        &--hidden-placeholder {
            &::placeholder {
                color: transparent;
            }
            &:focus {
                &::placeholder {
                    color: var(--text-grey);
                }
            }
        }
        &--light {

        }
    }
    &-phone {
        height: 50px;
        border: 1px solid var(--stroke-element);
        transition: border-color .2s ease-in-out;
        border-radius: 4px;
        --flag-width: 24px;
        &.active {
            border-color: var(--black);
            z-index: 99;
        }
        &:has(.error) {
            border-color: var(--error);
        }
        &__inner {
            align-items: center;
        }
        &__left {
            flex-shrink: 0;
        }
        &__right {
            flex-grow: 1;
        }
        &__input {
            border: none;
            height: 48px;
            min-height: 48px;
        }
        &__btn {
            align-items: center;
            border-right: 1px solid var(--stroke-element);
            padding: 0 16px 0 20px;
            &.active {
                .form-phone__btn-icon {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
            &-flag {
                width: var(--flag-width);
                flex-shrink: 0;
            }
            &-icon {
                width: 16px;
                height: 16px;
                margin-left: 20px;
            }
            &-txt {
                flex-grow: 1;
                margin-left: 10px;
            }
        }
    }
    &-textarea {
        height: 112px;
    }
    &-select {
        position: relative;
        &__btn {
            height: 50px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            padding: 0 20px;
            white-space: nowrap;
            &-icon {
                width: 16px;
                height: 16px;
                flex-shrink: 0;
            }
            &-txt {
                flex-grow: 1;
                padding-right: 16px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.opened {
                &::before {
                    border-color: var(--black);
                }
                .form-select__btn-icon {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            &::before {
                border-color: var(--stroke-element);
            }
        }
        &__head {
            padding-left: 14px;
            padding-right: 14px;
            margin-bottom: 20px;
            display: none;
            &-inner {
                justify-content: space-between;
            }
            &-txt {
                font-size: 15px;
                line-height: normal;
                font-weight: 500;
                text-transform: uppercase;
            }
            &-link {
                font-size: 14px;
                line-height: 18px;
                text-decoration: underline;
            }
        }
        &__close {
            position: absolute;
            top: 18px;
            right: 14px;
            display: none;
        }
        &__dropdown {
            border-radius: 4px;
            padding: 0;
            width: 100%;
            background: var(--white);
            position: absolute;
            z-index: 9;
            top: 100%;
            margin-top: 4px;
            display: none;
            &.visible {
                display: block; 
            }
            &::before {
                border-color: var(--black);
            }
            &-inner {
                max-height: 350px;
                overflow: auto;
                &-wrapper {
                    padding: 6px 4px 6px 0;
                }
                &::-webkit-scrollbar {
                    width: 6px;
                    
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background: #D9D9D9;
                    border-radius: 11px;
                }
            }
        }
        &__radio {
            display: block;
            cursor: pointer;
            input {
                display: none;
                &:checked + span {
                    .form-select__radio-icon {
                        opacity: 1;
                    }
                }
            }
            &-content {
                padding: 14px 20px;
                display: flex;
                align-items: center;
                transition: background .2s ease-in-out;
                &--disabled {
                    color: var(--grey-13);
                }
                &:hover {
                    background: #F5F5F5;
                }
            }
            &-icon {
                width: 16px;
                height: 16px;
                opacity: 0;
            }
            &-txt {
                flex-grow: 1;
                padding-right: 16px;
                display: flex;
                align-items: center;
                span {
                    margin-right: 4px;
                }
            }
            &-subscription {
                
                display: flex;
                align-items: center;
                flex-shrink: 0;
                &__txt {
                    margin-right: 8px;
                }
                &__icon {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
    &-files {
        display: flex;
        flex-direction: column;
        gap: 20px;
        input {
            display: none;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
        &__label {
            &-btn {
                font-size: 16px;
                padding: 11px 20px 10px;
            }
        }
        &__item {
            padding: 9px 12px 9px 16px;
            background: var(--element-second);
            border-radius: 4px;
            display: flex;
            align-items: center;
            transition: background .2s ease-in-out;
            &:hover {
                background: var(--element-hover);
            }
            &--loaded {
                background: #FBFBFB;
                .form-files__item-load {
                    display: flex;
                    img, svg {
                        animation: spin 2s linear infinite;
                    }
                }
                .form-files__item-remove {
                    display: none;
                }
            }
            &-icon {
                width: 16px;
                height: 16px;
                margin-left: 12px;
                
            }
            &-load {
                display: none;
            }
            &-remove {
                cursor: pointer;
            }
        }
    }
    &-checkbox {
        cursor: pointer;
        display: block;
        --icon-size: 20px;
        input {
            display: none;
            &:checked + span {
                .form-checkbox__icon {
                    border-color: var(--black);
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
        &__content {
            display: flex;
            align-items: center;
        }
        &__icon {
            width: var(--icon-size);
            height: var(--icon-size);
            border: 1px solid #E2E2E2;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 2px;
                background: var(--black);
                opacity: 0;
            }
            &--circle {
                border-radius: 50%;
                &::before {
                    border-radius: inherit;
                }
            }
        }
        &__info {
            width: calc(100% - var(--icon-size));
            padding-left: 10px;
        }
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@media (max-width: 1440px) {
    .form {
        &-input {
            height: 40px;
            min-height: 40px;
            padding: 10px 16px;
        }
        &-item {
            &__group {
                &.focused, &.error {
                    .form-item__label {
                        font-size: 12px;
                    }
                }
                &.filled {
                    .form-item__label {
                        font-size: 12px;
                    }
                }
            }
            &__label {
                left: 16px;
            }
            &__dropdown {
                --max-height: 320px;
                &-label {
                    &__txt {
                        padding: 9px 16px 10px;
                    }
                    &__content {
                        padding: 9px 16px 10px;
                    }
                }
            }
            &__country {
                &-inner {
                    padding: 10px 16px 11px;
                }
            }
            &__txt {
                margin-top: 6px;
            }
            &__clear {
                &-icon {
                    width: 14px;
                    height: 14px;
                }
            }
        }
        &-phone {
            --flag-width: 20px;
            height: 40px;
            &__left {
                
            }
            &__btn {
                padding-left: 16px;
                padding-right: 12px;
                &-txt {
                    margin-left: 8px;
                }
                &-icon {
                    width: 14px;
                    height: 14px;
                    margin-left: 16px;
                }
            }
            &__input {
                height: 38px;
                min-height: 38px;
            }
            
        }
        &-select {
            &__btn {
                height: 40px;
                padding: 0 16px;
                &-icon {
                    width: 14px;
                    height: 14px;
                }
            }
            &__dropdown {
                &-inner-wrapper {
                    padding: 4px 4px 4px 0;
                }
                &-inner {
                    max-height: 280px;
                }
            }
            &__radio {
                &-content {
                    padding: 9px 16px 10px 16px;
                }
                &-subscription {
                    &__txt {
                        margin-right: 6px;
                    }
                    &__icon {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
        &-files {
            gap: 16px;
            &__label {
                &-btn {
                    font-size: 14px;
                    padding: 9px 18px 8px;
                }
            }
            &__list {
                gap: 6px;
            }
            &__item {
                padding: 6px 10px 7px 12px;
                &-icon {
                    width: 14px;
                    height: 14px;
                    margin-left: 10px;
                }
            }
        }
        &-checkbox {
            --icon-size: 18px;
            &__icon {
                border-radius: 4px;
            }
            &__info {

            }
        }
        &-datepicker {
            .air-datepicker-cell {
                height: 28px;
                font-size: 14px;
            }
            .air-datepicker-body--day-names {
                padding-top: 0;
                margin-bottom: 2px;
            }
            .air-datepicker {
                width: 246px;
            }
            .air-datepicker-body--cells.-days-, .air-datepicker-body--day-names {
                row-gap: 2px;
                column-gap: 6px;
            }
            .form-datepicker .air-datepicker-cell.-selected-::before  {
                width: 26px;
                height: 24px;
            }
        }
    }
}

@media (max-width: 932px) {
    .form {
        &-datepicker {
            .air-datepicker {
                --adp-color: #333333;
                --adp-color-other-month: #333333;
                --adp-color-current-date: #333333;
                --adp-nav-color-secondary: #333333;
                --adp-nav-action-size: 14px;
                --adp-nav-height: 68px;
            }
            .air-datepicker-body--cells.-days- {
                row-gap: 12px;
            }
        }
        &-item {
            &__dropdown {
                &-label {
                    input {
                        &:checked + span {
                            background: transparent;
                        }
                    }
                    &__info {
                        padding: 16px 0;
                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
            &__group {
                &.show-date {
                    .backdrop {
                        display: block;
                    }
                }
                &.show-date-animate {
                    .form-item__dropdown-calendar {
                        transform: translateY(0%);
                    }
                }
            }
            &__close {
                display: flex;
            }
            &__dropdown-calendar {
                z-index: 102;
                border-radius: 10px 10px 0 0;
                width: auto;
                max-width: initial;
                left: 0px;
                right: 0px;
                bottom: 0;
                top: initial;
                transform: translateY(100%);
                transition: transform .2s ease-in-out;
                position: fixed;
                padding: 0 var(--container-padding) 36px;
                &::before {
                    display: none;
                }
            }
            &__close {
                width: 14px;
                height: 14px;
                position: absolute;
                top: 28px;
                right: 26px;
            }
        }
        &-datepicker {
            .air-datepicker {
                width: 100%;
                &--navigation {
                    max-width: calc(100% - 67px);
                }
                &-nav {
                    box-sizing: border-box;
                    padding: 0;
                    
                    padding-left: 12px;
                    padding-right: 12px;
                    align-items: center;
                    &--action {
                        height: var(--adp-nav-action-size);
                        svg {
                            width: var(--adp-nav-action-size);
                            height: var(--adp-nav-action-size);
                        }
                    }
                    &--title {
                        padding: 5px;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
                &-cell {
                    height: 38px;
                }
                &-body {
                    &--day-names {
                        padding-top: 0;
                        margin-top: 0;
                        margin-bottom: 12px;
                        color: #333333;
                    }
                    &--day-name {
                        height: 32px;
                    }
                }
            }
        }
        &-select {
            &.opened {
                z-index: 151;
                .form-select__backdrop  {
                    display: block;
                }
            }
            &__head {
                display: block;
            }
            &__dropdown {
                display: block;
                position: fixed;
                top: initial;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 20px 20px 0 0;
                transform: translateY(100%);
                visibility: hidden;
                pointer-events: none;
                transition: .2s ease-in-out;
                z-index: 102;
                &.visible {
                    transform: translateY(0%);
                    visibility: visible;
                    pointer-events: initial;
                }
                &::before {
                    display: none;
                }
                &-inner-wrapper {
                    padding-top: 50px;
                }
                &-inner {
                    &::-webkit-scrollbar {
                        width: 3px;
                    }
                    max-height: 390px;
                }
            }
            &__close {
                display: flex;
            }
            &__list {
                padding-right: 14px;
                padding-left: 14px;
                &-item {
                    border-top: 1px solid #EDEDED;
                }
            }
            &__radio {
                &-content {
                    padding: 16px 0;
                    &:hover {
                        background: transparent;
                    }
                }
                &-icon {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
}