.accountReturn__group 
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Причина возврата
    .accountReturn__group-item
        .product-notification.accountReturn-reason
            .accountReturn-reason__info.d-grid 
                .accountReturn-reason__info-icon
                    +svg('return-icon-8', '38', '38', 'return')
                .accountReturn-reason__info-desc 
                    .accountReturn-reason__info-title Проблемы с качеством товара
                    .accountReturn-reason__info-txt.text-grey Виден клей вдоль швов
            .accountReturn-reason__bottom
                .accountReturn-reason__images.list 
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-1')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-2')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-3')
    .accountReturn__group-item
        .product-notification.accountReturn-reason
            .accountReturn-reason__info.d-grid 
                .accountReturn-reason__info-icon
                    +svg('return-icon-8', '38', '38', 'return')
                .accountReturn-reason__info-desc 
                    .accountReturn-reason__info-title Проблемы с качеством товара
                    .accountReturn-reason__info-txt.text-grey Виден клей вдоль швов
    .accountReturn__group-item
        .product-notification.accountReturn-reason
            .accountReturn-reason__info.d-grid 
                .accountReturn-reason__info-icon
                    +svg('return-icon-8', '38', '38', 'return')
                .accountReturn-reason__info-desc 
                    .accountReturn-reason__info-title Проблемы с качеством товара
            .accountReturn-reason__bottom
                .accountReturn-reason__images.list 
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-1')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-2')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-3')
    .accountReturn__group-item
        .product-notification.accountReturn-reason
            .accountReturn-reason__info.d-grid 
                .accountReturn-reason__info-icon
                    +svg('return-icon-8', '38', '38', 'return')
                .accountReturn-reason__info-desc 
                    .accountReturn-reason__info-title Проблемы с качеством товара
    .accountReturn__group-item
        .product-notification.accountReturn-reason
            .accountReturn-reason__info.d-grid.accountReturn-reason__info--no-icon
                .accountReturn-reason__info-desc 
                    .accountReturn-reason__info-title Проблемы с качеством товара
            .accountReturn-reason__bottom
                .accountReturn-reason__images.list 
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-1')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-2')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-3')
    .accountReturn__group-item
        .product-notification.accountReturn-reason
            .accountReturn-reason__info.d-grid 
                .accountReturn-reason__info-icon
                    +svg('return-icon-8', '38', '38', 'return')
                .accountReturn-reason__info-desc 
                    .accountReturn-reason__info-title Проблемы с качеством товара
                    .accountReturn-reason__info-txt.text-grey Виден клей вдоль швов
            .accountReturn-reason__bottom
                .accountReturn-reason__images.list 
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-1')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-2')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-3')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-1')
                    .accountReturn-reason__images-col.col
                        .accountReturn-reason__images-item.img-cover 
                            +jpgC('return-img-2')