.ashWarning
    .container 
        .ashWarning-content
            .ashWarning-content__inner.d-flex 
                .ashWarning-content__icon.icon.icon-black 
                    include ../../icons/info-12
                .ashWarning-content__txt Часть товаров удалена из вашего заказа, так как их больше нет в наличии