.order-mobile__group
    .order-mobile__item
        a.order-mobile__item-btn.d-flex(href="#addRecipientMobile" data-bs-second data-bs-toggle="offcanvas")  
            span.order-mobile__item-btn-icon.centered 
                +icon('user-icon') 
            span.order-mobile__item-btn-txt Алевтина Круглова
            span.order-mobile__item-btn-arrow.centered 
                +icon('right-icon')
        .order-mobile__item-desc 
            .order-mobile__item-list 
                .order-mobile__item-txt +7 903 483-38-34
                .order-mobile__item-txt alya@mail.ru