.order-mobile__group
    .order-mobile__item.order-mobile__delivery
        .order-mobile__delivery-top.d-flex 
            .order-mobile__delivery-info.d-flex 
                .order-mobile__delivery-info-icon.icon
                    +icon('delivery-icon') 
                .order-mobile__delivery-info-txt Курьером по адресу
            .order-mobile__delivery-price Бесплатно
        .order-mobile__delivery-bottom 
            .order-mobile__delivery-txt г. Москва, ул Мосфильмовская, дом 34,  кв. 45, п 4, этаж 2
            .order-mobile__delivery-txt-group
                .order-mobile__delivery-txt.d-grid 
                    .order-mobile__delivery-txt__icon.icon-outline 
                        include ../../../icons/clock-12
                    .order-mobile__delivery-txt__txt Дата доставки: 14-18 ноября
                .order-mobile__delivery-txt.d-grid 
                    .order-mobile__delivery-txt__icon.icon-outline 
                        include ../../../icons/comment-fill
                    .order-mobile__delivery-txt__txt Позвоните, когда будете у шлагбаума
            a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addAddressMobile" data-bs-second data-bs-toggle="offcanvas") изменить адрес и тип доставки

.order-mobile__group
    .order-mobile__item.order-mobile__delivery
        .order-mobile__delivery-top.d-flex 
            .order-mobile__delivery-info.d-flex 
                .order-mobile__delivery-info-icon.icon
                    +icon('delivery-icon') 
                .order-mobile__delivery-info-txt Курьером по адресу
            .order-mobile__delivery-top__txt 499 ₽
        .order-mobile__delivery-bottom 
            .order-mobile__delivery-txt г. Москва, ул Мосфильмовская, дом 34,  кв. 45, п 4, этаж 2
            .order-mobile__delivery-txt-group
                .order-mobile__delivery-txt.d-grid 
                    .order-mobile__delivery-txt__icon.icon-outline 
                        include ../../../icons/comment-fill
                    .order-mobile__delivery-txt__txt Позвоните, когда будете у шлагбаума
            a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addAddressMobile" data-bs-second data-bs-toggle="offcanvas") изменить адрес и тип доставки

.order-mobile__group
    .order-mobile__item.order-mobile__delivery
        .order-mobile__delivery-top.d-flex 
            .order-mobile__delivery-info.d-flex 
                .order-mobile__delivery-info-icon.icon
                    +icon('delivery-icon') 
                .order-mobile__delivery-info-txt Курьером по адресу
            .order-mobile__delivery-price Бесплатно
        .order-mobile__delivery-bottom 
            .order-mobile__delivery-txt г. Москва, ул Мосфильмовская, дом 34,  кв. 45, п 4, этаж 2
            .order-mobile__delivery-txt-group
                .order-mobile__delivery-txt.d-grid 
                    .order-mobile__delivery-txt__icon.icon-outline 
                        include ../../../icons/clock-12
                    .order-mobile__delivery-txt__txt Дата доставки: 14-18 ноября
            a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addAddressMobile"  data-bs-second data-bs-toggle="offcanvas") изменить адрес и тип доставки

.order-mobile__group
    .order-mobile__item.order-mobile__delivery
        .order-mobile__delivery-top.d-flex 
            .order-mobile__delivery-info.d-flex 
                .order-mobile__delivery-info-icon.icon
                    +icon('delivery-icon') 
                .order-mobile__delivery-info-txt
                    .order-mobile__delivery-info-txt__inner.d-flex 
                        .order-mobile__delivery-info-txt__txt Пункт выдачи СДЕК
                        .order-mobile__delivery-info-txt__icon.centered 
                            a.order-infoBlock__title-icon.icon.icon-black(href="#pickupPoint" data-bs-toggle="offcanvas")
                                include ../../../icons/info-11
            .order-mobile__delivery-top__txt 499 ₽
        .order-mobile__delivery-bottom 
            .order-mobile__delivery-txt г. Москва, ул Мосфильмовская, дом 34,  кв. 45, п 4, этаж 2
            a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addAddressMobile" data-bs-second data-bs-toggle="offcanvas") изменить адрес и тип доставки

.order-mobile__group
    .order-mobile__item.order-mobile__delivery
        .order-mobile__delivery-top.d-flex 
            .order-mobile__delivery-info.d-flex 
                .order-mobile__delivery-info-icon.icon
                    +icon('delivery-icon') 
                .order-mobile__delivery-info-txt Курьером по адресу
            .order-mobile__delivery-price Бесплатно
        .order-mobile__delivery-bottom 
            .order-mobile__delivery-txt г. Москва, ул Мосфильмовская, дом 34,  кв. 45, п 4, этаж 2
            .order-mobile__delivery-txt-group
                .order-mobile__delivery-txt.d-grid 
                    .order-mobile__delivery-txt__icon.icon-outline 
                        include ../../../icons/clock-12
                    .order-mobile__delivery-txt__txt Дата доставки: 14-18 ноября
            a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addAddressMobile" data-bs-second data-bs-toggle="offcanvas") изменить адрес и тип доставки