.order__m-head
    .order__m-head-inner.d-flex 
        .order__m-head-left 
            .order__m-head-step Шаг 3/3
            .order__m-head-title.ttl Проверьте все данные
            .order__m-head-txt и выберите способ оплаты
        .order__m-head-right
            a.offcanvas-close.btn-circle(href="#")
                include ../../../icons/x-11