<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.13611 10.5L9.4247 16.7886L8.71759 17.4957L1.64652 10.4246L1.29297 10.0711L1.64652 9.71752L8.71759 2.64645L9.4247 3.35356L3.27825 9.50001H18.0008V10.5H3.13611Z" fill="#1B1B1D"/>
</svg>