<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2.85553 2.14654L2.502 1.79297L1.79492 2.50011L2.14846 2.85368L9.29385 9.99972L2.14652 17.1472L1.79297 17.5008L2.50002 18.2079L2.85357 17.8544L10.0009 10.7069L17.1473 17.8539L17.5008 18.2074L18.2079 17.5003L17.8543 17.1467L10.708 9.99975L17.7783 2.92934L18.1318 2.57578L17.4248 1.86862L17.0712 2.22218L10.001 9.29261L2.85553 2.14654Z" fill="#1B1B1D"/>
</svg>