<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M18 4.5H2V3.5H18V4.5ZM18 10.5H2V9.5H18V10.5ZM2 16.5H18V15.5H2V16.5Z" fill="#1B1B1D"/>
</svg>