include ../utils/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet" type='text/css' href="static/css/swiper-bundle.min.css")
		link(rel="stylesheet" type='text/css' href="static/css/simplebar.min.css")
		link(rel="stylesheet" type='text/css' href="static/css/styles.min.css")
	body.has-notification
		.wrapper
			include ../modules/header/header-only-logo
			.order
				.container
					.order__inner
						.order__subhead
							.order__subhead-inner.d-flex 
								.order__subhead-item
									a.order__back.btn-circle(href="#") 
										+icon('a-left-sm')
								//- .order__subhead-item 
								//- 	.order__qty 
								//- 		span.desctop 16 товаров
								//- 		span.mobile (2)
						.order__title.ttl.h3 оформление заказа
						.order__content.flex 
							.order__col.order__col-3
							.order__col.order__col-6
								form.order-form.form(action="/") 
									.order-form__group 
										.order-form__title.h6.ttl Доставка
										.order-form__pricedelivery.d-flex
											.order-form__pricedelivery-name.title Стоимость доставки
											.order-form__pricedelivery-value Бесплатно
										if (first)
											.order-form__subtitle-group
												.order-form__subtitle Тип доставки
												.order-form__subtitle-group__txt Появится после выбора населенного пункта
											.form-item.form-item-dropdown
												.form-item__group 
													.form-item__label населенный пункт*
													input.form-input(type="text")
												.form-item__dropdown.outline-border
													.form-item__dropdown-scroll(data-simplebar)
														.form-item__list
															- for (let i = 0; i < 20; i++)
																.form-item__list-item 
																	label.form-item__dropdown-label
																		input(type="radio" name="city" data-value="г. Новосибирск, Новосибирская обл.")
																		span.form-item__dropdown-label__txt г. Новосибирск, 
																			span Новосибирская обл.
											//- .form-item.form-item-select
											//- 	.form-item__group 
											//- 		.form-item__label населенный пункт*
											//- 		input.form-input(type="text" data-validate) 
											//- 	.form-item__dropdown.outline-border
											//- 		.form-item__dropdown-scroll(data-simplebar)
											//- 			.form-item__list
											//- 				- for (let i = 0; i < 20; i++)
											//- 					.form-item__list-item 
											//- 						label.form-item__dropdown-label
											//- 							input(type="radio" name="city" data-value="г. Новосибирск, Новосибирская обл.")
											//- 							span.form-item__dropdown-label__txt г. Новосибирск, 
											//- 								span Новосибирская обл.

											if (delivery)
												include ../pages/order/delivery
											

										if (post == 'choose')
											include ../pages/order/post-choose
										else if (post == 'selected')
											include ../pages/order/post-selected

										if (secondPost)
											include ../pages/order/save-post
										if (courier)
											include ../pages/order/courier
										if (courierSecond)
											include ../pages/order/save-courier
										if (date)
											include ../pages/order/date

									if (recipient)
										.order-form__group 
											.order-form__title.h6.ttl получатель
											.order-form__row-wrapper
												.order-form__row.flex 
													.order-form__col 
														.form-item
															.form-item__group 
																.form-item__label имя*
																input.form-input(type="text" data-validate)
													.order-form__col 
														.form-item
															.form-item__group 
																.form-item__label фамилия*
																input.form-input(type="text" data-validate)
											.order-form__subtitle Контакты
											.order-form__row-wrapper.order-form__row-wrapper--mb-2
												.order-form__row.flex
													.order-form__col 
														.form-item.form-phone
															.form-phone__inner.d-flex 
																.form-phone__left 
																	a.form-phone__btn.d-flex(href="#") 
																		span.form-phone__btn-flag.centered 
																			+svg('rus', '24', '17')
																		span.form-phone__btn-txt +7
																		span.form-phone__btn-icon.icon 
																			+icon('down')
																.form-phone__right
																	.form-item__group 
																		.form-item__label.form-item__label--hidden телефон*
																		input.form-input.form-phone__input(type="tel" data-placeholder="(___)__-__-__" data-validate)
															.form-phone__dropdown.form-item__dropdown.outline-border
																.form-item__dropdown-scroll(data-simplebar)
																	.form-item__list
																		.form-item__list-item 
																			label.form-item__country
																				input(type="radio" name="country-phone" data-txt="+375" data-flag="static/images/general/bel.svg")
																				span.form-item__country-inner.d-flex 
																					span.form-item__country-flag.centered 
																						+svg('bel', '24', '17') 
																					span.form-item__country-txt Беларусь
																		.form-item__list-item 
																			label.form-item__country
																				input(type="radio" name="country-phone" data-txt="+7" data-flag="static/images/general/kz.svg")
																				span.form-item__country-inner.d-flex 
																					span.form-item__country-flag.centered 
																						+svg('kz', '24', '17') 
																					span.form-item__country-txt Казахстан
																		.form-item__list-item 
																			label.form-item__country
																				input(type="radio" checked name="country-phone" data-txt="+7" data-flag="static/images/general/rus.svg")
																				span.form-item__country-inner.d-flex 
																					span.form-item__country-flag.centered 
																						+svg('rus', '24', '17') 
																					span.form-item__country-txt Россия
													.order-form__col 
														.form-item
															.form-item__group 
																.form-item__label e-mail*
																input.form-input(type="email" data-validate)
															.form-item__txt.txt-label для отправки чека
											.order-form__row-wrapper
												.order-form__row.flex
													.order-form__col
														label.form-checkbox.txt-sm
															input(type="checkbox")
															span.form-checkbox__content 
																span.form-checkbox__icon
																span.form-checkbox__info Не звонить для подтверждения заказа
													.order-form__col
														.order-form__switch.switch.txt-sm
															.switch__content.d-flex 
																.switch__content-btn 
																	label.switch-btn
																		input(type="checkbox" checked name="news")
																		span.switch-btn__content 
																			span
																.switch__content-txt Подписаться на новости
											.order-form__row-wrapper
												.order-form__row.flex
													.order-form__col.order-form__col--fw 
														.form-item
															.form-item__group 
																.form-item__label комментарий к заказу
																input.form-input(type="text")
									.order-form__group 
										.order-form__title.h6.ttl способ оплаты
										.order-form__payments
											include ../pages/order/payments
										.order-form__controls
											.order-form__controls-btn 
												button.order-form__btn(type="submit" disabled) оплатить заказ
											//- if (switchSave)
											//- 	.order-form__controls-save 
											//- 		.switch.txt-sm
											//- 			.switch__content.d-flex 
											//- 				.switch__content-btn 
											//- 					label.switch-btn
											//- 						input(type="checkbox" checked name="news")
											//- 						span.switch-btn__content 
											//- 							span
											//- 				.switch__content-txt Сохранить данные для авторизации
											.order-form__controls-txt Нажимая на кнопку «оплатить заказ», я принимаю условия <a href="#" target="_blank">публичной оферты</a> и <a href="#" target="_blank">политики конфиденциальности</a>		
								form.order-mobile(action="/")
									if (selected)
										if (courier)
											.order-mobile__group
												.order-mobile__delivery
													.order-mobile__delivery-top.d-flex 
														.order-mobile__delivery-info.d-flex 
															.order-mobile__delivery-info-icon.icon
																+icon('delivery-icon') 
															.order-mobile__delivery-info-txt Курьером по адресу
														.order-mobile__delivery-price Бесплатно
													.order-mobile__delivery-bottom 
														.order-mobile__delivery-txt г. Москва, ул Мосфильмовская, дом 34,  кв. 45, п&nbsp;3
														a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addresses" data-type="addAddress"  data-bs-toggle="offcanvas") изменить адрес и тип доставки
										else
											.order-mobile__group
												.order-mobile__delivery
													.order-mobile__delivery-top.d-flex 
														.order-mobile__delivery-info.d-flex 
															.order-mobile__delivery-info-icon.icon 
																+icon('delivery-icon') 
															.order-mobile__delivery-info-txt В отделение почты России
														.order-mobile__delivery-price Бесплатно
													.order-mobile__delivery-bottom 
														.order-mobile__delivery-txt № 119285 по адресу г Москва, <br>ул Мосфильмовская, дом 34, индекс 438232
														.order-mobile__delivery-hidden.collapse#hiddenDeliveryInfo
															.order-mobile__delivery-hidden__inner 
																.order-mobile__delivery-hidden__txt График работы
																.order-mobile__delivery-hidden__list
																	.order-mobile__delivery-hidden__list-item.d-flex 
																		.order-mobile__delivery-hidden__list-left пн-пт
																		.order-mobile__delivery-hidden__list-right 08:00–20:00
																	.order-mobile__delivery-hidden__list-item.d-flex 
																		.order-mobile__delivery-hidden__list-left сб
																		.order-mobile__delivery-hidden__list-right 09:00–20:00
																	.order-mobile__delivery-hidden__list-item.d-flex 
																		.order-mobile__delivery-hidden__list-left вс
																		.order-mobile__delivery-hidden__list-right 10:00–18:00

														a.order-mobile__delivery-open.d-flex.change-link(href="#hiddenDeliveryInfo" data-bs-toggle="collapse" data-default="подробнее" data-change="свернуть")
															span.order-mobile__delivery-open-txt.change-link__output подробнее
															span.order-mobile__delivery-open-icon.centered 
																+svg('down', '16', '16')
														a.order-mobile__delivery-btn.btn.btn-outline.toggle-href(href="#addresses" data-type="addAddressPost" data-bs-toggle="offcanvas") изменить адрес и тип доставки
									else
										if(!error)
											.order-mobile__group
												.order-mobile__delivery
													.order-mobile__delivery-top.d-flex 
														.order-mobile__delivery-info.d-flex 
															.order-mobile__delivery-info-icon.icon
																+icon('delivery-icon') 
															.order-mobile__delivery-info-txt Доставка 
														.order-mobile__delivery-price Бесплатно
													
													.order-mobile__delivery-bottom 
														a.order-mobile__delivery-btn.btn.btn-outline(href="#addAddressMobile" data-bs-toggle="offcanvas") указать тип и адрес доставки
										else 
											.order-mobile__group
												.order-mobile__delivery.error
													.order-mobile__delivery-top.d-flex 
														.order-mobile__delivery-info.d-flex 
															.order-mobile__delivery-info-icon.icon
																+icon('delivery-icon') 
															.order-mobile__delivery-info-txt Укажите адрес
														.order-mobile__delivery-price Бесплатно
													
													.order-mobile__delivery-bottom 
														a.order-mobile__delivery-btn.btn.btn-outline(href="#addAddressMobile" data-bs-toggle="offcanvas") указать тип и адрес доставки
									//- if (selectedInfo)
									//- 	.order-mobile__group
									//- 		.order-mobile__item
									//- 			.order-mobile__item-btn.d-flex
									//- 				span.order-mobile__item-btn-icon.icon 
									//- 					+icon('clock-icon') 
									//- 				span.order-mobile__item-btn-txt Доставим в течение 7–14 дней
									//- 			.order-mobile__item-info.order-form__info
									//- 				.order-form__info-txt.d-flex 
									//- 					.order-form__info-txt-icon.centered 
									//- 						+svg('info')
									//- 					.order-form__info-txt-value Отгрузка происходит в течение 1–2 рабочих дней. Менеджер позвонит и уточнит удобный вам адрес отделения. 
									.order-mobile__group
										if (selectedInfo)
											.order-mobile__item
												a.order-mobile__item-btn.d-flex(href="#addRecipient" data-bs-toggle="offcanvas")  
													span.order-mobile__item-btn-icon.centered 
														+icon('user-icon') 
													span.order-mobile__item-btn-txt Алевтина Круглова
													span.order-mobile__item-btn-arrow.centered 
														+icon('right-icon')
												.order-mobile__item-desc 
													.order-mobile__item-list 
														.order-mobile__item-txt +7 903 483-38-34
														.order-mobile__item-txt alya@mail.ru
										else
											if (!error)
												.order-mobile__item
													a.order-mobile__item-btn.d-flex(href="#addRecipient" data-bs-toggle="offcanvas") 
														span.order-mobile__item-btn-icon.icon
															+icon('user-icon') 
														span.order-mobile__item-btn-txt Получатель
														span.order-mobile__item-btn-arrow.icon
															+icon('right-icon')
											else 
												.order-mobile__item.error
													a.order-mobile__item-btn.d-flex(href="#addRecipient" data-bs-toggle="offcanvas") 
														span.order-mobile__item-btn-icon.icon
															+icon('user-icon') 
														span.order-mobile__item-btn-txt Укажите получателя
														span.order-mobile__item-btn-arrow.icon
															+icon('right-icon')
									.order-mobile__group
										if (selectedInfo)
											.order-mobile__item
												a.order-mobile__item-btn.d-flex(href="#addComment" data-bs-toggle="offcanvas")
													span.order-mobile__item-btn-icon.icon
														+icon('comment-icon') 
													span.order-mobile__item-btn-txt Комментарий к заказу
													span.order-mobile__item-btn-arrow.icon 
														+icon('right-icon')
												.order-mobile__item-desc 
													.order-mobile__item-list 
														.order-mobile__item-txt +7 903 483-38-34
										else
											.order-mobile__item
												a.order-mobile__item-btn.d-flex(href="#addComment" data-bs-toggle="offcanvas") 
													span.order-mobile__item-btn-icon.icon 
														+icon('comment-icon') 
													span.order-mobile__item-btn-txt Комментарий к заказу
													span.order-mobile__item-btn-arrow.icond 
														+icon('right-icon')
									if(courier)
										.order-mobile__group
											.order-mobile__item
												.order-mobile__item-btn.d-flex
													span.order-mobile__item-btn-icon.icon
														+icon('clock-icon') 
													span.order-mobile__item-btn-txt Дата и время
												.order-mobile__item-payments
													include ../pages/order/date
									.order-mobile__group
										.order-mobile__item
											.order-mobile__item-btn.d-flex
												span.order-mobile__item-btn-icon.icon
													+icon('cash-icon') 
												span.order-mobile__item-btn-txt Способ оплаты
											.order-mobile__item-payments.order-form__payments
												include ../pages/order/payments
									.order-mobile__group
										.order-mobile__item
											.order-mobile__item-btn.d-flex
												span.order-mobile__item-btn-icon.icon 
													+icon('order-icon') 
												span.order-mobile__item-btn-txt Ваш заказ
												a.order-mobile__item-btn-link(href="#") Изменить
											.order-mobile__item-products 
												.order-mobile__item-products-list.flex
													.order-mobile__item-products-item 
														.order-mobile__item-product.centered 
															.order-mobile__item-product-img
																+pngC('stphoto_ru')
															.order-mobile__item-product-size.centered 36
													.order-mobile__item-products-item 
														.order-mobile__item-product.centered 
															.order-mobile__item-product-img
																+pngC('stphoto_ru')
															.order-mobile__item-product-size.centered 36
											.order-info__promocode
												include ../modules/forms/promocode
											.order-info__price.d-flex.ttl
												a.order-info__price-name.d-flex(href="#hiddenPriceInfo" data-bs-toggle="offcanvas") 
													.order-info__price-name-txt Итого
													.order-info__price-name-icon.centered
														+svg('info', '16', '16')
												.order-info__price-value 18 336 ₽
											.order-info__total.d-flex 
												.order-info__total-qty 3 товара
												.order-info__total-price Экономия 2839 ₽ 
											.order-info__controls 
												.order-info__controls-btn
													button.order-form__btn#orderBtn(type="submit" disabled) оплатить заказ 
												.order-info__controls-txt  Нажимая на кнопку «оплатить заказ», я принимаю условия <a href="#" target="_blank">публичной оферты</a> и <a href="#" target="_blank">политики конфиденциальности</a>
										.order-mobile__stickyPay.visible.animate
											.order-mobile__stickyPay-inner.d-flex 
												.order-mobile__stickyPay-left 
													.order-mobile__stickyPay-type Оплата картой
													.order-mobile__stickyPay-value.ttl 18 336 ₽
												.order-mobile__stickyPay-right 
													a.order-mobile__stickyPay-btn.btn(href="#") оплатить заказ
										.order-mobile__dropdownPrice.offcanvas.offcanvas-bottom#hiddenPriceInfo
											a.order-mobile__dropdownPrice-close.icon(href="#" data-bs-dismiss="offcanvas") 
												+svg('close', '14', '14')
											.order-mobile__dropdownPrice-inner
												.order-mobile__dropdownPrice-top 
													.order-total__list 
														.order-total__list-item.d-flex
															.order-total__list-item__name Сумма
															.order-total__list-item__value 22 765 ₽
														.order-total__list-item.d-flex
															.order-total__list-item__name Скидка на товары
															.order-total__list-item__value.order-total__list-item__value--red — 2 584 ₽
														.order-total__list-item.d-flex
															.order-total__list-item__name Скидка по промокоду
															.order-total__list-item__value.order-total__list-item__value--red — 3 586 ₽
														.order-total__list-item.d-flex
															.order-total__list-item__name Доставка
															.order-total__list-item__value 0 ₽
												.order-mobile__dropdownPrice-bottom 
													.order-info__price.d-flex.ttl
														.order-info__price-name.d-flex
															.order-info__price-name-txt Итого
														.order-info__price-value 18 336 ₽
													.order-info__total.d-flex 
														.order-info__total-qty 3 товара
														.order-info__total-price Экономия 2839 ₽ 
							.order__col.order__col-3
								.order-total.outline-border 
									.order-total__head
										.order-total__head-inner.d-flex 
											.order-total__head-title.ttl.h6 Ваш заказ
											a.order-total__head-link.tech-14 изменить
									.order-total__products.outline-border.outline-border-top 
										if (products == 1)
											.order-card
												.order-card__inner.d-flex 
													.order-card__img
														+jpgC('total-img-1', '124', '152')
													.order-card__info 
														.order-card__title Addict
														.order-card__category Ботинки
														.order-card__size
															.order-card__size-inner.d-flex
																.order-card__size-txt 38
																.order-card__size-color(style="background: #EBE3CF;") 
														.order-card__price 12 990 ₽ 
										else 
											.order-products.flex 
												.order-products__item 
													.order-card
														.order-card__inner.d-flex 
															.order-card__img.order-card__img--fw
																+jpgC('total-img-2', '124', '152')
																.order-card__size-absolute.centered 39
												.order-products__item 
													.order-card
														.order-card__inner.d-flex 
															.order-card__img.order-card__img--fw
																+jpgC('total-img-1', '124', '152')
																.order-card__size-absolute.centered 39
									.order-total__promocode 
										include ../modules/forms/promocode 
									.order-total__info.outline-border.outline-border-bottom 
										.order-total__list 
											.order-total__list-item.d-flex
												.order-total__list-item__name Сумма
												.order-total__list-item__value 22 765 ₽
											.order-total__list-item.d-flex
												.order-total__list-item__name Скидка на товары
												.order-total__list-item__value -3 670 ₽
											.order-total__list-item.d-flex
												.order-total__list-item__name Скидка по промокоду
												.order-total__list-item__value -3 586 ₽
											.order-total__list-item.d-flex
												.order-total__list-item__name Доставка
												.order-total__list-item__value 0 ₽
									.order-total__bottom
										.order-total__bottom-inner.d-flex 
											.order-total__bottom-item
												.order-total__bottom-item__title.ttl Итого
												.order-total__bottom-item__txt.tech-14 3 товара
											.order-total__bottom-item
												.order-total__bottom-item__title.ttl 18 336 ₽
												.order-total__bottom-item__txt.tech-14 Экономия 2 839 ₽
			include ../modules/footer/footer
			include ../modules/notification/notification-top
		include ../modules/modals/modals
		include ../modules/popups/popups
		include ../modules/orderOffcanvas/chooseOffice
		include ../modules/orderOffcanvas/addresses
		include ../modules/orderOffcanvas/addAddress
		include ../modules/orderOffcanvas/addAddressMobile
		include ../modules/orderOffcanvas/addAddressPost
		include ../modules/orderOffcanvas/addRecipient
		include ../modules/orderOffcanvas/addRecipientMobile
		include ../modules/orderOffcanvas/addComment
		//- include ../modules/popups/order
		script(src="static/js/libs.js")
		script(src="static/js/swiper-bundle.min.js")
		script(src="static/js/simplebar.min.js")
		script(src="static/js/imask.js")
		script(src="static/js/main.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script(src="static/js/postoffice.js")
		block script
