.nullPage
    .container 
        .nullPage-content 
            .nullPage-content__info
                .nullPage-content__info-img 
                    +pngG('404', '726', '465')
                .nullPage-content__info-title.h4.ttl Такой страницы нет
                .nullPage-content__info-txt Возможно также, что страница ранее была на сайте, но сейчас она удалена. <br> Не&nbsp;расстраивайтесь! Посмотрите на другие страницы сайта.
                a.nullPage-content__info-btn.btn(href="#") на главную
            .nullPage-content__decor
                .nullPage-content__decor-item.nullPage-content__decor-item--left
                    +svg('null-decor-2', '208', '219')
                .nullPage-content__decor-item.nullPage-content__decor-item--right
                    +svg('null-decor-1', '302', '153')