.aboutTwo {
    &-content {
        &__txt {
            margin-bottom: rem(132);
        }
        &__images {
            padding-left: rem(262);
            padding-right: rem(186);
            &-item {
                position: relative;
                width: fit-content;
                &--right {
                    margin-left: auto;
                    margin-top: rem(36);
                }
                &__year {
                    font-size: rem(278);
                    line-height: 81%;
                    font-family: 'FK Screamer Trial';
                    color: var(--main-bg);
                    position: absolute;
                    z-index: -1;
                    text-shadow:
                        -1px -1px 0 black,
                        1px -1px 0 black,
                        -1px  1px 0 black,
                        1px  1px 0 black;
                    &--left {
                        left: rem(-32);
                    }
                    &--right {
                        top: rem(-80);
                        left: rem(20);
                    }
                }
                &__img {
                    &--left {
                        margin-bottom: rem(12);
                    }
                    &--right {
                        text-align: right;
                        margin-right: rem(14);
                        margin-bottom: rem(76);
                    }
                    img {
                        width: rem(304);
                    }
                }
                &__txt {
                    font-size: rem(28);
                    line-height: 133%;
                    
                    &--left {
                        padding-left: rem(12);
                        transform: rotate(-4.39deg);
                    }
                    &--right {
                        transform: rotate(-1.43deg);
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .aboutTwo {
        &-content {
            &__txt {
                margin-bottom: rem(104);
            }
            &__images {
                padding-left: rem(166);
                padding-right: rem(146);
                &-item {
                    &--right {
                        margin-top: rem(-32);
                    }
                    &__year {
                        font-size: rem(226);
                        line-height: 81%;
                        &--left {
                            left: rem(-12);
                            top: rem(-24);
                        }
                        &--right {
                            top: rem(-100);
                            left: rem(10);
                        }
                    }
                    &__img {
                        &--left {
                            margin-bottom: rem(28);
                        }
                        &--right {
                            margin-right: rem(14);
                            margin-bottom: rem(16);
                        }
                        img {
                            width: rem(270);
                        }
                    }
                    &__txt {
                        font-size: rem(22);
                        &--left {
                            padding-left: rem(54);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .aboutTwo {
        padding-bottom: rem(24);
        overflow: initial;
        &-content {
            &__txt {
                margin-bottom: rem(78);
            }
            &__images {
                padding-left: rem(10);
                padding-right: rem(6);
                &-item {
                    &--right {
                        margin-top: rem(134);
                    }
                    &__year {
                        font-size: rem(142);
                        &--left {
                            left: rem(-8);
                            top: rem(-14);
                        }
                        &--right {
                            top: rem(-64);
                            left: rem(8);
                        }
                    }
                    &__img {
                        img {
                            width: rem(170);
                        }
                        &--left {
                            margin-bottom: rem(4);
                        }
                        &--right {
                            margin-right: rem(10);
                            margin-bottom: rem(8);
                        }
                    }
                    &__txt {
                        font-size: rem(14);
                        &--left {
                            padding-left: rem(30);
                        }
                    }
                }
            }
        }
    }
}