.aboutYears {
    position: sticky;
    top: var(--height-scroll);
    z-index: 9;
    height: rem(174);
    display: flex;
    align-items: center;
    background: var(--years-bg);
    overflow: hidden;
    padding-left: var(--containter-padding);
    padding-right: var(--containter-padding);
    &__list {
        gap: rem(54);
        transition: transform .4s linear;
        transform: translateX(60rem);
    }
    &__item {
        font-size: rem(64);
        line-height: 84%;
        letter-spacing: -0.05em;
        white-space: nowrap;
        color: var(--years-color);
        transition: .4s linear;
        will-change: transform;
        &.selected {
            font-size: rem(120);
            color: var(--years-color-selected);
        }
    }
    &__proxy {
        &-list {
            gap: rem(54);
            display: flex;
        }
        .aboutYears__item {
            transition: 0s;
            &.selected {
                font-size: rem(120);
            }
        }
    }
}

@media (max-width: 1440px) {
    .aboutYears {
        height: rem(132);
        &__list {
            gap: rem(40);
            transform: translateX(50rem);
        }
        &__item {
            font-size: rem(48);
            &.selected {
                font-size: rem(100);
            }
        }
        &__proxy {
            &-list {
                gap: rem(40);
            }
            .aboutYears__item {
                &.selected {
                    font-size: rem(100);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .aboutYears {
        height: rem(70);
        &__list {
            gap: rem(16);
            transform: translateX(20rem);
        }
        &__item {
            font-size: rem(20);
            &.selected {
                font-size: rem(44);
            }
        }
        &__proxy {
            &-list {
                gap: rem(16);
            }
            .aboutYears__item {
                &.selected {
                    font-size: rem(44);
                }
            }
        }
    }
}