.orderMap-controls  
    .orderMap-controls__inner
        .orderMap-controls__location
            button.orderMap-locationBtn.button
                span.button__txt определить местоположение
                span.button__icon.icon-outline
                    include ../../icons/location-12
        .orderMap-controls__zoom
            .orderMap-controls__zoom-list 
                .orderMap-controls__zoom-item
                    button.orderMap-zoomBtn.centered(type="button")
                        span.orderMap-zoomBtn__icon.icon-outline
                            include ../../icons/plus-12
                .orderMap-controls__zoom-item
                    button.orderMap-zoomBtn.centered(type="button")
                        span.orderMap-zoomBtn__icon.icon-outline
                            include ../../icons/minus-12