.accountReturn__group
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Способ возврата
        a.link-icon(href="#returnMethod2Offcanvas" data-bs-toggle="offcanvas") 
            span.link-icon__txt Указать
            span.link-icon__icon.icon-outline 
                include ../../../icons/edit-12
    .accountReturn__group-item
        .product-notification
            .product-notification__item.d-flex 
                .product-notification__item-icon.icon-outline
                    +icon('i')
                .product-notification__item-txt Возврат товара осуществляется за счет покупателя. Мы компенсируем стоимость только по причине брака товара. Укажите способ возврата после подтверждения.