.accountReturn__group
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Способ возврата
    .accountReturn__group-item
        .accountReturn-method.second-bg.rounded-1
            .accountReturn-method__head.d-grid.align-center.accountReturn-method__head--no-icon
                .accountReturn-method__head-info.medium.uppercase Возврат товара в магазин Vnukovo outlet village
            .accountReturn-method__txt 
                p Возврат товара надлежащего качества, купленного в фирменных розничных магазинах “ASH”, принимается в магазине, в котором была совершена покупка.
            .accountReturn-method__content 
                .accountReturn-method__item.d-grid
                    .accountReturn-method__item-left 
                        .accountReturn-method__item-name Адрес
                    .accountReturn-method__item-right
                        .accountReturn-method__item-value Vnukovo outlet village , пос. Московский, дер. Лапшинка, вл. 8, корп. 