.aboutIntro
    .container 
        .aboutIntro-content.d-flex.flex-col
            .aboutIntro-content__title.ttl Ash  -  любовь <br>к свободе <br>и экспериментам <br>длиной в 20 лет
            .aboutIntro-content__txt.d-flex 
                .aboutIntro-content__txt-item.ttl since
                .aboutIntro-content__txt-item.ttl 2000
                .aboutIntro-content__txt-item.ttl Italy
            .aboutIntro-content__img
                .aboutIntro-content__img-desktop
                    +pngG('intro-img', '1389', '891', 'about')
                .aboutIntro-content__img-mobile 
                    +pngG('intro-img-m', '523', '293', 'about')
            .aboutIntro-content__icons.d-flex
                .aboutIntro-content__icons-item
                    .aboutIntro-content__iconItem.d-flex
                        .aboutIntro-content__iconItem-icon.centered 
                            +svg('intro-icon-1', '46', '46', 'about')
                        .aboutIntro-content__iconItem-txt RECYCLE REUSE
                .aboutIntro-content__icons-item
                    .aboutIntro-content__icons-list.d-flex 
                        .aboutIntro-content__iconItem.d-flex
                            .aboutIntro-content__iconItem-icon.centered 
                                +svg('intro-icon-2', '46', '46', 'about')
                        .aboutIntro-content__iconItem.d-flex
                            .aboutIntro-content__iconItem-icon.centered 
                                +svg('intro-icon-3', '46', '46', 'about')
                        .aboutIntro-content__iconItem.d-flex
                            .aboutIntro-content__iconItem-icon.centered.aboutIntro-content__iconItem-icon--size-2
                                +svg('intro-icon-4', '61', '43', 'about') 
                        .aboutIntro-content__iconItem.d-flex
                            .aboutIntro-content__iconItem-icon.centered 
                                +svg('intro-icon-5', '46', '46', 'about')