.aboutOne.js-block.s-main.aboutSection(data-item="1")
    .container
        .aboutSection__yearPos
        .aboutOne-content
            .aboutOne-content__top
                .aboutOne-content__top-img
                    .m-hidden
                        +svg('s-00-1', '1818', '288', 'about')
                    .d-hidden 
                        +svg('s-00-1-m', '354', '180', 'about')
                .aboutOne-content__top-right.absolute
                    +svg('s-00-2', '302', '288', 'about') 
                .aboutOne-content__top-left.absolute
                    +svg('s-00-3', '210', '102', 'about')
            .aboutOne-content__imgTop
                +pngG('s-00-img-1', '345', '404', 'about')
            .aboutOne-content__txt.aboutPage__txt.aboutPage__txt--center <span class="m-hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Французский дизайнер Патрик Итье и итальянский предприниматель Леонелло Кальвани объединили свою любовь к моде и многолетний опыт работы в индустрии и создали бренд обуви ASH. Бренд впитал в себя французский шик и итальянский стиль со своим подходом к качеству.
            .aboutOne-content__quote.ttl.aboutPage__subtitle <span class="aboutPage__subtitle-indent"></span>Когда мы запускались, рынок был наводнен исключительно дорогой обувью и базовыми скучными моделями, а доступной обуви, соответствующей модным тенденциям, стильной и яркой, просто не было
            .aboutOne-content__author.d-flex.align-center.aboutPage__txt 
                .aboutOne-content__author-img 
                    +pngG('s-00-user', '121', '121', 'about')
                .aboutOne-content__author-txt Патрик Итье, <br>дизайнер Ash
            .aboutOne-content__imgBottom.relative
                .aboutOne-content__imgBottom-decorTop
                    .aboutOne-content__imgBottom-decorTop__front.absolute 
                        +pngG('s-00-decor-1', '269', '268', 'about')
                    .aboutOne-content__imgBottom-decorTop__back.absolute
                        +pngG('s-00-decor-2', '252', '268', 'about')
                .aboutOne-content__imgBottom-img.relative
                    .m-hidden
                        +pngG('s-00-img-2', '518', '377', 'about')
                    .d-hidden 
                        +pngG('s-00-img-2-m', '338', '244', 'about')
                .aboutOne-content__imgBottom-decorTxt
                    .aboutOne-content__imgBottom-decorTxt__img.absolute 
                        +svg('s-00-5', '152', '42', 'about')
                    .aboutOne-content__imgBottom-decorTxt__txt.lemon.absolute ASH Studio <br>Paris