.aboutTwo.js-block.s-main.aboutSection(data-item="2")
    .container
        .aboutSection__yearPos
        .aboutTwo-content
            .aboutTwo-content__txt.aboutPage__txt.aboutPage__txt--center ASH находят свой особенный подход к дизайну обуви и показывают это миру. Дизайнеры смело экспериментируют с формами, объединяют разные стили, разрабатывают уникальные вышивки и принты, которые становятся знаковыми для бренда. Например, в 2004 году ASH выпускаю модель на каждый день, вдохновленную футбольными бутсами.
            .aboutTwo-content__images
                .aboutTwo-content__images-item
                    .aboutTwo-content__images-item__year.aboutTwo-content__images-item__year--left 2002
                    .aboutTwo-content__images-item__img.aboutTwo-content__images-item__img--left
                        +pngG('s-04-img-1', '304', '450', 'about')
                    .aboutTwo-content__images-item__txt.lemon.aboutTwo-content__images-item__txt--left Модели с вышивкой
                .aboutTwo-content__images-item.aboutTwo-content__images-item--right
                    .aboutTwo-content__images-item__year.aboutTwo-content__images-item__year--right 2004
                    .aboutTwo-content__images-item__img.aboutTwo-content__images-item__img--right
                        +pngG('s-04-img-2', '304', '164', 'about')
                    .aboutTwo-content__images-item__txt.lemon.aboutTwo-content__images-item__txt--right Модель, вдохновленная бутсами