.aboutFive.js-block.s-black.aboutSection(data-item="5")
    .container 
        .aboutSection__yearPos
        .aboutFive-content
            .aboutFive-content__imgTop.relative
                .aboutFive-content__imgTop-img
                    .aboutFive-content__imgTop-img__inner.scotch
                        +pngG('s-10-img-1', '228', '258', 'about')
            .aboutFive-content__txt.aboutPage__txt.aboutPage__txt--center Мадонна выбирает кеды на каблуке ASH для выступлений в рамках своего турне. Стоит ли говорить, что все поклонницы певицы захотели себе точно такие же. А придя в ASH, многие впервые увидели, что бренд может предложить десятки оригинальных моделей и на каждый день, и для особых случае. Теперь ASH официально вошел в историю моды.
            .aboutFive__sticky
                .aboutFive-content__title.aboutPage__subtitle.ttl <span class="aboutPage__subtitle-indent">Сегодня среди поклонниц ASH — <span class="text-orange">Джиджи Хадид, Хейли Бибер, Кендалл Дженнер, Ариана Гранде, Эмили Ратаковски, Энн Хэтэуэй</span> и многие другие звезды.
                .aboutFive-content__imgBottom-wrap
                    div
                        .aboutFive-content__imgBottom
                            .aboutFive-content__imgBottom-item.aboutFive-content__imgBottom-1 
                                +pngG('s-10-img-2', '372', '518', 'about')
                            .aboutFive-content__imgBottom-item.aboutFive-content__imgBottom-2
                                +pngG('s-10-img-3', '372', '518', 'about')
                            .aboutFive-content__imgBottom-item.aboutFive-content__imgBottom-3 
                                +pngG('s-10-img-4', '372', '518', 'about')
                            .aboutFive-content__imgBottom-left.absolute.image 
                                //- include svg/1
                                +svg('s-10-img-5', '210', '224','about')
                            .aboutFive-content__imgBottom-right.absolute.image
                                //- include svg/1
                                +svg('s-10-img-6', '74', '78', 'about')
                        .aboutFive-content__decor.absolute.image
                            +svg('s-10-img-7', '436', '464', 'about')
                            //- include svg/2
            .aboutFive-content__txt-bottom.aboutPage__txt.aboutPage__txt--center В этом же года ASH запустили знаковую байкерскую линейку, созданную в Мексике. Дизайнеры представили свою версию байкерских ботинок — более утонченную, с уклоном в винтаж.
                    
                    