.aboutEight.js-block.s-black.aboutSection(data-item="7") 
    .container 
        .aboutSection__yearPos
        .aboutEight-content
            .aboutEight-content__txt.aboutPage__txt.aboutPage__txt--center ASH посвящает международную рекламную кампанию мексиканской коллекции. В спортивную линию вошли кеды на знаковой танкетке — они покорили мир моды штурмом, коллекция была полностью распродана.
            .aboutEight-content__img.d-flex 
                .aboutEight-content__img-item.aboutEight-content__img-1.image
                    +pngG('s-12-img-1', '484', '596', 'about')
                .aboutEight-content__img-item.aboutEight-content__img-2.image
                    +pngG('s-12-img-2', '394', '526', 'about')