.aboutTen.js-block.s-main.aboutSection(data-item="9") 
    .container 
        .aboutSection__yearPos
        .aboutTen-content
            .aboutTen-content__title.aboutPage__subtitle.ttl <span class="aboutPage__subtitle-indent"></span><span class="text-orange">Первые рекламные кампании ASH</span> с супермоделями и инфлюенсерами — Эрин Уоссон и Лу-Лу Робертс. Дебют массивных кроссовок.
            .aboutTen-content__img.d-flex
                .aboutTen-content__img-left
                    .aboutTen-content__img-item.aboutTen-content__img-1.image 
                        +pngG('s-17-img-1', '638', '458', 'about')
                .aboutTen-content__img-right.d-flex
                    .aboutTen-content__img-item.aboutTen-content__img-2.image 
                        +pngG('s-17-img-2', '196', '294', 'about')
                    .aboutTen-content__img-item.aboutTen-content__img-3.image 
                        +pngG('s-17-img-3', '198', '294', 'about')
                .aboutTen-content__img-txt.lemon.absolute ASH Studio Paris