.aboutEleven.aboutSection(data-item="10") 
    .aboutEleven__top.js-block.s-white 
        .container 
            .aboutSection__yearPos
            .aboutEleven-content
                .aboutEleven-content__txtImg.d-flex
                    .aboutEleven-content__txtImg-txt.aboutPage__txt Коллаборация ASH со всемирно известными художником Филипом Паговски. Паговски представил редизайна двух знаковых моделей женских и мужских кед ASH Tweed и Flame. 
                    .aboutEleven-content__txtImg-img.scotch
                        +pngG('s-18-img-1', '402', '484', 'about')
                .aboutEleven-content__gifs
                    .aboutEleven-content__gifs-item.d-flex
                        .aboutEleven-content__gifs-item__gif.aboutEleven-content__gifs-item__gif--left.image 
                            img(src="static/images/general/about/gif-1.gif", alt="gif")
                        .aboutEleven-content__gifs-item__img.aboutEleven-content__gifs-item__img--left.image
                            +pngG('s-18-img-2', '242', '310', 'about')
                    .aboutEleven-content__gifs-item.d-flex
                        .aboutEleven-content__gifs-item__img.aboutEleven-content__gifs-item__img--right.image
                            +pngG('s-18-img-3', '246', '338', 'about')
                        .aboutEleven-content__gifs-item__gif.aboutEleven-content__gifs-item__gif--right.image 
                            img(src="static/images/general/about/gif-2.gif", alt="gif")
                .aboutEleven-content__quote.aboutOne-content__quote.ttl.aboutPage__subtitle <span class="aboutPage__subtitle-indent"></span> Мне показалось, что твидовый рисунок будет отлично смотреться на кедах, и я попробовал поиграть с различными элементами, которые составляют рисунок в виде «ёлочки», —
                .aboutEleven-content__author.aboutOne-content__author.d-flex.align-center.aboutPage__txt 
                    .aboutOne-content__author-img 
                        +pngG('s-18-user', '121', '121', 'about')
                    .aboutOne-content__author-txt Филип Паговски
                .aboutEleven-content__b-txt.aboutEleven-content__txt.aboutPage__txt.aboutPage__txt--center Объяснил свой подход художник. Кеды Flame получили не менее выразительный дизайн за счет использования контрастных цветов — белого, черного, желтого и крупных графических элементов.
    .aboutEleven__bottom.js-block.s-black
        .container 
            .aboutEleven-content
                .aboutEleven-content__txt.aboutPage__txt.aboutPage__txt--center В этом же году ASH представил новую концепцию бутиков. Теперь это не просто магазины, а арт-пространства, передающие философию и ДНК бренда.
                .aboutEleven-content__img
                    .aboutEleven-content__img-list 
                        .aboutEleven-content__img-list__item
                            .aboutEleven-content__img-item.aboutEleven-content__img-1.image.scotch.m-hidden
                                +pngG('s-18-img-4', '604', '444', 'about')
                            .aboutEleven-content__img-item.aboutEleven-content__img-1.image.scotch.d-hidden
                                +pngG('s-18-img-9', '320', '250', 'about')
                        .aboutEleven-content__img-list__item
                            .aboutEleven-content__img-item.aboutEleven-content__img-2.image
                                +pngG('s-18-img-5', '328', '476', 'about')
                        .aboutEleven-content__img-list__item
                            .aboutEleven-content__img-item.aboutEleven-content__img-3.image 
                                +pngG('s-18-img-6', '448', '296', 'about')
                        .aboutEleven-content__img-list__item
                            .aboutEleven-content__img-item.aboutEleven-content__img-4.image 
                                +pngG('s-18-img-7', '680', '440', 'about')
                    .aboutEleven-content__img-decor.absolute.image
                        +pngG('s-18-img-8', '668', '434', 'about')
                    .aboutEleven-content__img-txt.absolute.lemon ASH Studio Paris