.aboutThirteen.aboutSection(data-item="12") 
    .aboutThirteen__top.js-block.s-black
        .container 
            .aboutSection__yearPos
            .aboutThirteen-content 
                .aboutThirteen-content__txt.aboutPage__txt.aboutPage__txt--center В преддверии 20-летия ASH разрабатывают принципиально новые дизайны кроссовок, экспериментируют с цветами, градиентами, фактурой на подошве. Год запуска хитов Flash, Flex, Extasy, Extreme.
                .aboutThirteen-content__title.ttl.aboutPage__subtitle <span class="aboutPage__subtitle-indent"></span> <span>В это же время в социальных сетях стремительно набирает обороты хештег <span class="text-orange">#ASHGirls.</span> Девушки по всему миру делятся образами в обуви ASH. Авторы публикаций часто появляются в официальных аккаунтах бренда</span>
                    <svg width="243" height="252" viewBox="0 0 243 252" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M99.5279 67.6424L100.804 68.7764C100.946 68.9182 101.229 69.0601 101.513 69.0601C102.647 69.0601 103.781 69.4853 104.916 70.1941C105.483 70.6194 106.475 70.4777 106.9 69.9106C107.042 69.7689 107.042 69.6272 107.042 69.6272C109.311 63.1058 109.878 60.8373 112.855 55.1665C115.265 50.4881 117.392 45.8098 118.952 41.4149C120.795 36.1694 124.623 30.6403 125.473 26.2454C125.473 26.1037 125.473 26.1037 125.615 25.962L136.532 1.71932C137.099 0.585157 138.233 -0.123797 139.509 0.0179733C142.629 0.301513 144.046 2.14459 143.763 5.4053C143.337 12.2103 140.927 17.314 137.241 22.9848C136.957 23.4101 136.816 23.8355 136.674 24.2608C134.264 32.3417 132.137 38.5796 130.152 42.6909C127.316 48.787 125.899 51.9059 125.757 52.0477C122.638 59.1362 118.101 66.6499 115.124 73.4549C114.698 74.4473 115.124 75.7232 116.116 76.2903L121.787 79.4092C122.071 79.5509 122.354 79.8346 122.496 80.2599C123.063 81.9612 124.197 82.5281 125.899 82.2446C126.04 82.2446 126.324 82.2447 126.466 82.3865L157.373 98.69C158.224 99.1153 159.358 98.8318 159.784 97.9812C159.925 97.8394 159.925 97.6976 159.925 97.5558L160.918 93.161C161.06 92.5939 161.201 92.1686 161.485 91.7433C164.604 85.7889 167.723 81.394 170.275 75.0143C172.118 70.4777 172.969 67.3588 174.528 64.0981C176.655 59.4197 178.356 55.3083 179.349 51.6223C181.334 44.8173 186.721 38.296 187.856 30.0733C188.139 27.805 188.99 26.1038 190.266 25.1114C193.81 22.276 199.198 21.7089 199.056 28.0885C199.056 29.0809 198.772 31.2075 198.489 34.3264C198.347 34.8935 198.205 35.4605 197.922 36.0276C194.944 41.9819 193.385 47.9362 190.407 53.8906C186.154 62.5385 182.893 68.493 180.908 74.7309C180.767 75.1562 180.625 75.5815 180.341 76.0068C175.946 84.0877 172.118 93.1609 168.999 103.227C168.716 103.935 168.999 104.786 169.708 105.07C176.513 109.323 181.759 111.307 188.423 114.568C188.848 114.852 189.132 115.277 188.848 115.844L188.281 117.262C188.139 117.545 188.281 117.687 188.564 117.829C188.706 117.829 188.848 117.829 188.99 117.829C189.699 117.262 190.549 117.404 191.542 117.971C191.684 118.112 191.825 118.254 191.684 118.538C191.684 118.68 191.542 118.68 191.542 118.68C191.258 118.821 190.975 118.963 190.975 119.105C190.975 119.388 191.116 119.53 191.4 119.672C191.4 119.672 191.4 119.672 191.542 119.672C194.377 119.53 197.213 120.239 200.048 121.657C200.616 121.94 201.325 122.224 201.892 122.224C205.153 122.649 209.973 124.067 216.353 126.76C221.315 128.745 229.255 131.439 240.03 134.699C242.156 135.408 243.432 137.535 242.865 139.803C242.298 141.93 240.172 143.348 238.045 142.922C231.807 141.788 227.412 140.654 224.86 139.803C213.943 135.692 200.616 131.155 184.878 126.193C177.931 124.067 170.984 119.672 165.738 117.829C164.888 117.545 163.753 117.971 163.328 118.821C159.784 126.193 156.806 134.133 154.396 142.639C151.986 151.003 149.15 159.084 146.031 166.456C145.606 167.448 145.464 168.724 145.747 170.142C145.889 171.134 146.74 171.985 148.158 172.41C155.388 174.821 163.612 179.924 171.126 182.618C187.997 188.856 204.302 195.944 219.614 200.197C221.173 200.623 222.166 202.324 221.741 203.883C221.599 204.167 221.599 204.45 221.315 204.734V204.876C220.039 206.86 217.771 207.853 215.361 207.569C210.257 207.002 206.145 206.293 203.167 205.726C184.453 201.757 165.596 194.81 146.456 184.886C145.039 184.177 143.621 183.61 142.203 183.185C141.069 182.901 140.076 183.468 139.651 184.603C138.517 187.863 137.524 190.273 136.532 191.975C134.972 194.526 133.838 196.937 132.987 199.063C129.868 207.144 127.458 213.524 125.615 218.344C123.914 223.022 122.78 231.67 119.802 236.632C117.959 239.609 116.399 243.295 115.265 247.832C114.84 249.533 113.989 250.809 112.713 251.66C111.863 252.227 110.728 252.085 110.161 251.235C110.02 251.093 109.878 250.809 109.878 250.667C108.885 247.123 109.027 242.303 110.303 238.475C111.579 234.647 113.139 229.402 114.84 222.739C116.116 217.635 118.526 212.248 120.227 207.428C120.369 207.002 120.511 206.435 120.511 206.01C121.22 201.757 122.354 197.929 124.056 194.385C125.615 191.266 127.742 186.02 130.436 178.79C130.577 178.365 130.436 177.798 130.01 177.514L83.6489 155.682C83.2236 155.54 82.6564 155.682 82.5146 156.107C79.9626 161.778 77.5525 167.59 75.1422 173.403C74.7169 174.395 73.7245 176.096 72.1649 178.79C71.1725 180.35 70.4635 181.909 69.8964 183.61C66.4937 193.25 62.8076 201.473 58.696 208.278C55.2934 214.091 52.8832 218.06 51.6072 220.47C50.6147 222.172 48.7715 223.164 46.9284 222.739C45.7942 222.455 44.6599 221.605 43.6675 220.045C43.3839 219.62 43.2422 219.053 43.384 218.627C44.0929 215.65 44.5182 213.665 44.8018 212.815C49.0551 202.182 51.6072 196.086 52.316 194.527C55.0098 188.714 59.1213 182.618 61.6733 177.089C65.6431 168.157 69.1875 161.211 73.2991 150.578C73.4408 150.294 73.2991 149.869 73.0156 149.727C59.4049 142.639 42.5332 134.274 22.4008 124.35C15.0283 120.664 9.92441 117.12 2.26841 112.158C0.850632 111.308 0.141778 110.032 0 108.614C0 108.189 0.141812 107.763 0.567146 107.48C2.69381 106.346 4.25337 105.92 5.52937 106.345C10.7751 108.33 14.036 109.323 15.4538 109.323C15.7374 109.323 15.8791 109.323 16.1627 109.181C17.5805 108.756 18.9982 109.039 20.5578 109.89C24.6693 112.158 29.0643 114.143 33.743 115.844C37.571 117.262 43.1003 119.955 50.0475 124.067C50.0475 124.067 50.0476 124.067 50.1894 124.067L77.836 138.386C78.2614 138.669 78.9701 138.386 79.1119 137.96C79.1119 137.96 79.1119 137.96 79.1119 137.819L101.938 82.9534C102.222 82.2446 102.08 81.3941 101.371 80.9688C97.9685 78.5587 94.1404 76.8573 90.1706 74.3055C79.5373 67.217 69.3293 60.6956 59.5467 54.4577C57.7036 53.3235 54.868 51.1969 50.8983 48.2198C47.3538 45.5261 44.5183 43.9667 45.936 39.5718C46.3614 38.1541 47.779 37.4454 49.1968 37.8707C49.3386 37.8707 49.4804 38.0124 49.764 38.1541C63.0911 45.5262 76.9852 53.8907 91.163 63.3893C91.5884 63.6728 91.872 63.8146 92.2973 63.9564C94.5658 64.807 96.4088 65.7993 98.1102 67.217C98.3937 67.5005 98.9609 67.6423 99.3862 67.7841C99.2444 67.6423 99.2444 67.6424 99.5279 67.6424ZM133.98 87.2065C133.98 86.923 133.838 86.7813 133.555 86.7813C133.271 86.7813 133.129 86.923 133.129 87.2065C133.129 87.4901 133.271 87.6319 133.555 87.6319C133.696 87.6319 133.98 87.4901 133.98 87.2065ZM154.112 110.173L112.004 87.4902C111.154 87.0648 110.161 87.3484 109.594 88.199V88.3407C107.326 93.3027 106.333 95.7127 106.192 95.7127C105.483 96.9887 104.49 99.3988 103.214 103.227C102.647 104.786 100.946 108.897 97.8267 115.702C95.8418 120.097 93.8568 126.477 91.7302 134.983C91.5884 135.692 91.3048 136.401 91.0213 136.968C90.1706 138.527 89.4617 140.229 89.0364 142.072C88.8946 142.78 89.1783 143.489 89.8872 143.773L113.847 155.256C113.847 155.256 113.989 155.256 113.989 155.398C118.384 158.517 124.197 161.636 131.57 164.755C134.547 166.031 136.39 165.038 137.241 161.778C138.233 157.383 139.793 153.697 141.778 150.578C142.77 149.018 143.479 147.459 143.904 145.758C145.889 136.968 148.441 128.745 152.127 121.09C153.687 117.971 154.538 114.71 154.68 111.307C154.68 110.882 154.396 110.457 154.112 110.173ZM186.012 115.277C185.729 114.994 185.445 115.135 185.162 115.277C185.02 115.419 185.02 115.844 185.162 115.986L186.154 117.262C186.438 117.404 186.721 117.262 186.721 116.978C186.721 116.836 186.721 116.695 186.721 116.695C186.58 115.986 186.296 115.419 186.012 115.277ZM41.8245 122.933C41.1156 121.94 39.9813 121.09 38.4217 120.522C38.1382 120.381 37.9964 120.523 37.8546 120.806L37.7129 121.231C37.5711 121.373 37.7128 121.657 37.9963 121.798L41.5408 123.5C41.6826 123.5 41.8244 123.5 41.9662 123.358C41.9662 123.216 41.9662 123.074 41.8245 122.933ZM46.2195 123.925C46.2195 123.641 45.5106 122.933 44.0929 122.082C43.8093 121.94 43.5257 121.94 43.384 122.224C43.384 122.366 43.2422 122.366 43.2422 122.507C43.1005 123.641 43.6675 124.492 44.9435 124.917C45.3688 125.059 45.936 124.917 46.2195 124.35C46.2195 124.209 46.2195 124.067 46.2195 123.925ZM93.2897 148.026C93.1479 147.601 93.0063 147.459 92.7227 147.459C92.0138 147.459 91.4467 148.026 91.4467 148.735C91.4467 149.16 91.7302 149.727 92.1556 149.869C92.2973 150.011 92.5809 149.869 93.0062 149.727C93.2898 149.444 93.5732 148.735 93.2897 148.026ZM172.26 185.028C172.26 184.461 171.693 183.894 171.126 183.894C170.559 183.894 169.992 184.461 169.992 185.028C169.992 185.595 170.559 186.162 171.126 186.162C171.835 186.162 172.26 185.737 172.26 185.028ZM182.043 188.856C181.901 188.997 182.043 189.423 182.468 189.848C182.893 190.273 183.319 190.415 183.461 190.273C183.602 190.132 183.46 189.706 183.035 189.281C182.752 188.856 182.326 188.714 182.043 188.856Z" fill="#F05D36"/></svg>
                .aboutThirteen-content__images.relative
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-1.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-1', '358', '239', 'about')
                        
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-2.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-2', '300', '300', 'about')
                        
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-3.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-3', '282', '353', 'about')
                        
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-4.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-4', '282', '353', 'about')
                        
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-5.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-5', '358', '238', 'about')
                        
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-6.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-6', '282', '353', 'about')
                    .aboutThirteen-content__images-item.absolute.aboutThirteen-content__images-7.image
                        .aboutThirteen-content__images-item__inner
                            +jpgG('s-21-img-7', '300', '300', 'about')
                    .aboutThirteen-content__images__txt.lemon.aboutThirteen-content__images__txt-1.text-orange.absolute.uppercase Flex
                    .aboutThirteen-content__images__txt.lemon.aboutThirteen-content__images__txt-2.text-orange.absolute #ASHgirls
                    .aboutThirteen-content__images__txt.lemon.aboutThirteen-content__images__txt-3.text-orange.absolute.uppercase Extreme
                    .aboutThirteen-content__images__txt.lemon.aboutThirteen-content__images__txt-4.text-orange.absolute #ASHgirls
                    .aboutThirteen-content__images__txt.lemon.aboutThirteen-content__images__txt-5.text-orange.absolute.uppercase Flash
                    .aboutThirteen-content__images__txt.lemon.aboutThirteen-content__images__txt-7.text-orange.absolute.uppercase Extasy
    .aboutThirteen__bottom.js-block
        .container
            .aboutThirteen-content 
                .aboutThirteen-banner.relative
                    .aboutThirteen-banner__sm.absolute.image 
                        +jpgG('s-21-img-8', '604', '455', 'about')
                    .aboutThirteen-banner__big.image
                        +jpgG2('s-21-img-9', '1372', '475', [{mw: '480', name: 's-21-img-9-m'}], 'about')
                    .aboutThirteen-banner__logo.absolute.image 
                        +svg('reash-white', '818', '154', 'about')
                    .aboutThirteen-banner__txt.absolute ASH JOURNEYS INTO <br>THE GREEN ZONE
                .aboutThirteen-content__txt.aboutPage__txt.aboutPage__txt--center ASH запускает экологическую линейку RE/ASH. В коллекцию вошли разные модели из эко-материалов - переработанной кожи. переработанного полиэстера, био-полиола, кукурузного крахмала, кожи без металла и без хрома.
                .aboutThirteen-content__title.ttl.aboutPage__subtitle <span class="aboutPage__subtitle-indent"></span>                             ASH разрабатывает продукты, которые кореллируются как с&nbsp;ценностями бренда, так и&nbsp;с&nbsp;ценностями наших покупателей. Эта коллекция - шаг в правильном направлении и 
                    span.text-green начало крепкой связи с экологией
                .aboutThirteen-content__bImages.relative 
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-1.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +svg('s-21-bimg-1', '134', '134', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-2.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +svg('s-21-bimg-2', '118', '114', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-3.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG('s-21-bimg-3', '374', '382', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-4.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG('s-21-bimg-4', '392', '392', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-5.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG('s-21-bimg-5', '188', '188', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-6.image.scotch.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG3('s-21-bimg-6', '732', '538', [{mw: '480', name: 's-21-bimg-6-m'}], 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-7.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG('s-21-bimg-7', '402', '392', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-8.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG('s-21-bimg-8', '388', '393', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-9.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +pngG('s-21-bimg-9', '196', '196', 'about')
                    .aboutThirteen-content__bImage-item.aboutThirteen-content__bImages-10.image.absolute
                        .aboutThirteen-content__bImage-item__inner
                            +svg('reash-black', '806', '152', 'about')