.aboutFourteen.js-block.aboutSection(data-item="13") 
    .container 
        .aboutSection__yearPos
        .aboutFourteen-content
            .aboutFourteen-content__tImg.relative
                .aboutFourteen-content__tImg-item.aboutFourteen-content__tImg-1.absolute.image
                    .aboutFourteen-content__tImg-item__inner
                        +svg('s-22-img-1', '538', '325', 'about')
                .aboutFourteen-content__tImg-item.aboutFourteen-content__tImg-2.absolute.image.scotch
                    .aboutFourteen-content__tImg-item__inner
                        +pngG('s-22-img-2', '362', '528', 'about')
                .aboutFourteen-content__tImg-item.aboutFourteen-content__tImg-3.absolute.image
                    .aboutFourteen-content__tImg-item__inner
                        +svg('s-22-img-3', '238', '245', 'about')
                .aboutFourteen-content__tImg-item.aboutFourteen-content__tImg-4.absolute.image
                    .aboutFourteen-content__tImg-item__inner
                        +svg('s-22-img-4', '128', '124', 'about')
            .aboutFourteen-content__txt.aboutPage__txt.aboutPage__txt--center Бренд  запустил линейку Be Kind. В весенне-летней эко-коллекции появилась знаковая вышивка в виде микро-цветочка - на задней части кед, майках, спортивных костюмах.
            .aboutFourteen-content__title.ttl.aboutPage__subtitle <span class="aboutPage__subtitle-indent"></span> Миниатюрный цветочек стал <span class="text-orange">«меткой» и символом вклада в будущее и защиты нашей планеты,</span> на которой если мы постараемся быть чуть более осознанными) продолжают расти цветы.
            .aboutFourteen-content__bImg
                .aboutFourteen-content__bImg-item.aboutFourteen-content__bImg-1.image
                    .aboutFourteen-content__bImg-item__inner
                        +pngG('s-22-img-5', '412', '564', 'about')
                .aboutFourteen-content__bImg-item.aboutFourteen-content__bImg-2.image
                    .aboutFourteen-content__bImg-item__inner
                        +svg('s-22-img-6', '324', '310', 'about')