.aboutFifteen.js-block.s-black.aboutSection(data-item="14") 
    .container 
        .aboutSection__yearPos
        .aboutFifteen-content 
            .aboutFifteen-content__txt.aboutPage__txt.aboutPage__txt--center ASH представили новую коллекцию #beASHtive. В период пандемии команда ASH, как и люди во всем мире, искала вдохновение в новых занятиях и увлечениях. Наконец вернувшись к нормальной жизни, ASH решили вдохновить своих поклонниц быть позитивными и активными, наслаждаться каждым моментом, быть уверенной в себе и представили коллекцию, вдохновленную серфингом. Бренд снял захватывающую кампанию на Канарских островах
            .aboutFifteen-content__img.relative 
                .aboutFifteen-content__img-item.aboutFifteen-content__img-1.absolute.image 
                    .aboutFifteen-content__img-item__inner
                        +jpgG('s-23-img-1', '539', '655', 'about')
                .aboutFifteen-content__img-item.aboutFifteen-content__img-2.absolute.image.scotch 
                    .aboutFifteen-content__img-item__inner
                        +pngG('s-23-img-2', '964', '306', 'about')
                .aboutFifteen-content__img-item.aboutFifteen-content__img-3.absolute.image.scotch 
                    .aboutFifteen-content__img-item__inner
                        +pngG('s-23-img-3', '396', '382', 'about')
                .aboutFifteen-content__img-item.aboutFifteen-content__img-4.absolute.image 
                    .aboutFifteen-content__img-item__inner
                        +jpgG('s-23-img-4', '520', '677', 'about')
                .aboutFifteen-content__img-txt.absolute.lemon.text-orange #beASHtive