.aboutYears
    .aboutYears__list.d-flex(data-pos="0") 
        .aboutYears__list-item 
            .aboutYears__item.ttl.selected(data-item="1") 2000
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="2") 2002 - 2004
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="3") 2005
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="4") 2006
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="5") 2010
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="6") 2011
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="7") 2012
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="8") 2013-2014
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="9") 2015
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="10") 2017
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="11") 2018
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="12") 2019-2020
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="13") 2021
        .aboutYears__list-item 
            .aboutYears__item.ttl(data-item="14") 2022
    .aboutYears__proxy.d-flex(style="position:absolute; visibility:hidden; pointer-events:none; white-space: nowrap; top:0; left:0;")
        .aboutYears__proxy-list
            .aboutYears__list-item 
                .aboutYears__item.ttl.selected(data-item="1") 2000
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="2") 2002 - 2004
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="3") 2005
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="4") 2006
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="5") 2010
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="6") 2011
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="7") 2012
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="8") 2013-2014
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="9") 2015
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="10") 2017
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="11") 2018
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="12") 2019-2020
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="13") 2021
            .aboutYears__list-item 
                .aboutYears__item.ttl(data-item="14") 2022