.product-more
    .container 
        .product-more__title.ttl.h3 Вам может <br>понравиться
        .productLike
            .productLike__group
                .productLike-grid.d-grid.d-grid-list
                    .productLike-grid__item
                        .productLike-item.relative
                            .productLike-img
                                +pngC('like-1', '336', '512')
                            a.card(href="#")
                                .card__mobile-grid
                                    .card-img
                                        .card-img__slider.slider
                                            .swiper-wrapper 
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo1', '209', '280')
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo2', '209', '280')
                                        .card-img__pagination
                                    .card-info.card-info--cart
                                        .card-info__name.txt-sm Tracy
                                        .card-price.card-info__price.txt-sm
                                            .card-price__new 18 990 ₽
                                            .card-price__old 22 990 ₽ 
                                        .card-info__sizes 
                                            .card-sizes.d-flex.txt-sm
                                                .card-sizes__item.card-sizes__item--mr-2 36
                                                .card-sizes__item.card-sizes__item--mr-2 37
                                                .card-sizes__item.card-sizes__item--mr-2 38
                                                .card-sizes__item.card-sizes__item--mr-2 39
                                                .card-sizes__item.card-sizes__item--mr-2 40
                                                .card-sizes__item.card-sizes__item--mr-2 41
                                .card-stickers
                                    .card-stickers__item.card-stickers__item--sale.ttl.sticker -30%
                                button.card-favorite.fav-btn.icon(type="button")
                                    .card-favorite__animate
                                    +icon('heart') 
                                    +icon('heart-fill')
                    .productLike-grid__item.productLike-grid__item--m-hidden
                        .productLike-item.relative
                            a.card(href="#")
                                .card-img
                                    .card-img__slider.slider
                                        .swiper-wrapper 
                                            .swiper-slide 
                                                .card-img__slider-img.card-img__slider-img--sm
                                                    +pngC('photo1', '209', '280')
                                            .swiper-slide 
                                                .card-img__slider-img.card-img__slider-img--sm
                                                    +pngC('photo2', '209', '280')
                                    .card-img__pagination
                                .card-info.card-info--cart
                                    .card-info__name.txt-sm Tracy
                                    .card-price.card-info__price.txt-sm
                                        .card-price__new 18 990 ₽
                                        .card-price__old 22 990 ₽ 
                                    .card-info__sizes 
                                        .card-sizes.d-flex.txt-sm
                                            .card-sizes__item.card-sizes__item--mr-2 36
                                            .card-sizes__item.card-sizes__item--mr-2 37
                                            .card-sizes__item.card-sizes__item--mr-2 38
                                            .card-sizes__item.card-sizes__item--mr-2 39
                                            .card-sizes__item.card-sizes__item--mr-2 40
                                            .card-sizes__item.card-sizes__item--mr-2 41
                    .productLike-grid__item.productLike-grid__item--m-hidden
                        .productLike-item.relative
                            .productLike-img
                                +pngC('like-2', '336', '361')
                            a.card(href="#")
                                .card__mobile-grid
                                    .card-img
                                        .card-img__slider.slider
                                            .swiper-wrapper 
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo1', '209', '280')
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo2', '209', '280')
                                        .card-img__pagination
                                    .card-info.card-info--cart
                                        .card-info__name.txt-sm Tracy
                                        .card-price.card-info__price.txt-sm
                                            .card-price__new 18 990 ₽
                                            .card-price__old 22 990 ₽ 
                                        .card-info__sizes 
                                            .card-sizes.d-flex.txt-sm
                                                .card-sizes__item.card-sizes__item--mr-2 36
                                                .card-sizes__item.card-sizes__item--mr-2 37
                                                .card-sizes__item.card-sizes__item--mr-2 38
                                                .card-sizes__item.card-sizes__item--mr-2 39
                                                .card-sizes__item.card-sizes__item--mr-2 40
                                                .card-sizes__item.card-sizes__item--mr-2 41
                                .card-stickers
                                    .card-stickers__item.card-stickers__item--sale.ttl.sticker -30%
                                button.card-favorite.fav-btn.icon(type="button")
                                    .card-favorite__animate
                                    +icon('heart') 
                                    +icon('heart-fill')
                    .productLike-grid__item.productLike-grid__item--m-hidden
                        .productLike-item.relative
                            .productLike-img
                                +pngC('like-1', '336', '512')
                            a.card(href="#")
                                .card__mobile-grid
                                    .card-img
                                        .card-img__slider.slider
                                            .swiper-wrapper 
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo1', '209', '280')
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo2', '209', '280')
                                        .card-img__pagination
                                    .card-info.card-info--cart
                                        .card-info__name.txt-sm Tracy
                                        .card-price.card-info__price.txt-sm
                                            .card-price__new 18 990 ₽
                                            .card-price__old 22 990 ₽ 
                                        .card-info__sizes 
                                            .card-sizes.d-flex.txt-sm
                                                .card-sizes__item.card-sizes__item--mr-2 36
                                                .card-sizes__item.card-sizes__item--mr-2 37
                                                .card-sizes__item.card-sizes__item--mr-2 38
                                                .card-sizes__item.card-sizes__item--mr-2 39
                                                .card-sizes__item.card-sizes__item--mr-2 40
                                                .card-sizes__item.card-sizes__item--mr-2 41
                                .card-stickers
                                    .card-stickers__item.card-stickers__item--sale.ttl.sticker -30%
                                button.card-favorite.fav-btn.icon(type="button")
                                    .card-favorite__animate
                                    +icon('heart') 
                                    +icon('heart-fill')
            .productLike__group
                .productLike-grid.d-grid.d-grid-list
                    .productLike-grid__item.productLike-grid__item--m-hidden
                        .productLike-item.relative
                            .productLike-img
                                +pngC('like-1', '336', '512')
                            a.card(href="#")
                                .card__mobile-grid
                                    .card-img
                                        .card-img__slider.slider
                                            .swiper-wrapper 
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo1', '209', '280')
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo2', '209', '280')
                                        .card-img__pagination
                                    .card-info.card-info--cart
                                        .card-info__name.txt-sm Tracy
                                        .card-price.card-info__price.txt-sm
                                            .card-price__new 18 990 ₽
                                            .card-price__old 22 990 ₽ 
                                        .card-info__sizes 
                                            .card-sizes.d-flex.txt-sm
                                                .card-sizes__item.card-sizes__item--mr-2 36
                                                .card-sizes__item.card-sizes__item--mr-2 37
                                                .card-sizes__item.card-sizes__item--mr-2 38
                                                .card-sizes__item.card-sizes__item--mr-2 39
                                                .card-sizes__item.card-sizes__item--mr-2 40
                                                .card-sizes__item.card-sizes__item--mr-2 41
                                .card-stickers
                                    .card-stickers__item.card-stickers__item--sale.ttl.sticker -30%
                                button.card-favorite.fav-btn.icon(type="button")
                                    .card-favorite__animate
                                    +icon('heart') 
                                    +icon('heart-fill')
                    .productLike-grid__item.productLike-grid__item--m-hidden
                        .productLike-item.relative
                            .productLike-img
                                +pngC('like-1', '336', '512')
                            a.card(href="#")
                                .card__mobile-grid
                                    .card-img
                                        .card-img__slider.slider
                                            .swiper-wrapper 
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo1', '209', '280')
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo2', '209', '280')
                                        .card-img__pagination
                                    .card-info.card-info--cart
                                        .card-info__name.txt-sm Tracy
                                        .card-price.card-info__price.txt-sm
                                            .card-price__new 18 990 ₽
                                            .card-price__old 22 990 ₽ 
                                        .card-info__sizes 
                                            .card-sizes.d-flex.txt-sm
                                                .card-sizes__item.card-sizes__item--mr-2 36
                                                .card-sizes__item.card-sizes__item--mr-2 37
                                                .card-sizes__item.card-sizes__item--mr-2 38
                                                .card-sizes__item.card-sizes__item--mr-2 39
                                                .card-sizes__item.card-sizes__item--mr-2 40
                                                .card-sizes__item.card-sizes__item--mr-2 41
                                .card-stickers
                                    .card-stickers__item.card-stickers__item--sale.ttl.sticker -30%
                                button.card-favorite.fav-btn.icon(type="button")
                                    .card-favorite__animate
                                    +icon('heart') 
                                    +icon('heart-fill')
                    .productLike-grid__item
                        .productLike-item.relative
                            .productLike-img
                                +pngC('like-2', '336', '361')
                            a.card(href="#")
                                .card__mobile-grid
                                    .card-img
                                        .card-img__slider.slider
                                            .swiper-wrapper 
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo1', '209', '280')
                                                .swiper-slide 
                                                    .card-img__slider-img.card-img__slider-img--sm.card-img__slider-img--m-sm
                                                        +pngC('photo2', '209', '280')
                                        .card-img__pagination
                                    .card-info.card-info--cart
                                        .card-info__name.txt-sm Tracy
                                        .card-price.card-info__price.txt-sm
                                            .card-price__new 18 990 ₽
                                            .card-price__old 22 990 ₽ 
                                        .card-info__sizes 
                                            .card-sizes.d-flex.txt-sm
                                                .card-sizes__item.card-sizes__item--mr-2 36
                                                .card-sizes__item.card-sizes__item--mr-2 37
                                                .card-sizes__item.card-sizes__item--mr-2 38
                                                .card-sizes__item.card-sizes__item--mr-2 39
                                                .card-sizes__item.card-sizes__item--mr-2 40
                                                .card-sizes__item.card-sizes__item--mr-2 41
                                .card-stickers
                                    .card-stickers__item.card-stickers__item--sale.ttl.sticker -30%
                                button.card-favorite.fav-btn.icon(type="button")
                                    .card-favorite__animate
                                    +icon('heart') 
                                    +icon('heart-fill')
                    .productLike-grid__item.productLike-grid__item--m-hidden
                        .productLike-item.relative
                            a.card(href="#")
                                .card-img
                                    .card-img__slider.slider
                                        .swiper-wrapper 
                                            .swiper-slide 
                                                .card-img__slider-img.card-img__slider-img--sm
                                                    +pngC('photo1', '209', '280')
                                            .swiper-slide 
                                                .card-img__slider-img.card-img__slider-img--sm
                                                    +pngC('photo2', '209', '280')
                                    .card-img__pagination
                                .card-info.card-info--cart
                                    .card-info__name.txt-sm Tracy
                                    .card-price.card-info__price.txt-sm
                                        .card-price__new 18 990 ₽
                                        .card-price__old 22 990 ₽ 
                                    .card-info__sizes 
                                        .card-sizes.d-flex.txt-sm
                                            .card-sizes__item.card-sizes__item--mr-2 36
                                            .card-sizes__item.card-sizes__item--mr-2 37
                                            .card-sizes__item.card-sizes__item--mr-2 38
                                            .card-sizes__item.card-sizes__item--mr-2 39
                                            .card-sizes__item.card-sizes__item--mr-2 40
                                            .card-sizes__item.card-sizes__item--mr-2 41
                    