.product-more 
    .container
        .productMedia
            .productMedia__inner.d-grid.d-grid-list 
                .productMedia__inner-left 
                    .product-more__title.ttl.h3 медиа об addict
                .productMedia__inner-right
                    .productMedia-list.d-grid.d-grid-list
                        .productMedia-list__item
                            .productMedia-card.relative
                                .productMedia-card__inner.d-grid.d-grid-list
                                    .productMedia-card__inner-left
                                        .productMedia-card__img
                                            +pngC('media-1', '608', '390')
                                    .productMedia-card__inner-right
                                        .productMedia-card__info.productMedia-card__info--solo 
                                            .productMedia-card__category.uppercase Style icon
                                            .productMedia-card__title.ttl.uppercase 
                                                a.full-link(href="#") 10 новых ботфортов на осень
                                            .productMedia-card__txt Must-have для модного бренда — иметь свою базу в итальянской фешн-столице. В Милане находится дизайн студия ASH и магазин в богемном районе Брера на Via Madonnina (оцените, как же это красиво звучит!). С радостью делимся своими любимыми местами в Милане.


.product-more 
    .container
        .productMedia
            .productMedia__inner.d-grid.d-grid-list 
                .productMedia__inner-left 
                    .product-more__title.ttl.h3 медиа об addict
                .productMedia__inner-right
                    .productMedia-list.d-grid.d-grid-list
                        .productMedia-list__item
                            .productMedia-card.relative
                                .productMedia-card__inner.d-grid.d-grid-list
                                    .productMedia-card__inner-left
                                        .productMedia-card__img.productMedia-card__img--vertical
                                            +pngC('media-2', '358', '390')
                                    .productMedia-card__inner-right
                                        .productMedia-card__info.productMedia-card__info--solo 
                                            .productMedia-card__category.uppercase Style icon
                                            .productMedia-card__title.ttl.uppercase 
                                                a.full-link(href="#") 10 новых ботфортов на осень
                                            .productMedia-card__txt Must-have для модного бренда — иметь свою базу в итальянской фешн-столице. В Милане находится дизайн студия ASH и магазин в богемном районе Брера на Via Madonnina (оцените, как же это красиво звучит!). С радостью делимся своими любимыми местами в Милане.