.product-more 
    .container
        .productMedia
            .productMedia__inner.d-grid.d-grid-list 
                .productMedia__inner-left 
                    .product-more__title.ttl.h3 медиа об addict
                .productMedia__inner-right
                    .productMedia-list.d-grid.d-grid-list.productMedia-list--2-items 
                        .productMedia-list__item
                            .productMedia-card.relative
                                .productMedia-card__img
                                    +pngC('media-1', '608', '390')
                                .productMedia-card__info 
                                    .productMedia-card__category.uppercase Style icon
                                    .productMedia-card__title.ttl.uppercase 
                                        a.full-link(href="#") 10 новых ботфортов на осень
                        .productMedia-list__item
                            .productMedia-card.relative.productMedia-card--vertical
                                .productMedia-card__img
                                    +pngC('media-2', '358', '390')
                                .productMedia-card__info 
                                    .productMedia-card__category.uppercase Style icon
                                    .productMedia-card__title.ttl.uppercase 
                                        a.full-link(href="#") 10 новых ботфортов на осень