.hits {
    &-content {
        padding-left: 72px;
        padding-right: 108px;
        align-items: center;
        justify-content: space-between;
        &__img {
            width: 750px;
            max-width: 100%;
        }
        &__info {
            width: 702px;
            max-width: 100%;
        }
    }
    &-info {
        text-align: center;
        &__title {
            margin-bottom: 40px;
        }
        &__list {
            width: 500px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
        &__txt {
            line-height: normal;
            text-transform: uppercase;
            font-weight: 500;
            span {
                display: block;
            }
        }
    }
    &-list {
        &__item {
            width: 50%;
        }
        &__img {
            aspect-ratio: 1/1;
            
            img {
                width: auto;
                height: 218px;
                margin-top: -68px;
            }
        }
    }
    &-img {
        text-align: center;
    }
}

.grey-img {
    background: var(--card--bg);
    display: flex;
    justify-content: center;
    img {
        mix-blend-mode: darken;
        width: auto;
    }
}

.mainSections {
    overflow: hidden;
}

.mainSection {
    margin: 9.5vw 0;
    
    &:first-child {
        // margin-top: vw(112, 1920);
        margin-top: 112px;
    }
    &:last-child {
        // margin-bottom: vw(112, 1920);
        margin-bottom: 112px;
    }
    &__group {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-head {
        margin-bottom: 32px;
        &__inner {
            justify-content: space-between;
            align-items: flex-end;
        }
        
    }
    &__link {
        align-items: center;
        font-weight: 500;
        stroke: var(--black);
        text-transform: uppercase;
        &-icon {
            width: 14px;
            height: 14px;
            margin-left: 6px;
        }
    }
    &-slider {
        &__slide {
            width: 454px;
            height: initial;
        }
        .card {
            height: auto;
        }
    }
    &-slider-wrapper {
        position: relative;
       
        &:hover {
            .mainSection-btn {
                opacity: 1;
            }
        }
    }
    &-slider-fullWidth {
        margin-left: calc(-1 * var(--container-padding));
        margin-right: calc(-1 * var(--container-padding));
    }
    &-btn {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        opacity: 0;
        background: var(--white);
        border-radius: 50%;
        transition: opacity .2s ease-in-out;
        box-shadow: 0px 2px 10.1px rgba(0, 0, 0, 0.08);
        &.swiper-button-lock, &.swiper-button-disabled {
            display: none;
        }
    }
    &-prev {
        left: 20px;
    }
    &-next {
        right: 20px;
    }
    &-content {
        &__col {
            width: 50%;
            margin-bottom: 0;
        }
    }
    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-item {
            &--bottom-right {
                .list {
                    justify-content: flex-end;
                }
            }
            &--top-right {
                .list {
                    justify-content: flex-end;
                }
            }
        }
        &-imgGroup {
            &__col {
                width: 50%;
            }
        }
    }
    &__img {
        img {
            width: 100%;
        }
    }
    &__sm-img {
        // width: 454px;
        max-width: 100%;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 1440px) {
    .mainSection {
        margin: 137px 0;
        &:first-child {
            // margin-top: vw(84, 1440);
            margin-top: 84px;
        }
        &:last-child {
            // margin-bottom: vw(84, 1440);
            margin-bottom: 84px;
        }
        &__group {
            margin-bottom: 12px;
        }
        &-head {
            margin-bottom: 28px;
        }
        &-slider {
            &__slide {
                width: 341px;
            }
        }
        &__sm-img {
            // width: 340px;
        }
        &-btn {
            width: 40px;
            height: 40px;
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

    .hits {
        &-content {
            padding-left: 60px;
            padding-right: 86px;
            &__img {
                width: 558px;
            }
            &__info {
                width: 516px;
            }
        }
        &-info {
            &__title {
                margin-bottom: 32px;
                margin-left: -10px;
                margin-right: -10px;
            }
            &__list {
                width: 370px;
                margin-bottom: 32px;
            }
        }
        &-list {
            &__img {
                img {
                    height: 160px;
                    margin-top: -48px;
                }
            }
        }
    }
}

@media (max-width: 932px) {
    .mainSection {
        margin: 80px 0;
        &:first-child {
            margin-top: 44px;
        }
        &:last-child {
            margin-bottom: 80px;
        }
        &__group {
            margin-bottom: 8px;
        }
        &-head {
            margin-bottom: 12px;
            &__inner {
                align-items: flex-start;
                justify-content: flex-start;
            }
        }
        &__link {
            &-txt {
                display: none;
            }
            &-icon {
                margin-left: 4px;
                margin-top: 2px;
            }
        }
        &-slider {
            &__slide {
                width: 173px;
            }
        }
        &-content {
            flex-wrap: wrap;
            &__col {
                width: 100%;
                &--img {
                    order: 2;
                }
                // &:last-child {
                //     order: -1;
                // }
            }
        }
        &__info {
            &-item {
                &--img {
                    display: none;
                }
            }
        }
        &-btn {
            display: none;
        }
    }
    .hits {
        &-content {
            padding-left: 0;
            padding-right: 0;
            flex-wrap: wrap;
            &__img {
                width: 100%;
                margin-bottom: 44px;
            }
            &__info {
                width: 100%;
            }
        }
        &-info {
            &__title {
                font-size: 24px;
                letter-spacing: -0.02em;
                margin-bottom: 12px;
            }
            &__list {
                margin-bottom: 12px;
            }
        }
        &-list {
            &__img {
                img {
                    height: 150px;
                }
            }
        }
    }
}

@media (max-width: 428px) {
    .hits {
        &-content {
            &__img {
                margin-bottom: 12vw;
            }
        }
    }

    .mainSection {
        margin: 19vw 0;
    }
}