.catalog
    .catalog-banner(data-bg="static/images/content/catalog-banner.jpg" data-mobilebg="static/images/content/catalog-banner-m.jpg")
        //- .container 
        //-     .catalog__head
        //-         .catalog__head-inner.d-flex 
        //-             .catalog__head-item
        //-                 a.back-btn.btn-circle(href="#")
        //-                     +icon('a-left-sm') 
        //-             .catalog__head-item
        //-                 .catalog__qty.txt-sm
        //-                     .catalog__qty-desctop.desctop 16 товаров
        //-                     .catalog__qty-mobile.mobile (19)
        //-     h1.catalog-banner__title.ttl.h2 кроссовки
    .container
        .catalog__head
            .catalog__head-inner.d-flex 
                .catalog__head-item
                    a.back-btn.btn-circle(href="#")
                        +icon('a-left-sm') 
                .catalog__head-item
                    .catalog__qty.txt-sm
                        .catalog__qty-desctop.desctop 16 товаров
                        .catalog__qty-mobile.mobile (19)
            h1.catalog__title.ttl.h2 кроссовки
        .catalog__actions.catalog__actions--sticky
            .catalog__actions-inner.d-flex 
                .catalog__actions-item.catalog__actions-item--left
                    a.filter-btn.d-flex(href="#filter" data-bs-toggle="offcanvas") 
                        span.filter-btn__icon.icon 
                            +icon('filter')
                        span.filter-btn__txt Фильтры
                        span.filter-btn__qty.centered#FilterGroupQty 0
                .catalog__actions-item.catalog__actions-item--center
                    .catalog-sizes
                        .catalog-sizes__inner.d-flex 
                            .catalog-sizes__left 
                                .catalog-sizes__txt Размер:
                                a.back-btn.btn-circle(href="#")
                                    +icon('a-left-sm') 
                            .catalog-sizes__right
                                .catalog-sizes__list.slider 
                                    .swiper-wrapper 
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" checked name="cSize")
                                                span.outline-border все размеры
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 35
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 36
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 37
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 38
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 39
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 40
                                        .catalog-sizes__list-item.swiper-slide 
                                            label.catalog-sizes__label
                                                input(type="radio" name="cSize")
                                                span.outline-border 41
                .catalog__actions-item.catalog__actions-item--right
                    .sorting
                        a.sorting-btn.d-flex(href="#")
                            span.sorting-btn__txt По популярности
                            span.sorting-btn__icon.icon 
                                +icon('sorting')
                        .sorting-dropdown.mobileBottom.outline-border
                            .mobileBottom__backdrop.backdrop(data-close)
                            .mobileBottom__content 
                                .mobileBottom__head 
                                    a.mobileBottom-close.icon(href="#" data-close) 
                                        +svg('close', '14', '14')
                                .mobileBottom__title Сортировка
                                .mobileBottom__info 
                                    .sorting-dropdown__list
                                        .sorting-dropdown__list-item 
                                            label.form-select__radio
                                                input(type="radio" name="sorting" checked data-value="по популярности")
                                                span.form-select__radio-content 
                                                    span.form-select__radio-txt по популярности
                                                    span.form-select__radio-icon.icon 
                                                        +svg('check-circle', '16', '16')
                                        .sorting-dropdown__list-item 
                                            label.form-select__radio
                                                input(type="radio" name="sorting" data-value="по возрастанию цены")
                                                span.form-select__radio-content 
                                                    span.form-select__radio-txt по возрастанию цены
                                                    span.form-select__radio-icon.icon 
                                                        +svg('check-circle', '16', '16')
                                        .sorting-dropdown__list-item 
                                            label.form-select__radio
                                                input(type="radio" name="sorting" data-value="по убыванию цены")
                                                span.form-select__radio-content 
                                                    span.form-select__radio-txt по убыванию цены
                                                    span.form-select__radio-icon.icon 
                                                        +svg('check-circle', '16', '16')
                                        .sorting-dropdown__list-item 
                                            label.form-select__radio
                                                input(type="radio" name="sorting" data-value="по новинкам")
                                                span.form-select__radio-content 
                                                    span.form-select__radio-txt по новинкам
                                                    span.form-select__radio-icon.icon 
                                                        +svg('check-circle', '16', '16')
                                        .sorting-dropdown__list-item 
                                            label.form-select__radio
                                                input(type="radio" name="sorting" data-value="по скидкам")
                                                span.form-select__radio-content 
                                                    span.form-select__radio-txt по скидкам
                                                    span.form-select__radio-icon.icon 
                                                        +svg('check-circle', '16', '16')
        .catalog__content 
            .catalog-list-wrapper
                .catalog-list.flex
                    - for (let i = 0; i < 2; i++)
                        .catalog-list__item 
                            +newCard()
                    .catalog-list__item.catalog-list__item--image 
                        .catalog__img
                            +jpgC('catalog-img', '917', '563')
                    .catalog-list__item.catalog-list__item--image.desctop
                        .catalog__img
                            +jpgC('catalog-img', '917', '563')
                    - for (let i = 0; i < 4; i++)
                        .catalog-list__item 
                            +newCard()
                    .catalog-list__item.catalog-list__item--image.mobile
                        .catalog__img
                            +jpgC('catalog-img', '917', '563')
                    - for (let i = 0; i < 6; i++)
                        .catalog-list__item 
                            +newCard()

include filter