extends template/order

block variables
	- var title = 'оформление заказа'
	- var first = false
	- var secondPost = true
	- var switchSave = false

//- block content
//- 	include pages/order/order-default
