extends template/order

block variables
	- var title = 'оформление заказа'
	- var first = false
	- var recipient = false
	- var switchSave = true
	- var courierSecond = true
	- var date = true
	

//- block content
//- 	include pages/order/order-default
