extends template/orderMobile

block variables
	- var title = 'оформление заказа'
	- var first = true
	- var recipient = true
	- var switchSave = true
	- var products = 1


	- var selected = true
	- var selectedInfo = true

//- block content
//- 	include pages/order/order-default
