extends template/main

block variables
	- var title = 'оформление заказа'

block content
	include pages/orderpage/default

block modals
	include modules/orderOffcanvas/addAddressMobile
	include modules/orderOffcanvas/addRecipientCourier
	include modules/orderOffcanvas/addRecipient
	include modules/orderOffcanvas/addRecipientMobile
	include modules/orderOffcanvas/addComment
	include modules/orderOffcanvas/points
	include modules/orderOffcanvas/points-mobile
	include modules/orderOffcanvas/point
	include modules/warnings/order

	include modules/offcanvas/yaPay
	include modules/offcanvas/podeli

block script
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
	script(src="static/js/pickuppoints.js")