.availabilityShopBottom {
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--white);
    border-radius: 20px 20px 0px 0px;
    padding: 40px var(--container-padding) 20px;
    transition: .2s ease-in-out;
    transform: translateY(100%);
    opacity: 0;
    &.visible {
        transform: translateY(0%);
        opacity: 1;
    }
    &-close {
        width: 34px;
        height: 34px;
        right: 4px;
        top: 6px;
    }
    &__group {
        padding: 16px 0;
        color: var(--text-grey);
        path {
            stroke: var(--text-grey);
        }
    }
}