extends template/main
block variables
	- var title = 'Страница товара'
	- var bodyClass = 'pageProduct'

	- var mood = 'mood-more'

block content
	.product-page
		include pages/productV2/content
		.product-page__more
			include pages/productV2/media-solo
			include pages/productV2/watched
			include pages/productV2/like-solo
	