extends template/main-nofooter

block variables
	- var title = 'оформление заказа'
	- var first = true
	- var recipient = true
	- var switchSave = true
	- var products = 1

block content
	include pages/order/success-2
