.accountReturn__group 
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Статус
        .account-order__status.ttl.account-order__status--cancel запрос на экспертизу
    .accountReturn__group-item 
        .product-notification.product-notification--peach-2
            .product-notification__item.d-flex 
                .product-notification__item-icon.icon-outline
                    +icon('i')
                .product-notification__item-txt Для принятия решения необходимо получить пару на рассмотрение. Отправьте товар и укажите способ возврата. Дата проведения экспертизы будет отправлена по почте, либо менеджером по телефону.