.accountReturn__group 
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Статус
        .account-order__status.ttl на рассмотрении
    .accountReturn__group-item 
        .product-notification
            .product-notification__item.d-flex 
                .product-notification__item-icon.icon-outline
                    +icon('i')
                .product-notification__item-txt Товар необходимо отправить в течение 14 дней после оформления возврата. <br>Мы рассмотрим вашу заявку в течение трех дней после получения товара. 