.accountReturn__group 
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Статус
        .account-order__status.account-order__status--ready.ttl 
            .account-order__status-txt одобрен
            .account-order__status-icon.icon 
                include ../../../icons/circle-check
    .accountReturn__group-item 
        .product-notification
            .product-notification__item.d-flex 
                .product-notification__item-icon.icon-outline
                    +icon('i')
                .product-notification__item-txt Возврат одобрен. Отправьте товар в течение 14 дней. После его получения мы отправим деньги на вашу карту.