.accountReturn__group 
    .accountReturn__group-item.d-flex.align-center.justify-between
        .title Статус
        .account-order__status.ttl.account-order__status--cancel отклонен
    .accountReturn__group-item 
        .product-notification.product-notification--peach-2
            .product-notification__item.d-flex 
                .product-notification__item-icon.icon-outline
                    +icon('i')
                .product-notification__item-txt
                    .product-notification__item-txt__item К сожалению, ваша заявка на возврат отклонена. 
                    .product-notification__item-txt__item.product-notification__answer
                        .product-notification__answer-name Причина:
                        .product-notification__answer-value.medium Не соблюдены правила носки
                    .product-notification__item-txt__item Подробнее можете узнать по номеру <a href="tel:88005007682">8 (800) 500-76-82</a>. При обращении, назовите номер возврата