extends template/account-clear

block variables
	- var title = 'аккаунт'
	- var receipt = true

block content
	include pages/account/orders

block head 
	include pages/account/main-head


block right
	include pages/account/birthday