extends template/account

block variables
	- var title = 'аккаунт'
	- var pay = false 
	- var offline = true
	- var receipt = true

block status
	//- include pages/account/status-head
	//- include pages/account/status-6
