extends template/account-right-col

block variables
	- var title = 'аккаунт'
	- var receipt = true

block content
	include pages/account/account-cert-1
	include modules/offcanvas/cert

block right 
	include pages/account/account-right

block head 
	include pages/account/account-head