body {
    font-family: 'Arimo';
    line-height: normal;
    font-size: 17px;
    line-height: 140%;
    padding-top: 124px;
    transition: padding-top .2s ease-in-out;
    &.no-padding {
        padding-top: 0 !important;
    }
    &.body-pt-scroll {
        padding-top: 118px;
    }
}




@media (max-width: 1440px) {
    body {
        font-size: 15px;
        line-height: 140%;
        padding-top: 102px;
        &.body-pt-scroll {
            padding-top: 96px;
        }
    }
}

@media (max-width: 932px) {
    body {
        padding-top: 61px;
        &.body-pt-scroll {
            padding-top: 61px;
        }
    }

    body:has(.account-certificateNull) {
        .header__bg {
            background: var(--grey-14);
        }
    }
}