.modal {
    &-content {
        background: var(--white);
        border-radius: 20px;
        padding: 56px 52px 52px;
        position: relative;
        &--p-0 {
            padding: 0 !important;
        }
    }
    &-close {
        z-index: 9;
        --top: 16px;
        --right: 16px;
        &--absolute {
            position: absolute;
            top: 16px;
            right: 16px;
        }
        &--top-right {
            top: var(--top);
            right: var(--right);
        }
        &--top-left {
            top: var(--top);
            left: var(--right);
        } 
    }
    &-head {
        &__inner {
            align-items: center;
            justify-content: space-between;
            &-btn {
                width: 40px;
            }
            &-logo {
                display: none;
            }
        }
    }
    &-dialog {
        max-width: 522px;
    }
    &-title {
        
    }
    
    &-body {
        
    }
    &-login {
        --bs-modal-padding: 0px;
        &__head {
            margin-bottom: 36px;
        }
        &__txt {
            max-width: 348px;
            margin-top: 8px;
            // &-number {
            //     display: block;
            // }
        }
        &__bottom {
            text-align: center;
            &.repeat {
                .modal-login__bottom-txt {
                    display: none;
                }
                .modal-login__repeat {
                    display: inline-flex;
                }
            }
            &-txt {
                color: #B7B7B7;
            }
        }
        &__repeat {
            display: none;
            align-items: center;
            &-icon {
                width: 16px;
                height: 16px;
                margin-right: 4px;
            }
        }
        &__more {
            margin-top: 36px;
            &-buttons {
                margin-top: 16px;
            }
            &-txt {
                color: var(--text-grey);
            }
            &-btn {
                --btn-size: 60px;
                --btn-size-icon: 30px;
                &--big {
                    --btn-size-icon: 48px; 
                }
            }
        }
        &__user {
            background: var(--element-second);
            padding: 15px;
            border-radius: 46px;
            --icon-size: 30px; 
            &:hover {
                background: var(--element-hover);
            }
            &-grid {
                grid-template-columns: var(--icon-size) 1fr var(--icon-size);
                gap: 8px;
            }
            &-img {
                height: var(--icon-size);
            }
        }
        &__bottom-txt {
            margin-top: 36px;
        }
        
    }
    &-sms {
        &__txt {
            max-width: 100%;
        }
    }
    &-form {
        &__input {
            position: relative;
            border-radius: 6px;
            height: 60px;
            &:has(.dropdown-menu.show) {
                &::before {
                    border-color: var(--button-default);
                }
            }
            &-inner {
                height: 100%;
                align-items: center;
            }
            &-left {
                
                flex-shrink: 0;
            }
            &-right {
                flex-grow: 1;
            }
        }
        &__country {
            padding-left: 16px;
            padding-right: 16px;
            align-items: center;
            line-height: 1;
            &-flag {
                width: 24px;
                height: 17px;
                margin-right: 12px;
                flex-shrink: 0;
                margin-top: -2px;
            }
            &-icon {
                width: 16px;
                height: 16px;
                stroke: var(--black);
                margin-left: 16px;
            }
            &[aria-expanded="true"] {
                .modal-form__country-icon {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }
        }
        &__field {
            padding: 0 20px;
            border: none;
            border-left: 1px solid var(--stroke-element);
            height: 25px;
            background: transparent;
            &::placeholder {
                color: var(--text-grey);
            }
        }
        &__dropdown {
            width: 100%;
            background: var(--white);
            border-radius: 4px;
            padding: 0;
            margin: 27px 0 !important;
            overflow: hidden;
            &::before {
                border-color: var(--black);
            }
            &-inner {
                padding: 6px 0;
            }
        }
        &__c-link {
            padding: 15px 20px;
            &.selected, &:hover {
                background: #F5F5F5;
            }
            &-flag {
                width: 24px;
                height: 17px;
                flex-shrink: 0;
                margin-right: 12px;
            }
        }
        &__foot {
            margin-top: 16px;
        }
        &__btn {
            width: 100%;
        }
    }
}

.pin-code {
    &-wrapper {
        margin-bottom: 54px;
        position: relative;
        &.error {
            .pin-code__error {
                display: block;
            }
            .pin-code__input {
                color: var(--cancel);
            }
        }
    }
    justify-content: center;
    &__input {
        width: 56px;
        height: 68px;
        border: none;
        font-size: 38px;
        text-align: center;
        border-radius: 4px;
        background: #F3F3F3;
        margin: 0 4px;
    }
    &__error {
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: var(--cancel);
        position: absolute;
        bottom: -34px;
        left: 0;
        right: 0;
        display: none;
    }
}

@media (max-width: 1440px) {
    .modal {
        &-close {
            --top: 12px;
            --right: 12px;
        }
        &-dialog {
            max-width: 444px;
        }
        &-content {
            padding: 48px;
            border-radius: 16px;
        }
        &-login {
            &__head {
                margin-bottom: 28px;
            }
            &__txt {
                max-width: 340px;
            }
            &__repeat {
                &-icon {
                    width: 14px;
                    height: 14px;
                }
            }
            &__more {
                margin-top: 28px;
                &-buttons {
                    margin-top: 12px;
                }
                &-btn {
                    --btn-size: 50px;
                    --btn-size-icon: 26px;
                    &--big {
                        --btn-size-icon: 40px; 
                    }
                }
            }
            &__user {
                padding: 12px;
                --icon-size: 26px; 
            }
            &__bottom-txt {
                margin-top: 28px;
            }
        }
        &-sms {
            &__txt {
                max-width: 100%;
            }
        }
        
        &-form {
            &__input {
                height: 50px;
                border-radius: 4px;
                &-left {
                    
                }
            }
            
            &__foot {
                margin-top: 12px;
            }
            &__country {
                padding-left: 12px;
                padding-right: 12px;
                &-flag {
                    width: 20px;
                    height: 14px;
                    margin-right: 8px;
                }
                &-icon {
                    width: 14px;
                    height: 14px;
                    margin-left: 12px;
                }
            }
            &__field {
                padding: 0 16px;
            }
            &__dropdown {
                margin: 21px 0 !important;
                &-inenr {
                    padding: 4px 0;
                }
            }
            &__c-link {
                padding: 12px 16px;
                font-size: 15px;
                &-flag {
                    width: 20px;
                    height: 14px;
                    margin-right: 10px;
                }
            }
        }
    }

    .pin-code {
        &-wrapper {
            margin-bottom: 44px;
        }
        &__input {
            width: 52px;
            height: 64px;
            margin: 0 3px;
            font-size: 34px;
        }
        &__error {
            font-size: 12px;
            bottom: -28px;
        }
    }
}

@media (max-width: 480px) {
    .modal {
        &-close {
            &--d-absolute {
                position: initial;
            }
        }
        &-dialog {
            margin: 0;
        }
        &-content {
            border-radius: 0;
            height: 100vh;
            overflow: auto;
            padding: 0;
        }
        &-head {
            padding: 16px var(--container-padding) 20px;
            margin-bottom: 0;
            &__inner {
                &-logo {
                    display: block;
                }
            }
        }
        &-body {
            padding: 16px var(--container-padding) 20px;
            display: flex;
            flex-direction: column;
        }
        
        &-title {
            font-size: 28px;
            margin-bottom: 6px;
        }
        &-txt {
            
            
        }
        &-login {
            &__head {
                margin-top: auto;
            }
            &__bottom {
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: auto;
            }
            &__title {
                margin-top: auto;
            }
            &__txt {
                &-number {
                    display: block;
                }
            }
            &__more {
                margin-bottom: auto;
            }
            &__bottom-txt {
                text-align: center;
            }
        }
        &-form {
            &--center {
                margin-bottom: auto;
            }
        }
        &-sms {
            &__txt {
                line-height: 140%;
                margin-bottom: 16px;
            }
        }
    }

    .pin-code {
        &-wrapper {
            margin-bottom: 48px;
        }
    }
}