.ashQuiz-answer
    .ashQuiz-answer__content(data-content="1")
        .ashQuiz-answer__content-title 8 магазинов
        .ashQuiz-answer__content-txt Первый магазин ASH в Москве открылся в Афимолле. Сейчас их 8 — в топовых локациях локациях от Цветного до Метрополиса. За дизайн бутиков отвечает испанский архитектор Франсеску Рифе
    .ashQuiz-answer__content(data-content="2")
        .ashQuiz-answer__content-title Конечно, цветок!
        .ashQuiz-answer__content-txt Знаковая вышивка на моделях из эко-коллекции стала символом вклада в будущее и защиты планеты, на которой (если мы постараемся быть чуть более осознанными) продолжат расти цветы
    .ashQuiz-answer__content(data-content="3")
        .ashQuiz-answer__content-title #ASHgirls
        .ashQuiz-answer__content-txt Обожаем наших #ASHgirls и всегда радуемся тому, как ловко они интегрируют ASH в свой гардероб
    .ashQuiz-answer__content(data-content="4")
        .ashQuiz-answer__content-title Француз и итальянец
        .ashQuiz-answer__content-txt Основатели бренда — французский дизайнер Патрик Итье и итальянский предприниматель Леонелло Кальвани. 25 лет назад они объединили свой многолетний опыт работы в индустрии и создали ASH
    .ashQuiz-answer__content(data-content="5")
        .ashQuiz-answer__content-title Dragon
        .ashQuiz-answer__content-txt Кроссовки Dragon с гипертрофированной подошвой совместили тренд на ретро и футуристичный стиль и попали прямиком в список бестселлеров 2025-го года. Модель вышла в шести расцветках
    .ashQuiz-answer__content(data-content="6")
        .ashQuiz-answer__content-title Портофино
        .ashQuiz-answer__content-txt Весенне-летняя коллекция ASH переносит нас в Портофино 1960-х годов, живописный городок на севере Италии и символ итальянской дольче вита
    .ashQuiz-answer__content(data-content="7")
        .ashQuiz-answer__content-title Мадонна
        .ashQuiz-answer__content-txt ASH официально вошёл в историю моды, когда в кедах ASH на сцене появилась Мадонна. В клубе поклонниц бренда — Джиджи Хадид, Хейли Бибер, Кендалл Дженнер, Ариана Гранде, Эмили Ратаковски, Энн Хэтэуэй и многие другие звезды
    .ashQuiz-answer__content(data-content="8")
        .ashQuiz-answer__content-title Кроссовки Addict
        .ashQuiz-answer__content-txt Их впервые увидели свет в 2018 году, стали абсолютным хитом: #ASHgirls признаются, что в их гардеробе по несколько пар «аддиктов» и рука сама тянется к кошельку при виде новой. В каждом сезоне интерес ним подпитывается новыми расцветками и даже новыми деталями
    .ashQuiz-answer__content(data-content="9")
        .ashQuiz-answer__content-title Филип Паговски
        .ashQuiz-answer__content-txt В 2017 году всемирно известный художник Филип Паговски украсил модели Flame и Tweed принтами в своём фирменном стиле. В капсулу также вошли футболки, носки, сумка-шопер и кошелёк
    button.ashQuiz-answer__btn.btn(type="button") Продолжить