.ashQuiz-getPrize
    .ashQuiz-getPrize__content
        .ashQuiz-getPrize__content-default 
            .ashQuiz-getPrize__title.ashQuiz__title Хотите закончить игру и забрать выигрыш?
            .ashQuiz-getPrize__txt Следующий вопрос может принести ещё больше.
        .ashQuiz-getPrize__content-burn 
            .ashQuiz-getPrize__title.ashQuiz__title Может попробуете угадать ответ?
            .ashQuiz-getPrize__txt Вы дошли до несгораемой суммы в <span>700</span> ₽. Даже если дадите неправильный ответ, вы выиграете <span>700</span> ₽
    .ashQuiz-getPrize__buttons
        .ashQuiz-getPrize__content-default
            .ashQuiz-getPrize__buttons-list.d-grid
                button.ashQuiz-getPrize__cancel.btn(type="button") Нет, попробую угадать
                button.ashQuiz-getPrize__confirm.btn.btn-outline(type="button") Да, хочу закончить игру
        .ashQuiz-getPrize__content-burn
            .ashQuiz-getPrize__buttons-list.d-grid
                button.ashQuiz-getPrize__cancel.btn(type="button") Да, попробую угадать
                button.ashQuiz-getPrize__confirm.btn.btn-outline(type="button") Забрать приз