.ashQuiz-intro
    .ashQuiz-intro__group
        .ashQuiz-intro__logo
            .ashQuiz-intro__logo-img 
                +svg('ash-quiz', '311', '115', 'quiz')
            .ashQuiz-intro__logo-txt
                +svg('ash-quiz-txt', '49', '22', 'quiz') 
        .ashQuiz-intro__txt В этом году мы планируем шумно отметить 25-летие бренда. Начнём с квиза и узнаем как хорошо вы знаете историю ASH. Подарки уже ждут вас
    .ashQuiz-intro__img 
        include progress-img
    .ashQuiz-intro__btn-wrap 
        button.ashQuiz-intro__btn.btn(type="button") Играть