.ashQuiz-progress__content 
    .ashQuiz-progress__img
        .ashQuiz-progress__img-inner 
            +jpgG('main-img', '2467', '1646', 'quiz')
    .ashQuiz-progress__tickets
        .ashQuiz-progress__tickets-item.outline-border(data-item="1")
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 1
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 300 ₽ 
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.outline-border(data-item="2") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 2
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 500 ₽
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.ashQuiz-progress__tickets-item--burn(data-item="3") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 3 
                .ashQuiz-progress__tickets-item__txt несгораемая сумма
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img.ashQuiz-progress__tickets-item__prize-img--blue 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 700 ₽
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.outline-border(data-item="4") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 4
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 1 000 ₽ 
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.outline-border(data-item="5") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 5
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 1 500 ₽
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.ashQuiz-progress__tickets-item--burn(data-item="6") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 6
                .ashQuiz-progress__tickets-item__txt несгораемая сумма
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img.ashQuiz-progress__tickets-item__prize-img--blue 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 1 700 ₽
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.outline-border(data-item="7") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 7
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 2 000 ₽
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.outline-border(data-item="8") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 8
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 2 500 ₽
            .ashQuiz-progress__tickets-item__bg
        .ashQuiz-progress__tickets-line
        .ashQuiz-progress__tickets-item.ashQuiz-progress__tickets-item--burn(data-item="9") 
            .ashQuiz-progress__tickets-item__inner.d-flex 
                .ashQuiz-progress__tickets-item__txt 9
                .ashQuiz-progress__tickets-item__txt суперприз
                .ashQuiz-progress__tickets-item__prize
                    .ashQuiz-progress__tickets-item__prize-img.ashQuiz-progress__tickets-item__prize-img--blue 
                        include icons/ticket
                    .ashQuiz-progress__tickets-item__prize-txt.centered 3 000 ₽
            .ashQuiz-progress__tickets-item__bg