.ashgirls.mainSection 
    .container 
        .mainSection-head 
            .mainSection__title.ttl.h2 ashgirls
        .mainSection-content 
            .mainSection-slider-wrapper
                .ashgirls-slider 
                    .swiper-wrapper 
                        - for (let i = 0; i < 1; i++)
                            .ashgirls-slider__slide.swiper-slide 
                                .ashgirls-item
                                    .ashgirls-item__img 
                                        +jpgC('ashg-1', '394', '607')
                                    .ashgirls-item__txt.tech-14 <span>ОКСАНА РИМ </span> в бабушах 
                                        a(href="https://ashrussia.ru/zhenshtinam/zhenskaya_obuv/calla") calla
                            .ashgirls-slider__slide.swiper-slide 
                                .ashgirls-item
                                    .ashgirls-item__img 
                                        +jpgC('ashg-2', '394', '385')
                                    .ashgirls-item__txt.tech-14 <span>Лена Пестрова</span> в кроссовках 
                                        a(href="https://ashrussia.ru/zhenskie_oranzhevye_krossovki_ash_race_i13486700000") RACE
                            .ashgirls-slider__slide.swiper-slide 
                                .ashgirls-item
                                    .ashgirls-item__img 
                                        +jpgC('ashg-3', '394', '607')
                                    .ashgirls-item__txt.tech-14 <span>Натали Латинович</span> в босоножках 
                                        a(href="https://ashrussia.ru/zhenskie__bosonozhki_ash_jess_i13462000000") jess
                            .ashgirls-slider__slide.swiper-slide 
                                .ashgirls-item
                                    .ashgirls-item__img 
                                        +jpgC('ashg-4', '394', '607')
                                    .ashgirls-item__txt.tech-14 <span>Марианна елисеева</span> в кедах 
                                        a(href="https://ashrussia.ru/zhenskie_golubye_kedy_ash_moonlight_i13485700000") moonlight
                button.mainSection-btn.mainSection-prev.centered.ashgirls-prev(type="button")
                    include ../../icons/left-12
                button.mainSection-btn.mainSection-next.centered.ashgirls-next(type="button")
                    include ../../icons/right-12