.ashBanner.mainSection
    .ashBanner-content
        .ashBanner-content__img
            .ashBanner-content__img-desctop.desctop
                +jpgC('ash-banner', '1920', '894')
            .ashBanner-content__img-mobile.mobile 
                +jpgC('ash-banner-m', '375', '477')
        .ashBanner-content__info.centered 
            .ashBanner-info
                .ashBanner-info__inner
                    .ashBanner-info__title.ttl.banner-title-second mid season sale <br>до -70%
                    .ashBanner-info__txt.base-up Коллекция обуви, в которой сошлись отличный дизайн и экологичный подход
                    a.ashBanner-info__btn.intro-item__btn.btn.base-up(href="#") 
                        span.intro-item__btn-txt к покупкам
                        span.intro-item__btn-icon.svg
                            +icon('link')
