.sCollection.mainSection
    .sCollection__inner
        .sCollection-info
            .sCollection-info__inner 
                .sCollection__title.banner-title.ttl
                    a.d-flex(href="#") Беззаботные дни 
                        span.icon
                            include ../../icons/link 
                .sCollection__txt Коллекция обуви, в которой сошлись отличный дизайн и экологичный подход, — оба ориентированы на здоровье человека и всей нашей планеты.
        .sCollection-image
            .sCollection-image__horizontal 
                +jpgG('main-img', '1920', '892', 'scollection')
