.hits.mainSection 
    .container 
        .hits-content.d-flex 
            .hits-content__img 
                .hits-img
                    +jpgC('hits-img', '750', '1024')
            .hits-content__info
                .hits-info
                    .hits-info__title.ttl.h2 Хиты этого лета
                    .hits-info__list
                        .hits-list.list
                            .hits-list__item.col 
                                a.hits-list__img.centered.grey-img(href="#") 
                                    +jpgC('hits-1', '163', '218') 
                            .hits-list__item.col 
                                a.hits-list__img.centered.grey-img(href="#") 
                                    +jpgC('hits-2', '163', '218') 
                            .hits-list__item.col 
                                a.hits-list__img.centered.grey-img(href="#") 
                                    +jpgC('hits-3', '163', '218') 
                            .hits-list__item.col 
                                a.hits-list__img.centered.grey-img(href="#")  
                                    +jpgC('hits-4', '163', '218') 
                    .hits-info__txt Получи скидку 10% по промокоду 
                        span summer