.saleBanners.mainSection
    .saleBanners-content.list
        .saleBanners-content__col.col
            a.saleBanners-item(href="#")
                span.saleBanners-item__img
                    +jpgC('sale-1', '916', '895')
                span.saleBanners-item__info.centered 
                    span.saleBanners-item__subtitle.subtitle sale
                    span.saleBanners-item__title.banner-title-second.ttl д0–50%
        .saleBanners-content__col.col
            a.saleBanners-item(href="#")
                span.saleBanners-item__img
                    +jpgC('sale-2', '916', '895')
                span.saleBanners-item__info.centered 
                    span.saleBanners-item__subtitle.subtitle последняя пара
                    span.saleBanners-item__title.banner-title-second.ttl д0 -70%