.account-right
    .account-right__item
        .account-right__item-txt Оформляй и дари сертификаты <br>с индивидуальным дизайном на любую сумму
        a.account-right__item-btn.btn(href="#") оформить сертификат
        .account-right__item-link 
            a.link(href="#") Узнать подробнее