.account-head.account-head--desctop
    .account-head__title.h3.ttl СЕРТИФИКАТЫ
.account-mobileHead
    .account-mobileHead__group.d-flex 
        a.account-mobileHead__btn.btn-circle(href="#")
            +svg('arrow-left', '16', '16')
.account-certificateNull
    .account-certificateNull__img
        .account-certificateNull__img-desctop.desctop 
            +pngG('account-cert-null', '770', '797')
        .account-certificateNull__img-mobile.mobile 
            +pngG('account-cert-null-m', '375', '589')
    .account-certificateNull__info 
        .account-certificateNull__title.ttl.h4 Лучшее решение для&nbsp;подарка
        .account-certificateNull__txt Оформляй и дари сертификаты <br>с индивидуальным дизайном на&nbsp;любую&nbsp;сумму
        a.account-certificateNull__btn.btn(href="#") оформить сертификат
        .account-certificateNull__link
            a(href="#") Узнать подробнее