.account-certificate 
    .account-certificate__group 
        .account-certificate__subtitle.title1 Полученные сертификаты
        .account-certificate__list.list 
            .account-certificate__list-item
                .account-certCard
                    .account-certCard__inner.d-flex 
                        .account-certCard__left 
                            .account-certCard__img.centered
                                .account-certCard__img-photo
                                    +svg('account-cert-2', '281', '254')
                                .account-certCard__img-txt.h6.ttl.centered 10 000 ₽ 
                        .account-certCard__right
                            .account-certCard__right-center.centered 
                                .account-certCard__group.d-flex 
                                    .account-certCard__price.h5.ttl ВАМ ПОДАРОК!
                                    a.account-certCard__btn.btn-circle(href="#cert" data-bs-toggle="offcanvas")
                                        +icon('arrow-right-13') 
    .account-certificate__group
        .account-certificate__subtitle.title1 Купленные сертификаты
        .account-certificate__list.list 
            .account-certificate__list-item.col
                .account-certCard
                    .account-certCard__inner.d-flex 
                        .account-certCard__left 
                            .account-certCard__img.centered.account-certCard__img--sm
                                .account-certCard__img-photo
                                    +svg('account-cert-2', '281', '254')
                                .account-certCard__img-txt.h6.ttl.centered.hidden 10 000 ₽ 
                        .account-certCard__right
                            .account-certCard__right-item.d-flex 
                                .account-certCard__date
                                    .account-certCard__date-name Дата и время <br>отправки
                                    .account-certCard__date-value 
                                        span 18.04.2023 
                                        span 12:00
                                .account-certCard__status.account-order__status.account-order__status--ready.ttl 
                                    .account-order__status-txt ОТПРАВЛЕН
                                    .account-order__status-icon.icon
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.99972 14.387C4.4718 14.387 1.61248 11.5276 1.61248 7.99972C1.61248 4.4718 4.4718 1.61248 7.99972 1.61248C11.5276 1.61248 14.387 4.4718 14.387 7.99972C14.387 11.5276 11.5276 14.387 7.99972 14.387Z" stroke="#050505" stroke-width="1.22495" stroke-linecap="square"></path><path d="M11.1106 6.44531L7.22191 10.334L4.88867 8.0008" stroke="#050505" stroke-width="1.22495" stroke-linecap="square"></path></svg>
                            .account-certCard__right-item.d-flex.account-certCard__right-item--bottom  
                                .account-certCard__price.h5.ttl.account-certCard__price--hidden 10 000 ₽
                                a.account-certCard__btn.btn-circle(href="#cert2" data-bs-toggle="offcanvas")
                                    +icon('arrow-right-13') 
            .account-certificate__list-item.col
                .account-certCard
                    .account-certCard__inner.d-flex 
                        .account-certCard__left 
                            .account-certCard__img.centered.account-certCard__img--sm
                                .account-certCard__img-photo
                                    +svg('account-cert-2', '281', '254')
                                .account-certCard__img-txt.h6.ttl.centered.hidden 10 000 ₽ 
                        .account-certCard__right
                            .account-certCard__right-item.d-flex 
                                .account-certCard__date
                                    .account-certCard__date-name Дата и время <br>отправки
                                    .account-certCard__date-value.account-certCard__date-value--active 
                                        span 18.04.2023 
                                        span 12:00
                                .account-certCard__status.account-order__status.account-order__status--cancel.ttl 
                                    .account-order__status-txt ожидает оплаты
                            .account-certCard__right-item.d-flex.account-certCard__right-item--bottom  
                                .account-certCard__price.h5.ttl.account-certCard__price--hidden 10 000 ₽
                                a.account-certCard__btn.btn-circle(href="#cert3" data-bs-toggle="offcanvas")
                                    +icon('arrow-right-13') 
                    .account-certCard__bottom 
                        a.account-certCard__link.btn(href="#cert3" data-bs-toggle="offcanvas") оплатить сертификат 
            .account-certificate__list-item.col
                .account-certCard
                    .account-certCard__inner.d-flex 
                        .account-certCard__left 
                            .account-certCard__img.centered.account-certCard__img--sm
                                .account-certCard__img-photo
                                    +svg('account-cert-2', '281', '254')
                                .account-certCard__img-txt.h6.ttl.centered.hidden 10 000 ₽ 
                        .account-certCard__right
                            .account-certCard__right-item.d-flex 
                                .account-certCard__date
                                    .account-certCard__date-name Дата и время <br>отправки
                                    .account-certCard__date-value.account-certCard__date-value--active 
                                        span Сразу после оплаты
                                .account-certCard__status.account-order__status.account-order__status--cancel.ttl 
                                    .account-order__status-txt ожидает оплаты
                            .account-certCard__right-item.d-flex.account-certCard__right-item--bottom  
                                .account-certCard__price.h5.ttl.account-certCard__price--hidden 10 000 ₽
                                a.account-certCard__btn.btn-circle(href="#cert3" data-bs-toggle="offcanvas")
                                    +icon('arrow-right-13') 
                    .account-certCard__bottom 
                        a.account-certCard__link.btn(href="#cert3" data-bs-toggle="offcanvas") оплатить сертификат 
            .account-certificate__list-item.col
                .account-certCard
                    .account-certCard__inner.d-flex 
                        .account-certCard__left 
                            .account-certCard__img.centered.account-certCard__img--sm
                                .account-certCard__img-photo
                                    +svg('account-cert-2', '281', '254')
                                .account-certCard__img-txt.h6.ttl.centered.hidden 10 000 ₽ 
                        .account-certCard__right
                            .account-certCard__right-item.d-flex 
                                .account-certCard__date
                                    .account-certCard__date-name Дата и время <br>отправки
                                    .account-certCard__date-value.account-certCard__date-value--active 
                                        span 18.04.2023 
                                        span 12:00
                                .account-certCard__status.account-order__status.ttl 
                                    .account-order__status-txt ожидает отправки
                            .account-certCard__right-item.d-flex.account-certCard__right-item--bottom  
                                .account-certCard__price.h5.ttl.account-certCard__price--hidden 10 000 ₽
                                a.account-certCard__btn.btn-circle(href="#cert4" data-bs-toggle="offcanvas")
                                    +icon('arrow-right-13') 