.account-head
    .account-head__title.h4.ttl привет, алевтина!
.account-banner
    .account-banner__inner
        .account-banner__title.ttl Моя персональная скидка
        .account-banner__txt применяется автоматически в&nbsp;каталоге
        .account-banner__sale.ttl 5%
.account-links
    .account-links__list.list
        .account-links__list-item.col 
            a.account-mobile__link(href="#") 
                span.account-mobile__link-icon.icon 
                    +svg('basket', '20', '20')
                span.account-mobile__link-txt.d-flex Мои заказы 
                    span.centered 2
        .account-links__list-item.col 
            a.account-mobile__link(href="#") 
                span.account-mobile__link-icon.icon 
                    +svg('heart', '20', '20')
                span.account-mobile__link-txt.d-flex Избранное
                    span.centered 34
        .account-links__list-item.col 
            a.account-mobile__link(href="#") 
                span.account-mobile__link-icon.icon 
                    +svg('return', '20', '20')
                span.account-mobile__link-txt.d-flex Мои возвраты
                    span.centered 6
        .account-links__list-item.col 
            a.account-mobile__link(href="#") 
                span.account-mobile__link-icon.icon 
                    +svg('home', '20', '20')
                span.account-mobile__link-txt.d-flex Адреса
                    span.centered 34
        .account-links__list-item.col 
            a.account-mobile__link(href="#") 
                span.account-mobile__link-icon.icon 
                    +svg('subscription', '20', '20')
                span.account-mobile__link-txt.d-flex Управление подписками
                    span.centered 4
        .account-links__list-item.col 
            a.account-mobile__link(href="#") 
                span.account-mobile__link-icon.icon 
                    +svg('cert', '20', '20')
                span.account-mobile__link-txt.d-flex Сертификаты
                    span.centered 1