.account-head.account-head--desctop
    .account-head__title.h3.ttl адреса
.account-mobileHead
    .account-mobileHead__group.d-flex 
        a.account-mobileHead__btn.btn-circle(href="#")
            +svg('arrow-left', '16', '16')
    .account-mobileHead__title.ttl адреса
.account-null
    .account-null__img 
        +svg('account-addresses', '456', '264')
    .account-null__info.account-null__info--addresses 
        .account-null__txt Доставляем ваш заказ в максимально удобную для вас локацию
        a.account-null__btn.btn(href="#") добавить адрес