.account-head.account-head--desctop
    .account-head__title.h3.ttl избранное
.account-mobileHead
    .account-mobileHead__group.d-flex 
        a.account-mobileHead__btn.btn-circle(href="#")
            +svg('arrow-left', '16', '16')
    .account-mobileHead__title.ttl избранное
.account-null
    .account-null__img 
        +svg('account-favorite', '456', '210')
    .account-null__info 
        .account-null__txt Тут пока пусто. Нажимайте на <span> <img src="static/images/general/heart-icon.svg"></span>,<br> чтобы добавить товар в избранное