.account-mobile__foot
    .account-user.outline-border
        .account-user__inner.d-flex 
            .account-user__inner-left 
                .account-user__avatar.centered.ttl a
            .account-user__inner-middle
                .account-user__name.ttl Алевтина
                .account-user__mail +7 999 999-99-99
            .account-user__inner-right 
                a.account-user__edit.centered(href="#")
                    include ../../icons/edit 