.account.account--gray
    .container 
        .account-mobile
            .account-mobile__top 
                .account-mobile__title.ttl привет, АЛЕВТИНА
            .account-mobile__middle 
                .account-mobile__orders 
                    .account-mobile__orders-inner.d-flex 
                        .account-mobile__orders-col 
                            a.account-mobile__link(href="#") 
                                span.account-mobile__link-icon.icon 
                                    +svg('basket', '18', '18')
                                span.account-mobile__link-txt.d-flex Мои заказы 
                                    span.centered 1
                        .account-mobile__orders-col 
                            a.account-mobile__link(href="#") 
                                span.account-mobile__link-icon.icon 
                                    +svg('heart', '18', '18')
                                span.account-mobile__link-txt.d-flex Избранное
                                    span.centered 23
                .account-mobile__menu 
                    ul.account-menu
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") Возвраты
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") Адреса
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") Управление подписками
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") Подарки
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") Сертификаты
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") Настройки
                        li.account-menu__item 
                            a.account-menu__link.outline-border(href="#") 
                                span.account-menu__link-txt Выйти
                                span.account-menu__link-icon.icon 
                                    +svg('logout', '14', '14')
            .account-mobile__foot
                .account-user.outline-border
                    .account-user__inner.d-flex 
                        .account-user__inner-left 
                            .account-user__avatar.centered.ttl a
                        .account-user__inner-middle
                            .account-user__name.ttl Алевтина
                            .account-user__mail +7 999 999-99-99
                        .account-user__inner-right 
                            a.account-user__edit.centered(href="#")
                                include ../../icons/edit 