.account-head.account-head--desctop
    .account-head__title.h3.ttl заказы
.account-mobileHead
    .account-mobileHead__group.d-flex 
        a.account-mobileHead__btn.btn-circle(href="#")
            +svg('arrow-left', '16', '16')
    .account-mobileHead__title.ttl заказы
.account-null
    .account-null__img 
        +svg('account-orders', '456', '264')
    .account-null__info 
        .account-null__txt Вы еще не сделали ни одного заказа