.account-head.account-head--desctop
    .account-head__title.h3.ttl возвраты
.account-mobileHead
    .account-mobileHead__group.d-flex 
        a.account-mobileHead__btn.btn-circle(href="#")
            +svg('arrow-left', '16', '16')
    .account-mobileHead__title.ttl возвраты
.account-null
    .account-null__img 
        +svg('account-returns', '456', '264')
    .account-null__info 
        .account-null__txt У вас пока нет возвратов. Чтобы сделать возврат, перейдите в заказы
        a.account-null__btn.btn(href="#") перейти в заказы