.account-status
    .account-status__lines.account-status__lines--transform
        .account-status__inner.d-flex 
            .account-status__inner-col
                .account-status__item.account-status__item--ready
                    .account-status__item-line.account-status__item-line--first 
                    .account-status__item-txt оплачен
            .account-status__inner-col
                .account-status__item.account-status__item--ready
                    .account-status__item-line
                    .account-status__item-txt подтверждён
            .account-status__inner-col
                .account-status__item.account-status__item--ready
                    .account-status__item-line
                    .account-status__item-txt собран
            .account-status__inner-col
                .account-status__item.account-status__item--current
                    .account-status__item-line.account-status__item-line--last
                    .account-status__item-txt в доставке