.preSaleLanding
    .preSaleLanding__inner
        .container
            .preSaleLanding-first.preSaleLanding-first--top
                .preSaleLanding-first__form-wrap 
                    .preSaleLanding-first__form.d-flex.g-border
                        .preSaleLanding-first__form-left 
                            .preSaleLanding-first__form-title.ttl вход <br>в закрытый pre sale
                            .preSaleLanding-first__form-txt.preSaleLanding__txt.uppercase.medium 24 ноября стартует черная пятница. Оставь свой e-mail, чтобы не попустить старт черной пятницы.
                        .preSaleLanding-first__form-right
                            form.preSaleLanding-reg(action="/") 
                                .preSaleLanding-reg__top
                                    .modal-form__input.outline-border 
                                        .modal-form__input-inner.d-flex 
                                            .modal-form__input-left 
                                                a.modal-form__country.d-flex(href="#" data-bs-toggle="dropdown") 
                                                    span.modal-form__country-flag
                                                        +svg('rus', '24', '17')
                                                    span.modal-form__country-txt +7
                                                    span.modal-form__country-icon.icon 
                                                        include ../../icons/arrow-down
                                                .modal-form__dropdown.outline-border.dropdown-menu 
                                                    .modal-form__dropdown-inner 
                                                        .modal-form__list
                                                            .modal-form__list-item 
                                                                a.modal-form__c-link.d-flex(href="#" data-flag="static/images/general/bel.svg" data-txt="+375") 
                                                                    span.modal-form__c-link-flag
                                                                        +svg('bel', '24', '17') 
                                                                    span.modal-form__c-link-txt Беларусь
                                                            .modal-form__list-item 
                                                                a.modal-form__c-link.d-flex(href="#" data-flag="static/images/general/kz.svg" data-txt="+7") 
                                                                    span.modal-form__c-link-flag
                                                                        +svg('kz', '24', '17') 
                                                                    span.modal-form__c-link-txt Казахстан
                                                            .modal-form__list-item 
                                                                a.modal-form__c-link.d-flex.selected(href="#" data-flag="static/images/general/rus.svg" data-txt="+7") 
                                                                    span.modal-form__c-link-flag
                                                                        +svg('rus', '24', '17') 
                                                                    span.modal-form__c-link-txt Россия
                                            .modal-form__input-right 
                                                input.modal-form__field(type="text" data-ru data-placeholder="(___)__-__-__" data-default="телефон" placeholder="телефон")
                                    .modal-form__foot 
                                        button.modal-form__btn.btn(type="submit") подтвердить номер
                                .preSaleLanding-reg__bottom 
                                    .preSaleLanding-reg__txt При регистрации и входе вы соглашаетесь с <a href="#" class="underline">условиями использования сайта</a> и 
                                        a.underline(href="#") политикой конфиденциальности
            .preSaleLanding-second.preSaleLanding-second--bottom
                .preSaleLanding-second__inner.d-flex 
                    .preSaleLanding-second__info 
                        .preSaleLanding-second__title.preSaleLanding__title.ttl.banner-title скидки до -60%
                        .preSaleLanding-second__txt.preSaleLanding__txt.uppercase.medium 24 ноября стартует черная пятница. Оставь свой e-mail, чтобы не попустить старт черной пятницы.
            
        .preSaleLanding-img
            .preSaleLanding-img__big
                .preSaleLanding-img__big-desktop 
                    +pngC('top-img-2', '2155', '954', 'presalelanding')
                .preSaleLanding-img__big-mobile
                    +pngC('top-img-3', '520', '780', 'presalelanding')
            .preSaleLanding-img__bottom.preSaleLanding-img__bottom--bottom
                +pngC('bottom-img', '967', '1291', 'presalelanding')