.button {
    --icon-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 12px 16px 12px 18px;
    background: var(--white);
    color: var(--black);
    gap: 10px;
    border-radius: 26px;
    line-height: 20px;
    &--icon-left {
        padding: 12px 18px 12px 16px;
    }
    &--circle {
        padding: 12px;
    }
    &__icon {
        width: var(--icon-size);
        height: var(--icon-size);
    }
}

.button-label {
    input {
        display: none;
        &:checked + span {
            &::before {
                opacity: 1;
            }
        }
    }
    &__content {
        &::before {
            border-color: var(--black);
            opacity: 0;
        }
    }
}


.button-badge {
    input {
        display: none;
        &:checked + .button-badge__content {
            &::before {
                opacity: 1;
            }
        }
    }
    &__content {
        padding: 11px 20px;
        display: block;
        background: var(--element-second);
        border-radius: 4px;
        &::before {
            border-color: var(--black);
            opacity: 0;
        }
    }
}

@media (max-width: 1440px) {
    .button {
        gap: 8px;
        padding: 10px 14px 10px 16px;
        --icon-size: 14px;
        &--icon-left {
            padding: 10px 16px 10px 14px;
        }
    }

    .button-badge {
        &__content {
            padding: 9px 16px 10px;
        }
    }
}

@media (max-width: 932px) {
    .button {
        padding: 6px 12px 7px 14px;
        min-height: 33px;
        &--icon-left {
            padding: 6px 14px 7px 12px;
        }
    }


    .button-badge {
        &__content {
            padding-top: 7px;
            padding-bottom: 8px;
        }
    }
}