/* начало шапки */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 150;
    --height-content: 124px;
    --height-scroll: 118px;
    --header-line-bg: var(--white);
    &-transparent {
      background: #f6f6f6;
      .header__bg {
        display: none;
      }
    }
    &-black-transparent {
      // position: absolute;
      width: 100%;
      .header__bg {
        height: 0;
      }
    }
    &.scrolled {
      .header__content {
        height: var(--height-scroll);
      }
      .header__bg {
        height: var(--height-scroll);
      }
      .header__logo {
        bottom: 16px;
      }
      .header__menu {
        height: calc(100% - var(--height-scroll));
      }
      .header-menu__navigation {
        padding-top: 0;
      }
    }
    &.notbg {
      width: 100%;
      // position: absolute;
      top: 0;
      .header__content {
        color: var(--white);
        fill: var(--white);
        .user-menu__link-qty {
          color: var(--black);
        }
      }
      .header__bg {
        height: 0;
      }
    }
    &.notbg.scrolled {
      .header__bg {
        height: var(--height-scroll);
      }
      .header__content {
        color: var(--black);
        fill: var(--black);
      }
    }
    &.opened {
      .header__bg {
        height: var(--height-content);
      }
      .header__content {
        color: var(--black);
        fill: var(--black);
      }
    }
    &.opened.scrolled {
      .header__bg {
        height: var(--height-content);
        transition: initial;
      }
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: var(--white);
      height: var(--height-content);
      transition: height .1s linear;
    }
    &__content {
        height: var(--height-content);
        padding-bottom: 32px;
        align-items: flex-end;
        position: relative;
        z-index: 9;
        text-transform: uppercase;
        font-weight: 600;
        transition: height 0.2s ease-in-out, padding-bottom 0.2s ease-in-out;
        // background: var(--white);
        margin-left: -14px;
        margin-right: -14px;
        padding-left: 14px;
        padding-right: 14px;
    }
    &__logo {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 86px;
        transition: position 0.2s ease-in-out;
    }
    &__search {
        margin-left: auto;
    }
    &__user-menu {
        margin-left: 130px;
    }
    &__link {
        margin-left: 104px;
    }
    &__menu {
        height: calc(100vh - var(--height-content));
        display: none;
        position: relative;
        z-index: 10;
        overflow: auto;
        color: var(--base-color);
        &::-webkit-scrollbar {
          width: 6px;
          
      }
      &::-webkit-scrollbar-track {
          background: var(--white);
      }
      &::-webkit-scrollbar-thumb {
          background: #D9D9D9;
          border-radius: 11px;
      }
        &.open {
            display: block;
        }
        &-inner {
            display: grid;
            grid-template-rows: 0.5fr;
            opacity: 0;
            overflow: hidden;
            transition: grid-template-rows 0.2s ease-in-out, opacity 0.2s ease-in-out;
            min-height: 750px;
            &.open {
                grid-template-rows: 1fr;
                opacity: 1;
                .header-menu__content {
                    transform: translateY(0);
                }
            }
            &__animate {
                background: var(--white);
            }
        }
    }
    &-tabs {
        &__item {
            margin-right: 8px;
            &--mobile {
                display: none;
            }
            &:last-child {
                margin: 0;
            }
        }
        &__link {
            line-height: 115%;
            text-transform: uppercase;
            display: block;
            padding: 10px 20px;
            border-radius: 24px;
            font-weight: 600;
            &:hover {
              background: var(--grey-12);
            }
            &.selected {
                background: var(--black);
                color: var(--white);
            }
        }
    }
    &-menu {
        padding-bottom: 40px;
        &__navigation {
            padding-top: 16px;
            padding-bottom: 28px;
        }
        &__content {
            transform: translateY(32px);
            transition: transform 0.2s ease-in-out;
        }
        &__row {
            margin-left: -20px;
            margin-right: -20px;
        }
        &__col {
            width: 25%;
            padding-left: 20px;
            padding-right: 20px;
            &--sm {
              width: calc(50% / 3);
            }
        }
        &__title {
            border-top: 1px solid var(--black);
            padding-top: 20px;
            margin-bottom: 28px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: normal;
        }
        &__mobile-links {
          display: none;
          border-bottom: 1px solid var(--stroke-element);
          margin-top: 6px;
        }
        &__controls {
          display: none;
          align-items: center;
          justify-content: space-between;
          padding-top: 13px;
          padding-bottom: 14px;
        }
        &__close {
          width: 20px;
          height: 20px;
        }
        &__user {
          font-size: 14px;
          padding: 10px;
          border-radius: 33px;
          background: var(--element-second);
          display: flex;
          align-items: center;
          line-height: 1;
          &-txt {
            margin-right: 8px;
          }
          &-icon {
            width: 14px;
            height: 14px;
          }
        }
    }
    &-category {
        font-weight: 500;
        font-size: 30px;
        line-height: normal;
        &__item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
          &:hover {
            color: var(--text-black-hover);
          }
            &-img {
                display: none;
            }
        }
    }
    &-nav {
        font-size: 18px;
        line-height: normal;
        &--medium {
          font-size: 30px;
          font-weight: 500;
        }
        &__item {
            margin-bottom: 18px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__link {
          &:hover {
            color: var(--text-black-hover);
          }
            &-arrow {
                display: none;
                width: 14px;
                height: 14px;
            }
            &-img {
                display: none;
                width: 50px;
                height: 50px;
                img {
                    border-radius: 4px;
                }
            }
        }
    }
    &-nav-img {
        &__link {
            &-img {
                display: none;
            }
            
        }
    }
}

.custom-header {
  .header.notbg:not(.opened) .header__content {
    color: var(--accent-color);
    fill: var(--accent-color);
  }

  .header {
    .header__bg {
      background: var(--custom-header-bg);
    }
  }
}

.user-menu {
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
      position: relative;
      &-qty {
        position: absolute;
        top: 6px;
        bottom: 2px;
        left: 0;
        right: 1px;
        font-size: 12px;
        line-height: 1;
        color: var(--white);
      }
    }
}

.logo {
    display: inline-block;
    transition: initial;
    &__img {
      width: 59px;
      height: 86px;
      svg {
        transition: initial;
      }
    }
}
  
.open-menu {
    display: flex;
    align-items: center;
    &__icon {
      margin-right: 12px;
      &-close {
        display: none;
      }
    }
    &.active {
      .open-menu__icon-close {
        display: flex;
      }
      .open-menu__icon-burger {
        display: none;
      }
    }
}



@media (max-width: 1440px) {
    .header {
      --height-content: 102px;
      --height-scroll: 94px;
      &.scrolled  {
        .header__logo {
          bottom: 12px;
        }
      }
        &__content {
            padding-bottom: 25px;
        }
        &__logo {
            height: 70px;
        }
        &__user-menu {
            margin-left: 84px;
        }
        &__link {
            margin-left: 52px;
        }
        &__menu {
            &-inner {
              min-height: 590px;
            }
        }
        &-menu {
            &__navigation {
                padding-top: 12px;
                padding-bottom: 24px;
            }
            &__title {
                padding-top: 16px;
                margin-bottom: 24px;
                font-size: 14px;
            }
            &__row {
                margin-left: -16px;
                margin-right: -16px;
            }
            &__col {
                padding-left: 16px;
                padding-right: 16px;
            }
        }
        &-tabs {
            &__item {
                margin-right: 0;
            }
            &__link {
                padding: 8px 18px 9px;
            }
        }
        &-category {
            font-size: 26px;
            &__item {
                margin-bottom: 16px;
            }
        }
        &-nav {
            font-size: 16px;
            &--medium {
              font-size: 26px;
            }
            &__item {
              margin-bottom: 14px;
            }
        }
    }

    .logo {
        &__img {
          width: 49px;
          height: 70px;
        }
    }
    
    .user-menu {
        &__item {
          margin-right: 28px;
        }
        &__link {
          &-qty {
            font-size: 10px;
            bottom: 3px;
            right: 1px;
          }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &-menu {
            &__col {
                padding-left: 10px;
                padding-right: 10px;
            }
            &__row {
                margin-left: -10px;
                margin-right: -10px;
            }
        }
    }
}

@media (max-width: 932px) {
    .header {
        --height-content: 61px;
        --height-scroll: 61px;
        
        &.opened {
          height: 100%;
          .header__bg {
            height: 0;
          }
        }
        &.scrolled {
          .header__logo {
            bottom: 4px;
          }
          .header__menu {

          }
        }
        &.notbg {
          .header__bg {
            height: 0;
          }
        }
        &-black-transparent {
          
          .header__content {
            fill: var(--white);
          }
          .open-menu {
            color: var(--white);
          }
          &.scrolled {
            .header__content {
              
              fill: var(--black);
            }
            .open-menu {
              color: var(--black);
            }
          }
        }
        
        &__content {
            padding-bottom: 0;
            align-items: center;
          }
          &__link {
            display: none;
          }
          &__search {
            margin-left: 24px;
          }
          &__logo {
            height: 53px;
            bottom: 4px;
          }
          &__user-menu {
            margin-left: auto;
          }
          &__menu {
            overflow-y: auto;
            width: 100%;
            position: fixed;
            top: 0;
            height: 100%;
            background: var(--white);
            z-index: 10000;
            transform: translateX(-100%);
            transition: transform .3s ease-in-out;
            display: block;
            min-height: 100vh;
            padding-bottom: 16px;
            &.open {
              transform: translateX(0%);
              height: 100vh;
            }
            .container {
              width: 100vw;
            }
            &-inner {
              width: 100%;
              grid-template-rows: 1fr;
            }
          }
          &-menu {
            &__navigation {
              padding-top: 10px;
              padding-bottom: 20px;
            }
            &__row {
              margin-bottom: -20px;
            }
            &__col {
              width: 100%;
              margin-bottom: 20px;
              
              // &:nth-child(3) {
              //   margin-top: -1px;
              // }
              // &:first-child {
              //   .header-category {
              //     display: none;
              //   }
              // }
              &--image {
                display: none;
              }
              &--m-order-1 {
                order: -1;
              }
            }
            &__title {
              border: none;
              font-size: 12px;
              font-weight: 500;
              margin-bottom: 8px;
              padding: 0;
            }
            &__mobile-links {
              display: block;
            }
            &__content {
              transform: initial;
            }
            &__controls {
              display: flex;
            }
          }
          &-category {
            margin-left: -3px;
            margin-right: -3px;
            display: flex;
            flex-wrap: wrap;
            font-size: 15px;
            line-height: 140%;
            font-weight: normal;
            &--no-img {

            }
            &__item {
              padding-left: 3px;
              padding-right: 3px;
              margin-bottom: 6px;
              width: 50%;
              &--long {
                width: 100%;
                .header-category__link-txt {
                  max-width: 105px;
                }
              }
              &--white {
                color: var(--white);
              }
              &--mobile-hidden {
                display: none;
              }
            }
            &__link {
              position: relative;
              border-radius: 4px;
              overflow: hidden;
              display: block;
              &-img {
                display: block;
                img {
                  width: 100%;
                  min-height: 92px;
                  object-fit: cover;
                }
              }
              &-txt {
                position: absolute;
                top: 12px;
                left: 16px;
                max-width: 136px;
              }
            }
          }
          &-nav {
            font-size: 15px;
            font-weight: normal;
            &--medium {
              .header-nav__item {
                &:last-child {
                  border-bottom: none;
                }
              }
            }
            &__item {
              // padding: 6px 0px;
              margin-bottom: 0;
              // border-top: 1px solid var(--stroke-element);
              margin-bottom: 2px;
              &:last-child {
                margin-bottom: 0;
              }
              &--py-0 {
                padding: 0;
              }
              &--mobile-hidden {
                display: none;
              }
              // &:last-child {
              //   border-bottom: 1px solid var(--stroke-element);
              // }
            }
            &__link {
              display: flex;
              align-items: center;
              background: #f3f3f3;
              border-radius: 4px;
              padding: 4px 10px 4px 4px;
              &--no-img {
                padding: 16px 16px;
              }
              &-img {
                flex-shrink: 0;
                display: block;
                margin-right: 19px;
              }
              &-txt {
                padding-right: 10px;
                flex-grow: 1;
              }
              &-arrow {
                display: flex;
                fill: var(--base-color);
              }
            }
          }
          &-nav-img {
            display: flex;
            flex-wrap: wrap;
            margin-left: -1px;
            margin-right: -1px;
            margin-bottom: -2px;
            margin-top: -18px;
            --link-radius: 4px;
            &__item {
              width: 50%;
              padding: 0 1px;
              border: none !important;
              margin-bottom: 2px;
              &:first-child {
                .header-nav-img__link {
                  border-radius: var(--link-radius) 0 0 0;
                }
              }
              &:nth-child(2) {
                .header-nav-img__link {
                  border-radius: 0 var(--link-radius) 0 0;
                }
              }
              &:nth-last-child(2) {
                .header-nav-img__link {
                  border-radius: 0 0 0 var(--link-radius);
                }
                
              }
              &:last-child {
                .header-nav-img__link {
                  border-radius: 0 0 var(--link-radius) 0;
                }
              }
            }
            &__link {
              display: block;
              overflow: hidden;
              position: relative;
              padding: 0;
              border-radius: 0;
              &--m-white {
                color: var(--white);
              }
              &-img {
                display: block;
                img {
                  width: 100%;
                }
              }
              &-txt {
                position: absolute;
                top: 12px;
                bottom: 12px;
                left: 16px;
                right: 20px;
                max-width: 136px;
              }
            }
          }
          &__navigation {
            padding-top: 10px;
            padding-bottom: 16px;
          }
          &-tabs {
            overflow: auto;
            &::-webkit-scrollbar {
              display: none;
            }
            &__item {
              margin-right: 12px;
              &--mobile {
                display: block;
              }
            }
            &__link {
              color: var(--grey-16);
              font-size: 14px;
              line-height: 130%;
              border-radius: 0;
              border-bottom: 1.5px solid transparent;
              padding: 0 0 3.5px;
              font-weight: 500;
              &:hover {
                background: transparent;
              }
              &.selected {
                background: none;
                color: var(--black);
                border-color: var(--black);
              }
            }
          }
    }

    .open-menu {
        &__icon {
          margin-right: 0px;
        }
        &__txt {
          display: none;
        }
        &.active {
          .open-menu__icon-burger {
            display: flex;
          }
          .open-menu__icon-close {
            display: none;
          }
        }
    }
    
    .logo {
        &__img {
          height: 53px;
          width: 36px;
        }
    }
    
    .user-menu {
        &__item {
          margin-right: 24px;
          &--m-hidden {
            display: none;
          }
        }
        &__link {
          &-qty {
            bottom: 2px;
          }
        }
    }

    .productPage {
      .header__bg {
        background: var(--grey-12);
      }
    }
}

/* конец шапки */