<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.5293 8.0625L2.001 8.0625" stroke="#D6D4E0" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M8.6811 2L14.752 8.07187L8.6811 14.1437" stroke="#D6D4E0" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
</svg>