<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.36981 14.8574H6.62695" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.2857 6.31314V6.28571V6.28571C12.2857 3.91914 10.3666 2 8 2V2C5.63343 2 3.71429 3.91914 3.71429 6.28571V6.28571V6.31314V8.432C3.71429 8.70971 3.55743 8.96257 3.30971 9.08686L2.87857 9.302C2.34029 9.572 2 10.1223 2 10.724V10.724C2 11.6017 2.71143 12.3131 3.58914 12.3131H12.4109C13.2886 12.3131 14 11.6017 14 10.724V10.724C14 10.1223 13.6597 9.572 13.1214 9.30286L12.6903 9.08771C12.4426 8.96257 12.2857 8.70971 12.2857 8.432V6.31314Z" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>