<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.36981 15.3574H6.62695" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.2857 6.81314V6.78571V6.78571C12.2857 4.41914 10.3666 2.5 8 2.5V2.5C5.63343 2.5 3.71429 4.41914 3.71429 6.78571V6.78571V6.81314V8.932C3.71429 9.20971 3.55743 9.46257 3.30971 9.58686L2.87857 9.802C2.34029 10.072 2 10.6223 2 11.224V11.224C2 12.1017 2.71143 12.8131 3.58914 12.8131H12.4109C13.2886 12.8131 14 12.1017 14 11.224V11.224C14 10.6223 13.6597 10.072 13.1214 9.80286L12.6903 9.58771C12.4426 9.46257 12.2857 9.20971 12.2857 8.932V6.81314Z" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
