<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.36981 15.3574H6.62695" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.11468 6.7861C3.11468 4.08816 5.30245 1.90039 8.00039 1.90039C10.6983 1.90039 12.8861 4.08816 12.8861 6.7861V8.93239C12.8861 8.98158 12.9136 9.02811 12.9604 9.05215L13.3897 9.26638C14.1311 9.63709 14.6004 10.3953 14.6004 11.2244C14.6004 12.4335 13.6203 13.4135 12.4112 13.4135H3.58953C2.38045 13.4135 1.40039 12.4335 1.40039 11.2244C1.40039 10.3951 1.86928 9.63759 2.60995 9.26608L3.04103 9.05096C3.08652 9.02796 3.11468 8.98202 3.11468 8.93239V6.7861Z" fill="black"/>
</svg>