<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.24889 1V3.53801" stroke="#B0ABB9" stroke-width="1.1" stroke-linecap="square"/>
<path d="M4.17272 1V3.53801" stroke="#B0ABB9" stroke-width="1.1" stroke-linecap="square"/>
<path d="M1 5.44225H12.4211" stroke="#B0ABB9" stroke-width="1.1" stroke-linecap="square"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M11.152 2.26953H2.26901C1.56788 2.26953 1 2.83741 1 3.53854V11.7871C1 12.4882 1.56788 13.0561 2.26901 13.0561H11.152C11.8532 13.0561 12.4211 12.4882 12.4211 11.7871V3.53854C12.4211 2.83741 11.8532 2.26953 11.152 2.26953Z" stroke="#B0ABB9" stroke-width="1.1" stroke-linecap="square"/>
<path d="M3.53906 7.97936H9.88409" stroke="#B0ABB9" stroke-width="1.1" stroke-linecap="square"/>
<path d="M3.53906 10.5165H9.88409" stroke="#B0ABB9" stroke-width="1.1" stroke-linecap="square"/>
</svg>