<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.375 9.73818H10.625" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M5.375 9.73818H3.625" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M13.1643 6.9417L12.577 4.1333C12.4069 3.3227 11.6922 2.7417 10.8634 2.7417H5.20739C4.39469 2.7417 3.68839 3.3017 3.50359 4.0934L2.83789 6.9417" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M1.875 13.9409H3.45C4.0296 13.9409 4.5 13.4705 4.5 12.8909V12.1909H11.5V12.8909C11.5 13.4705 11.9704 13.9409 12.55 13.9409H14.125C14.608 13.9409 15 13.5489 15 13.0659V9.04092C15 7.88102 14.0599 6.94092 12.9 6.94092H3.1C1.9401 6.94092 1 7.88102 1 9.04092V13.0659C1 13.5489 1.392 13.9409 1.875 13.9409Z" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>