<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.99972 14.387C4.4718 14.387 1.61248 11.5276 1.61248 7.99972C1.61248 4.4718 4.4718 1.61248 7.99972 1.61248C11.5276 1.61248 14.387 4.4718 14.387 7.99972C14.387 11.5276 11.5276 14.387 7.99972 14.387Z" stroke="#050505" stroke-width="1.22495" stroke-linecap="square"/>
<path d="M11.1106 6.44531L7.22191 10.334L4.88867 8.0008" stroke="#050505" stroke-width="1.22495" stroke-linecap="square"/>
</svg>
