<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.70459 1.95822C7.76524 0.690223 11.2739 2.14421 12.5419 5.20487C13.8099 8.26552 12.3559 11.7742 9.29523 13.0422C6.23458 14.3101 2.72593 12.8562 1.45794 9.79551C0.19061 6.73486 1.64394 3.22621 4.70459 1.95822" stroke="#C5C4CC" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.8125 4.82422V7.92487L9.24982 9.41086" stroke="#C5C4CC" stroke-width="1.1" stroke-linecap="square" stroke-linejoin="round"/>
</svg>