<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.3C9.65097 12.3 11.8 10.151 11.8 7.5C11.8 4.84903 9.65097 2.7 7 2.7C4.34903 2.7 2.2 4.84903 2.2 7.5C2.2 10.151 4.34903 12.3 7 12.3ZM7 13.5C10.3137 13.5 13 10.8137 13 7.5C13 4.18629 10.3137 1.5 7 1.5C3.68629 1.5 1 4.18629 1 7.5C1 10.8137 3.68629 13.5 7 13.5Z" fill="#BCB8C4"/>
<path d="M6.74316 4.78418V7.84797L9.15151 9.31629" stroke="#BCB8C4" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
</svg>