<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0.400391 2.15914C0.400391 1.46414 0.964138 0.900391 1.65914 0.900391H12.1991C12.8941 0.900391 13.4578 1.46414 13.4578 2.15914V10.7228C13.4578 11.4178 12.8941 11.9816 12.1991 11.9816H9.50534V13.6958C9.50534 13.9197 9.38066 14.1249 9.18196 14.2282C8.98326 14.3314 8.74362 14.3154 8.5604 14.1867L5.4219 11.9816H1.65914C0.964138 11.9816 0.400391 11.4178 0.400391 10.7228V2.15914ZM1.65914 2.10039C1.62688 2.10039 1.60039 2.12688 1.60039 2.15914V10.7228C1.60039 10.7551 1.62688 10.7816 1.65914 10.7816H5.61161C5.73507 10.7816 5.85552 10.8197 5.95654 10.8906L8.30534 12.5409V11.3816C8.30534 11.0502 8.57397 10.7816 8.90534 10.7816H12.1991C12.2313 10.7816 12.2578 10.7551 12.2578 10.7228V2.15914C12.2578 2.12688 12.2313 2.10039 12.1991 2.10039H1.65914Z" fill="#BCB8C4"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.03418 7.49023H9.50414V8.69023H3.03418V7.49023Z" fill="#BCB8C4"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.03418 4.19238H10.8216V5.39238H3.03418V4.19238Z" fill="#BCB8C4"/>
</svg>
