<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.81452 13.5265V11.2388H12.0706C12.43 11.2388 12.7218 10.9471 12.7218 10.5876V2.12191C12.7218 1.76245 12.43 1.4707 12.0706 1.4707H1.65121C1.29174 1.4707 1 1.76245 1 2.12191V10.5876C1 10.9471 1.29174 11.2388 1.65121 11.2388H5.55847L8.81452 13.5265Z" stroke="#C5C4CC" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.81319 7.98381H3.60352" stroke="#C5C4CC" stroke-width="1.1" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M3.60352 4.726H10.1156" stroke="#C5C4CC" stroke-width="1.1" stroke-linecap="square" stroke-linejoin="round"/>
</svg>