<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.5 10.4428V1.23047" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M14.4993 14.7265H2.50195" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M12.2491 7.97852L8.49919 11.7285L4.75 7.97852" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
</svg>