<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2902_58222)">
<path d="M10.6709 5.70996L8.3125 3.35156" stroke="black" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.67541 13.0005L1.30446 12.7244L0.912109 10.2372C0.912109 10.0665 0.979768 9.90214 1.10091 9.78165L9.69295 1.18896C9.9449 0.937013 10.3528 0.937013 10.6041 1.18896L12.723 3.30789C12.975 3.55984 12.975 3.96773 12.723 4.21903L4.13098 12.8117C4.01048 12.9329 3.84617 13.0005 3.67541 13.0005Z" stroke="black" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.93945 12.666L12.6611 12.666" stroke="black" stroke-width="1.1" stroke-linecap="square" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_2902_58222">
<rect width="14" height="14" fill="white"/>
</clipPath>
</defs>
</svg>