<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2459_34568)">
<path d="M7 1.425C10.0793 1.425 12.575 3.92071 12.575 7C12.575 10.0793 10.0793 12.575 7 12.575C3.92071 12.575 1.425 10.0793 1.425 7C1.425 3.92072 3.92072 1.425 7 1.425Z" stroke="#DE6019" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.00195 6.73438L7.00195 9.79688" stroke="#DE6019" stroke-width="1.1" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M7.00024 4.88455C7.09416 4.88455 7.17038 4.80833 7.1697 4.71441C7.1697 4.62049 7.09348 4.54427 6.99956 4.54427C6.90565 4.54427 6.82942 4.62049 6.82942 4.71441C6.82942 4.80833 6.90565 4.88455 7.00024 4.88455" stroke="#DE6019" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_2459_34568">
<rect width="14" height="14" fill="white"/>
</clipPath>
</defs>
</svg>