<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8 1.6C11.535 1.6 14.4 4.46504 14.4 8C14.4 11.535 11.535 14.4 8 14.4C4.46504 14.4 1.6 11.535 1.6 8C1.6 4.46504 4.46504 1.6 8 1.6Z" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7.99805 8.5L7.99805 5" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M7.99944 10.6144C7.89211 10.6144 7.805 10.7015 7.80578 10.8088C7.80578 10.9161 7.89289 11.0033 8.00022 11.0033C8.10755 11.0033 8.19466 10.9161 8.19466 10.8088C8.19466 10.7015 8.10755 10.6144 7.99944 10.6144" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>