<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.42969 12.5747L12.2466 3.75781" stroke="#1B1B1D" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M3.42969 3.42969H12.5731V12.5731" stroke="#1B1B1D" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
</svg>