<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.21094 12.5274L12.1583 2.58008" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
<path d="M2.21094 2.21094H12.5267V12.5267" stroke="black" stroke-width="1.5" stroke-linecap="square"/>
</svg>