<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.494 14.6651L14.7884 3.07433C15.1035 2.22398 14.2757 1.39584 13.4257 1.71102L1.8342 6.01036C0.857323 6.37313 0.934501 7.7798 1.94416 8.03364L7.16687 9.34618L8.47044 14.554C8.72417 15.5651 10.1313 15.6423 10.494 14.6651Z" stroke="black" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>