<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_3067_164654)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.494 14.1651L14.7884 2.57433C15.1035 1.72398 14.2757 0.895845 13.4257 1.21102L1.8342 5.51036C0.857323 5.87313 0.934501 7.2798 1.94416 7.53364L7.16687 8.84618L8.47044 14.054C8.72417 15.0651 10.1313 15.1423 10.494 14.1651Z" stroke="#1B1B1D" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_3067_164654">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>