<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.0006 15.5528H15.5561C17.0904 15.5528 18.3339 14.3093 18.3339 12.775V5.36762C18.3339 3.83336 17.0904 2.58984 15.5561 2.58984H4.44501C2.91075 2.58984 1.66724 3.83336 1.66724 5.36762V12.775C1.66724 14.3093 2.91075 15.5528 4.44501 15.5528H5.8339V18.3306L10.0006 15.5528Z" stroke="#1B1B1D" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.7768 10.9239H5.36938" stroke="#1B1B1D" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M5.36938 7.21882H14.6286" stroke="#1B1B1D" stroke-width="1.3" stroke-linecap="square" stroke-linejoin="round"/>
</svg>