<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_3111_6535)">
<path d="M9.125 1.11426L3 7.23926L9.125 13.3643" stroke="black" stroke-width="1.05" stroke-linecap="square" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_3111_6535">
<rect width="14" height="14" fill="white" transform="translate(0 0.114258)"/>
</clipPath>
</defs>
</svg>