<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.35714 2L2 4.35714L4.35714 6.71429" stroke="#ED611F" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M2 3.75742C1.66863 3.75742 1.4 4.02605 1.4 4.35742C1.4 4.68879 1.66863 4.95742 2 4.95742V3.75742ZM2.78571 12.4003H2.18571V13.6003H2.78571V12.4003ZM2 4.95742H9.07143V3.75742H2V4.95742ZM9.07143 4.95742C11.3941 4.95742 13.1857 6.67131 13.1857 8.67885H14.3857C14.3857 5.91239 11.9564 3.75742 9.07143 3.75742V4.95742ZM13.1857 8.67885C13.1857 10.6864 11.3941 12.4003 9.07143 12.4003V13.6003C11.9564 13.6003 14.3857 11.4453 14.3857 8.67885H13.1857ZM9.07143 12.4003H2.78571V13.6003H9.07143V12.4003Z" fill="#ED611F"/>
</svg>