<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_3104_8438)">
<path d="M14.4528 15.2609L14.8569 15.665L15.665 14.8569L15.2609 14.4528L14.4528 15.2609ZM10.9739 3.30276C13.0923 5.4211 13.0923 8.8556 10.9739 10.9739L11.7821 11.7821C14.3467 9.21741 14.3467 5.05929 11.7821 2.49464L10.9739 3.30276ZM10.9739 10.9739C8.8556 13.0923 5.4211 13.0923 3.30276 10.9739L2.49464 11.7821C5.05929 14.3467 9.21741 14.3467 11.7821 11.7821L10.9739 10.9739ZM3.30276 10.9739C1.18442 8.8556 1.18442 5.42109 3.30276 3.30276L2.49464 2.49464C-0.0700129 5.05929 -0.0700128 9.2174 2.49464 11.7821L3.30276 10.9739ZM3.30276 3.30276C5.42109 1.18442 8.8556 1.18442 10.9739 3.30276L11.7821 2.49464C9.2174 -0.0700128 5.05929 -0.070013 2.49464 2.49464L3.30276 3.30276ZM10.9739 11.7821L14.4528 15.2609L15.2609 14.4528L11.7821 10.9739L10.9739 11.7821Z" fill="#C3C3C3"/>
</g>
<defs>
<clipPath id="clip0_3104_8438">
<rect width="16" height="16" fill="white"/>
</clipPath>
</defs>
</svg>