<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M3.86644 6.13467H1.84932C1.38049 6.13467 1 6.51517 1 6.98399V11.0182C1 11.4871 1.38049 11.8676 1.84932 11.8676H3.86644L7.24588 14.7306C7.79793 15.1986 8.64385 14.8062 8.64385 14.0826V3.91965C8.64385 3.19604 7.79708 2.80365 7.24588 3.27162L3.86644 6.13467Z" stroke="#1B1B1D" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.0715 12.3773C13.0584 11.764 13.7387 10.4884 13.7387 9.00292C13.7387 7.51746 13.0584 6.24094 12.0715 5.62009" stroke="#1B1B1D" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M14.5943 15C16.1299 13.6793 17.138 11.4881 17.138 9.00212C17.138 6.51278 16.1282 4.31984 14.5901 3" stroke="#1B1B1D" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/>
</svg>