<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.33203 4.94184H17.6177" stroke="black" stroke-width="1.44444" stroke-linecap="square" stroke-linejoin="round"/>
<path d="M16.5984 4.93945V16.1639C16.5984 17.2915 15.6851 18.2048 14.5576 18.2048H6.39433C5.26678 18.2048 4.35352 17.2915 4.35352 16.1639V4.93945" stroke="black" stroke-width="1.44444" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.5385 1.62153H7.41602" stroke="black" stroke-width="1.44444" stroke-linecap="square" stroke-linejoin="round"/>
</svg>