.cartPage
    .container
        .content.list
            .content__col.content__col-6.content__col-center.col 
                .cart.cartPage__inner
                    h1.cartPage__title.ttl.h3 корзина
                    .cartPage__txt Корзина пуста