.intro.advent-intro
    .intro-slider.slider 
        .swiper-wrapper 
            .swiper-slide 
                .intro-item
                    .advent-intro__img.intro-item__img
                        video(playsinline autoplay muted loop)
                            //- source(src="static/videos/ASH_LAPTOP_nologo.webm", type="video/webm") 
                            source(src="static/videos/partner_page.mp4", type="video/mp4") 
                    .advent-intro__content.intro-item__content.centered
                        .advent-intro__content-inner.intro-item__content-inner
                            .advent-intro__content-img 
                                +pngG('advent-title', '551', '95')
                            .advent-intro__content-title.h3.ttl Скидка -15% <br>в&nbsp;VIVA&nbsp;LA&nbsp;VIKA

.advent-content
    .container 
        .advent-content__group
            .advent__block-lg 
                .advent-gift
                    .advent-gift__title.h4.ttl Как получить подарок:
                    .advent-gift__txt.advent-gift__txt--center
                        p Промокод действует на сайте <a href="vivalavika.com" target="_blank">vivalavika.com</a> 22 декабря
                    .advent-gift__promocode(data-change="промокод скопирован")
                        .advent-gift__promocode-title 
                            .advent-gift__promocode-title__txt промокод
                            .advent-gift__promocode-title__icon.centered
                                +svg('done-check')
                        .advent-gift__promocode-value.d-flex 
                            .advent-gift__promocode-value__txt IDBASH2025
                            .advent-gift__promocode-value__icon 
                                +pngG('advent-gift-icon', '24', '24')
                    .advent-gift__txt.advent-gift__txt--bottom.advent-gift__txt--center
                        p Скидка не распространяется на вечные браслеты, товары со скидкой, доставку, подарочные сертификаты, подарочную упаковку и гравировку, а&nbsp;также не суммируется с другими промокодами.
                .advent-decor 
                    +pngG('advent-decor')
        .advent-content__group
            .advent__block-xl 
                .advent-info
                    .advent-info__title.ttl.h4 о проекте
                    .advent-info__content.list
                        .advent-info__content-col.col
                            .advent-info__img 
                                +jpgC('advent-img-3', '609', '637')
                        .advent-info__content-col.col
                            .advent-info__desc
                                .advent-info__desc-top.centered 
                                    .advent-info__desc-logo 
                                        img(src="static/images/content/advent-logo-3.svg", alt="img" width="132" height="132")
                                .advent-info__desc-bottom
                                    .advent-info__desc-txt VIVA LA VIKA
        .advent-content__group
            .advent__block-lg 
                .advent__txt
                    p Бренд VIVA LA VIKA появился в июле 2018 года и стал местом силы для всех любителей редких украшений. В&nbsp;нашей коллекции более 30 топовых дизайнеров со&nbsp;всего мира, шедевры которых разбивают сердца всем модницам мира. А&nbsp;также представлены коллекции украшений собственного производства. Наша миссия — склеивать сердечки обратно, настраивать на движ и делиться энергией свежеиспеченных цацок.
    script
        include copy.js