.intro.advent-intro
    .intro-slider.slider 
        .swiper-wrapper 
            .swiper-slide 
                .intro-item
                    .advent-intro__img.intro-item__img
                        video(playsinline autoplay muted loop)
                            //- source(src="static/videos/ASH_LAPTOP_nologo.webm", type="video/webm") 
                            source(src="static/videos/partner_page.mp4", type="video/mp4") 
                    .advent-intro__content.intro-item__content.centered
                        .advent-intro__content-inner.intro-item__content-inner
                            .advent-intro__content-img 
                                +pngG('advent-title', '551', '95')
                            .advent-intro__content-title.h3.ttl Скидка 5000 рублей до&nbsp;12 января <br>2025 г. при покупке онлайн