//- h1.infoPage__title.ttl.h3 памятка по уходу <br>за обувью
.infoPage__desc.txt-base
    .infoPage__desc-mb-32 
        ul 
            li Перед началом эксплуатации изделий из натуральных кож рекомендуем обработать специальной пропиткой с водо — и грязеотталкивающими свойствами согласно инструкции на упаковке средства;
            li Для обуви с кожанной подошвой необходимо провести профилактику (резиновая наклейка на подошву) в обувной мастерской;
            li Мокрую обувь сушите при комнатной температуре вдали от отопительных приборов, предварительно вставив распорки (или плотно набив её бумагой);
            li Не рекомендуется в высоко каблучной обуви ходить по гравию, брусчатке, по снежным и мокрым покрытиям, также данная обувь не предназначена для вождения автомобиля;
            li Кожа, текстильные материалы, обувь на кожаной подошве, а так же обувь ниточного метода крепления подошвы, не является водонепроницаемой, поэтому такую обувь не рекомендуется носить в сырую погоду;
            li В зимнее время берегите обувь от намокания в снежно-водяной смеси и от воздействия химических реагентов;
            li Следует учитывать, что при воздействии влаги обувь может окрашивать стопу;
            li Промокание обуви не является причиной для обращения с претензией, при отсутствии дефектов крепления подошвы;
            li Так во время эксплуатации обувь постоянно подвергается воздействию влаги как внутри, так и снаружи, грязи, истиранию, многократным изгибам, мы рекомендуем не использовать одну и ту пару каждый день. Перед использованием обувь должна высохнуть и восстановить первоначальную форму.
            li Обувь не предназначена для стирки в стиральной машине;
    .slideToggle
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Способы очистки обуви
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle1
                        .slideToggle-item__txt 
                            ul 
                                li Промыть под проточной водой. Но только быстро, не допуская полного промокания материала. Этот метод хорош для сильных загрязнений. Последовательность обработки: каблук, подошва, верх. Завершает процедуру протирание мягкой впитывающей тканью.
                                li Протереть обувь сначала влажной, а затем — сухой материей. Такой вариант подходит для гладких, не сильно испачканных поверхностей. Изделия из замши, велюра и нубука следует чистить исключительно в сухом состоянии.
                                li Избежать ухудшения внешнего вида поверхностей помогут специальные прорезиненные щётки с металлическими включениями.
                                li Вы можете воспользоваться специальными средствами для чистки обуви, например средства для чистки обуви Sole Fresh.
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle2" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Условия приёма обуви
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle2 
                        .slideToggle-item__txt 
                            .slideToggle-item__txt-mb24 
                                p В соответствии с законом «о защите прав потребителя» интернет магазин и фирменные розничные магазины «ASH» осуществляет приём возврата или обмен новой обуви в течение 14 дней со дня продажи, при наличии документов продажи, при условии сохранения товарного вида обуви. Принимает претензии по качеству обуви в течение 30 календарных дней со дня продажи, при наличии документов продажи, с учётом сроков сезонности на отдельные виды обуви. Обувь принимается в чистом и сухом виде. Интернет магазин оставляет за собой право на проведение экспертизы в течении 20 дней со дня приёма товара по заявлению от покупателя.
                            p Приём обуви осуществляется в соответствии со следующими условиями:
                            ul 
                                li Неправильный подбор обуви по размеру, полноте, фасону и расцветке, выявленный в процессе носки не является основанием для обмена (возврата) обуви;
                                li Не принимается претензия покупателя по возврату ношенной обуви при наличии дефекта, согласованного с покупателем при продаже обуви;
                                li На сменные детали (набойки, шнурки, стельки) гарантия не распространяется;
                                li Претензии по качеству не принимаются при несоблюдении правил эксплуатации и хранения обуви;
                            p.slideToggle-item__txt-w610 В соответствии с Распоряжением правительства Москвы № 375-РП «Об установлении сроков сезонности на отдельные виды товаров в Москве», гарантия на обувь, купленную вне сезона, начинается с наступлением данного сезона:
                            .infoPage-columnDesc
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На зимнюю обувь:
                                    .infoPage-columnDesc__col с 1 ноября по 1 марта;
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На весеннюю обувь:
                                    .infoPage-columnDesc__col с 1 марта по 1 мая;
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На летнюю обувь:
                                    .infoPage-columnDesc__col с 1 мая по 1 сентября;
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На осеннюю обувь:
                                    .infoPage-columnDesc__col с 1 сентября по 15 ноября
                            ul 
                                li При носке сезонной обуви с несоблюдением сезонности претензии по качеству не принимаются;
                                li В случае приобретения обуви всесезонного назначения гарантийные сроки исчисляются со дня продажи данной обуви;
                                li Если обувь куплена в конце сезона, то гарантийные сроки не переносятся;
                                li Претензии по обуви с дефектами, образовавшимися вследствие эксплуатации в условиях не соответствующих её назначению, с механическими повреждениями (ожоги, порезы, сдиры с повреждением лицевого слоя и др.), деформированная в результате неправильной носки, сушки, потерявшая качество в результате химического воздействия и с другими дефектами, возникшими по вине покупателя, не принимаются.