.account-certificateNull.account-certificateNull--account
    .account-certificateNull__img
        .account-certificateNull__img-desctop.desctop 
            +pngG('account-cert-null', '770', '797')
        .account-certificateNull__img-mobile.mobile 
            +pngG('account-cert-null-m', '375', '589')
    .account-certificateNull__info 
        .account-certificateNull__title.ttl.h4.sm Лучшее решение для&nbsp;подарка
        .account-certificateNull__txt-2 Сертификаты на&nbsp;любую сумму с&nbsp;индивидуальным дизайном
        a.account-certificateNull__btn.btn(href="#") оформить сертификат

.account-certificateNull.account-certificateNull--info 
    .account-certificateNull__content
        .account-certificateNull__content-item
            .account-certificateNull__item 
                .account-certificateNull__item-title.ttl Как купить сертификат
                .account-certificateNull__item-txt 
                    ol 
                        li Нажмите кнопку «Оформить сертификат»
                        li Создайте собственный дизайн
                        li Укажите сумму, получателя, его контакты и&nbsp;время отправки
                        li Оплатите заказ.
        .account-certificateNull__content-item
            .account-certificateNull__item 
                .account-certificateNull__item-title.ttl Как получить сертификат?
                .account-certificateNull__item-txt.sm 
                    ul.ul
                        li По почте, указанной в контактах получателя
                        li В личном кабинете получателя*.
                    p *Для этого получателю необходимо авторизоваться в личном кабинете по номеру, указанному в&nbsp;контактах получателя
        .account-certificateNull__content-item
            .account-certificateNull__item 
                .account-certificateNull__item-title.ttl Как воспользоваться сертификатом
                .account-certificateNull__item-txt 
                    p При оформлении покупки введите промокод, указанный в сертификате.
                    p Отслеживайте баланс сертификата в личном кабинете.
                    a.account-certificateNull__btn.btn(href="#") оформить сертификат
    .account-certificateNull__decor
        .account-certificateNull__decor-item 
            +pngG('certnull-1', '653', '394')
        .account-certificateNull__decor-item 
            +pngG2('certnull-2', '406', '261', [{mw: '932', name: 'certnull-4'}])
        .account-certificateNull__decor-item 
            +pngG('certnull-3', '408', '470')
