.infoPage__desc.txt-base
    .infoPage-contacts
        .infoPage-contacts__row.flex 
            .infoPage-contacts__col 
                .infoPage-contacts__title оптовые продажи 
                .infoPage-contacts__txt Наша компания является официальным дистрибьютором ASH в России. Мы стремимся развивать как наши магазины, так и работу с партнёрами. Если вы заинтересованы в сотрудничестве с ASH, вы можете отправить запрос на почту:
                .infoPage-contacts__link 
                    a(href="mailto:sale@ashrussia.ru") sale@ashrussia.ru 
            .infoPage-contacts__col
                .infoPage-contacts__title PR отдел
                .infoPage-contacts__txt Будем рады ответить на запросы от СМИ или предложения о сотрудничестве <br>с вашим брендом
                .infoPage-contacts__link 
                    a(href="mailto:pr@ashrussia.ru") pr@ashrussia.ru 
        .infoPage-contacts__bottom 
            .infoPage-contacts__title магазины
            .infoPage-contacts__txt Если у вас возникли вопросы по наличию товара в одном из наших магазинов или вы хотели бы уточнить его адрес, переходите по ссылке:
            a.infoPage-contacts__btn.intro-item__btn.btn.base-up(href="#") 
                span.intro-item__btn-txt магазины
                span.intro-item__btn-icon.svg
                    +icon('link')
    .slideToggle.slideToggle--bottom
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Реквизиты ООО «ФЭШН РИТЕЙЛ»
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle1
                        .slideToggle-item__txt.slideToggle-item__txt-w610
                            p ИНН 5027232713 <br><br>КПП 502701001 <br><br>ОГРН 1155027009521 <br><br>Юр.адрес: 140000, Московская обл., г.о. Люберцы, г. Люберцы, ул. Красная, д. 1 , помещ. 72, ком. 3 <br><br>Р/сч 40702810900080001818 <br><br>К/сч 30101810845250000685 в КБ "СДМ-БАНК" (ПАО) <br><br>БИК 044525685 <br><br>Дата регистрации: 02.10.2015 г. в Межрайонной инспекции Федеральной налоговой службы №17 по г. Московской области <br><br>ОКТМО 46739000001 <br><br>ОКАТО 46444000000 <br><br>ОКПО 11718410 <br><br>ПФР 060-027-060414 <br><br>ФСС 5014022393