h1.infoPage__title.ttl.h3 доставка
.infoPage__desc.txt-base
    .slideToggle
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Доставка по москве
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle1
                        .slideToggle-item__txt
                            p При наличии товара на складе Интернет магазина доставка по Москве и Московской области осуществляется на следующий день, в случае, если заказ был подтверждён менеджером до 14:00. Если заказ поступил позже 14:00, доставка осуществляется через день.
                            .infoPage-columnDesc
                                - for (let i = 0; i < 4; i++)
                                    .infoPage-columnDesc__item.d-flex 
                                        .infoPage-columnDesc__col На зимнюю обувь:
                                        .infoPage-columnDesc__col с 1 ноября по 1 марта;
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle2" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Доставка по Санкт-Петербургу
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle2
                        .slideToggle-item__txt 
                            p  При наличии товара на складе Интернет магазина доставка по Москве и Московской области осуществляется на следующий день, в случае, если заказ был подтверждён менеджером до 14:00. Если заказ поступил позже 14:00, доставка осуществляется через день.
                            .infoPage-columnDesc
                                - for (let i = 0; i < 4; i++)
                                    .infoPage-columnDesc__item.d-flex 
                                        .infoPage-columnDesc__col На зимнюю обувь:
                                        .infoPage-columnDesc__col с 1 ноября по 1 марта;
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle3" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Доставка по регионам РФ и зарубеж
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle3
                        .slideToggle-item__txt 
                            p При наличии товара на складе Интернет магазина доставка по Москве и Московской области осуществляется на следующий день, в случае, если заказ был подтверждён менеджером до 14:00. Если заказ поступил позже 14:00, доставка осуществляется через день.
                            .infoPage-columnDesc
                                - for (let i = 0; i < 4; i++)
                                    .infoPage-columnDesc__item.d-flex 
                                        .infoPage-columnDesc__col На зимнюю обувь:
                                        .infoPage-columnDesc__col с 1 ноября по 1 марта;