.infoPage__desc.txt-base
    .slideToggle
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#common1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Оферта и политика конфиденциальности
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#common1
                        .textBlock
                            p Договор – оферта описывает Условия (далее Условия) продажи товаров в Интернет магазине <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> обуви и аксессуаров.
                            p 1. Термины и определения, используемые в настоящих Условиях
                            p Покупатель - физическое лицо, размещающее Заказы на сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>, либо указанное в качестве получателя Товара, либо использующее Товары, приобретенные на сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>, исключительно для нужд, не связанных с осуществлением предпринимательской деятельности.
                            p Продавец - Общество с Ограниченной Ответственностью «ФЭШН РИТЕЙЛ».
                            p Служба доставки – компании, оказывающие услуги по доставке Заказов Покупателям, работающие на основании договора с Продавцом.
                            p Интернет магазин – мобильное приложение «ASH» и Интернет сайт, расположенный в сети Интернет по адресу <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>, где Покупатель может просмотреть каталог представленных на сайте товаров, ознакомиться с их описанием, ценами и выбрать определенные товары, оформить заказ, выбрав из возможных вариантов оплаты и способов доставки.
                            p Сайт – программный модуль, состоящий из web страниц, размещенный по адресу <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в сети Интернет.
                            p Оформление заказа – Покупатель может выбрать понравившийся товар и оформить заказ, т.е. предоставить информацию Продавцу контактную информацию необходимую для доставки выбранного товара. Оформив Заказ, Покупатель подтверждает, что:
                            ul 
                                li он ознакомился с настоящими Условиями;
                                li настоящие Условия понятны Покупателю;
                                li он полностью согласен с изложенными в настоящих Условиях правилами и принимает их.
                            p 2. Общие положения
                            p 2.1. Настоящие Условия регулируют взаимоотношения между Продавцом и Покупателем, а также определяют порядок розничной купли-продажи товаров через Интернет магазин, в том числе:
                            ul 
                                li выбор Покупателем товаров в Интернет магазине;
                                li оформление Покупателем заказа в Интернет магазине;
                                li оплату Покупателем заказа, оформленного в Интернет магазине;
                                li выполнение заказа и передачу, товара в собственность Покупателя в соответствии с настоящими Условиями;
                                li а также возврат товара от Покупателя Продавцу.
                            p Настоящие Условия не применяются к приобретению товара в розничных магазинах, даже при условии оформления заказа в интернет магазине для последующей покупки в розничном магазине.
                            p 2.2. Настоящие Условия, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
                            p 2.3. Продавец оставляет за собой право вносить изменения в настоящие Условия в одностороннем порядке, публикуя их на сайте.
                            p 2.4. Покупатель обязуется регулярно отслеживать изменения в Условиях, размещенных на Сайте.
                            p 2.5. Действующая редакция Условий размещена на сайте Интернет магазина <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в разделе «Информация».
                            p 2.6. Продавец и Покупатель гарантируют друг другу, что обладают необходимыми правами и полномочиями, необходимыми и достаточными для заключения и исполнения договора розничной купли-продажи.
                            p 2.7. Настоящие Условия имеют приоритет перед иными документами.
                            p 2.8. Покупатель соглашается с настоящими Условиями путем проставления отметки в графе «Я прочитал(-а) Условия и соглашения и согласен(-на) с условиями» при оформлении заказа. Покупатель так же соглашается с настоящими Условиями в случае оформления заказа по телефону.
                            p 2.9. Продавец доставляет и передает, а Покупатель оплачивает и получает товары согласно размещенному Заказу.
                            p 2.10. Заказ считается исполненным в момент фактической передачи Товаров Покупателю на основании накладной выданной Продавцом или Службой доставки, осуществляющей доставку заказа. По исполнении заказа обязательства Продавца перед Покупателем считаются выполненными.
                            p 2.11. В случае подписания покупателем выданной Продавцом или Службой доставки накладной на заказ без вскрытия Заказа Покупатель не может предъявить претензии Продавцу по данному Заказу, за исключением претензий, связанных с наличием производственных дефектов в приобретаемом Товаре.
                            p 2.12. Право собственности на Товар и связанные с ним риски переходят от Продавца к Покупателю в момент фактической передачи Товара. Подтверждением перехода Права собственности на товар служит подпись покупателя в накладной, выданной Продавцом или Службой доставки.
                            p 3. Оформление заказа
                            p 3.1. Для оформления Заказа Покупателю необходимо самостоятельно на Сайте, заполнить форму.
                            p 3.2. При оформлении заказа на Сайте Покупатель должен указать следующую информацию:
                            ul 
                                li Фамилию и Имя Покупателя;
                                li контактный телефон;
                                li адрес электронной почты (e-mail);
                                li Адрес доставки;
                                li Почтовый индекс.
                            p 3.3. Продавец не несет ответственности за точность и правильность информации, предоставляемой Покупателем при оформлении заказа. В случае неисполнения Продавцом обязательств, по причине сообщения Покупателем недостоверных сведений о себе, Продавец не несет ответственности за подобное неисполнение Заказа. Повторные действия по исполнению Заказа производятся только по согласованию сторон с отнесением соответствующих дополнительных расходов на Покупателя.
                            p 4. Регистрация на сайте и в мобильном приложении
                            p 4.1. Покупатель может оформить регистрацию на сайте или в мобильном приложении Интернет магазина для упрощения процедуры оформления заказа и получения дополнительной рекламной и другой информации Интернет магазина.
                            p 4.2. При регистрации заказа Покупатель должен указать следующую информацию:
                            ul 
                                li Имя Покупателя;
                                li Фамилия Покупателя;
                                li Адрес электронной почты (e-mail). Является логином для входа;
                                li Телефон;
                                li Адрес;
                                li Пароль для входа;
                            p 4.3. Продавец гарантирует защиту и конфиденциальность полученной информации в соответствии с действующим законодательством РФ.
                            p 4.4. Покупатель обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации. В случае возникновения у Покупателя подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, Покупатель обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо по адресу <a href="mailto:info@ashrussia.ru">info@ashrussia.ru</a>, либо по телефону 8 (800) 500-76-82.
                            p 4.5. Хранение и использование информации, предоставленной пользователем, осуществляется на условиях Политики конфиденциальности.
                            p 5. Оформление и сроки выполнения Заказа
                            p 5.1. Заказ Покупателя может быть оформлен следующими способами:
                            ul 
                                li принят по телефону 8 (800) 500-76-82
                                li оформлен Покупателем самостоятельно на Сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>
                            p 5.2. Самостоятельное оформление Заказа осуществляется на Сайте в разделе «Оформление Заказа».
                            p 5.3. После получения Заказа Продавец может согласовать изменение данных полученных при оформлении Заказа Покупателем. Согласование осуществляется по телефону или электронной почте.
                            p 5.4. После согласования и подтверждения Заказа Покупателю предоставляется информация о дате передачи Заказа в Службу доставки. Указанная дата зависит от наличия заказанных Товаров на складе Продавца и времени, необходимого на обработку Заказа.
                            p 5.5. В случае отсутствия заказанных товаров на складе Продавца, в том числе по причинам, не зависящим от Продавца, Продавец информирует об этом Покупателя по телефону, либо направив письмо по адресу электронной почты, указанному при оформлении Заказа. Покупатель вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо аннулировать данную позицию Товара из Заказа. В случае неполучения ответа Покупателя в течение 3 (трёх) рабочих дней с момента уведомления по телефону либо по адресу электронной почты, Продавец вправе отменить Заказ в полном объеме путем направления электронного сообщения по адресу, указанному при регистрации.
                            p 5.6. В случае отмены полностью либо частично предварительно оплаченного товара стоимость отмененного товара возвращается Продавцом Покупателю на расчетный счет.
                            p 5.7. Указанная на Сайте информация по срокам доставки, стоимости, наличии на складе и другая информация, по товарам, носят справочный (информационный) характер и не порождают никаких юридических последствий, как для Продавца, так и для Покупателя. Указанная на Сайте информация относительно сроков поставки товаров и их наличия является ориентировочной и уточняется Продавцом при подтверждении заказа.
                            p 5.8. Продавец вправе в одностороннем порядке ограничить количество товарных позиций в одном заказе, сумму одного заказа, форму возможной оплаты заказа, а также количество заказов, единовременно отправляемых на один адрес одному Покупателю.
                            p 5.9. Продавец приступает к комплектованию заказа непосредственно после получения заказа. Покупатель имеет право вносить изменения в размещенный заказ до момента передачи товара в службу доставки, при этом он несет на себе все риски, связанные с задержкой исполнения его заказа по причине изменения наименования и (или) количества заказанного товара.
                            p 5.10. В случае, если после размещения заказа у Покупателя изменились реквизиты, имеющие значение для надлежащего исполнения Продавцом своих обязанностей, или Покупатель заметил ошибку в указанном адресе доставки или иных сведениях, он обязан незамедлительно уведомить об этом Продавца по телефону 8 (800) 500-76-82, либо направив соответствующее письмо по электронному адресу <a href="mailto:info@ashrussia.ru">info@ashrussia.ru</a>.
                            p 5.11. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара, перед оформлением Заказа Покупатель должен обратиться к Продавцу по телефону 8 (800) 500-76-82, либо направить соответствующее письмо по электронному адресу <a href="mailto:info@ashrussia.ru">info@ashrussia.ru</a>.
                            p 6. Доставка товара
                            p 6.1. Доставка товара осуществляется по территории Российской Федерации.
                            p 6.2. Сроки и стоимость доставки уточняет Продавец при подтверждении заказа Покупателю.
                            p 6.3. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю с момента передачи ему Заказа и проставления получателем Заказа подписи в документах, подтверждающих получение Заказа.
                            p 6.4. Условия доставки товаров указаны на Сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в разделе «Информация».
                            p 6.5. Покупателю необходимо ознакомиться с информацией о товаре, порядке и сроках возврата товара, информации по уходу за обувью на Сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>.
                            p 6.7. Во избежание случаев мошенничества, а также для выполнения взятых на себя обязательств, при вручении предоплаченного Заказа лицо, осуществляющее доставку Заказа, вправе затребовать документ, удостоверяющий личность Получателя.
                            p 6.8. При передаче Заказа Покупатель обязан в присутствии представителя Службы доставки открыть индивидуальную упаковку и проверить наличие Товара. Убедившись отсутствии следов механических и иных повреждений, сверить артикул и размер получаемого Товара с артикулом и размером, проставленным в сопроводительном документе, проверить комплектацию и цвет Товара. Покупатель, убедившись, что ему доставлен именно тот Товар, который он заказывал, должен расписаться в сопроводительном документе (накладной). Факт проставления подписи на сопроводительных документах свидетельствует о том, что Покупатель Товар принял, претензии к внешнему виду, комплектации и стоимости Товаров у него отсутствуют. Подпись Покупателя исключает дальнейшие претензии к Продавцу, за исключением претензий, связанных с наличием производственных дефектов в заказанном Товаре.
                            p 6.9. Право собственности на Товар и связанные с ним риски переходят от Продавца к Покупателю в момент передачи Товара, после его оплаты. Подтверждением перехода Права собственности на товар служит подпись покупателя в накладной, выданной Продавцом или Службой доставки.
                            p 6.10. При доставке обуви в некоторые населенные пункты, в которых, в соответствии с условиями доставки, разрешена примерка, применяются особенные условия. Покупатель, убедившись, что ему доставлен именно тот товар, который он заказывал, может провести примерку товара:
                            ul 
                                li Покупатель обязан проводить примерку на чистой поверхности пола либо обеспечить условия, при которых примеряемая обувь не смогла бы получить мелкие повреждения и испачкаться.
                                li Покупатель обязан аккуратно извлечь обувь из упаковки. Извлечь из обуви бумажные наполнители и вставки, применяющиеся для сохранения формы обуви.
                                li При примерке Покупатель обязан использовать обувную «ложку», если примеряемая обувь одевается с затруднениями.
                                li Покупатель обязан при примерке обуви использовать носки или следки, даже в том случае, если примеряемая модель предназначена для использования при высоких температурах и носится без использования носков и следков.
                            p 6.11. В случае если примеряемая обувь в силу каких-либо причин не подходит Покупателю, то он обязан:
                            ul 
                                li аккуратно поместить наполнители и вставки в обувь;
                                li в случае, если изначально каждый полупарок был уложен в индивидуальный пакет, то Покупатель обязан поместить каждый полупарок в свой индивидуальный пакет;
                                li аккуратно уложить обувь в индивидуальную упаковку, используя упаковочную перекладную бумагу, находящуюся в индивидуальной упаковке;
                                li произвести все необходимые действия для сохранения первоначального товарного вида обуви;
                                li передать товар представителю службы доставки.
                            p 7. Оплата Товара
                            p 7.1. Выбор покупателем доставки означает согласие покупателя на доставку товара на условиях Службы доставки.
                            p 7.2. Цена товара указывается на Сайте в Российских рублях.
                            p 7.3. Цена Товара в Интернет магазине может быть изменена Продавцом в одностороннем порядке.
                            p 7.4. При невозможности связаться с Покупателем в течение 3 (трех) календарных дней данный заказ считается отмененным. В случае, если заказ был оплачен, Продавец по требованию Покупателя возвращает стоимость Товара Покупателю, возврат осуществляется поусловиям возврата описанного в пункте 8 Условий.
                            p 7.5. Способы оплаты Товара указаны на Сайте по <a class="https://ashrussia.ru/pokupatelyam/payment" target="_blank">адресу</a>, и доступны к выбору в процессе оформления заказа Покупателем, в зависимости от условий оформляемого заказа.
                            p 7.6. Продавец вправе предоставлять Покупателю скидки на Товар. Информация о скидках и предложениях размещена на сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в разделе «Информация».
                            p 8. Возврат Товара
                            p 8.1. Покупатель имеет право отказаться от товара, заказанного и/или оплаченного им в Интернет магазине, в любое время до его получения, а после его передачи - в течение 14 (четырнадцати) дней (не считая дня покупки). При этом, стоимость доставки не возмещается.
                            p 8.2. Продавец оставляет за собой право отказать в дальнейшем обслуживании Покупателям.
                            p 8.3. Возврат Товара надлежащего качества возможен в случае, если он не имеет следов эксплуатации, сохранены его оригинальная упаковка, товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а также документ, подтверждающий факт покупки указанного Товара.
                            p При отсутствии у Покупателя указанного документа он вправе ссылаться на другие объективные доказательства приобретения товара у данного Продавца.
                            p 8.4. Возврат Товара надлежащего качества, бывшего в употреблении, невозможен (Согласно пункту 1 статьи 25 Закона РФ «О защите прав потребителей» от 07.02.1992 г. № 2300-1).
                            p 8.5. Покупатель может сделать частичный возврат Товара надлежащего качества.
                            p 8.6. Покупатель не вправе возвратить и обменять чулочно-носочные изделия, супинаторы, стельки, а также средства по уходу и иные Товары надлежащего качества, указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.
                            p 8.7. Продавец вправе не принимать претензий по возвращаемому Товару ненадлежащего качества в следующих случаях:
                            ul 
                                li В случае обнаружения внешних повреждений товара;
                                li Несоответствия артикулов;
                                li Номеров на товаре, упаковке;
                                li При отсутствии документов, подтверждающих факт приобретения товара и (или) оригинальной упаковки;
                                li В случае неправильной эксплуатации товара;
                                li В случае если Покупатель эксплуатировал товар в сезон, не предназначенный для эксплуатации данной модели;
                                li В случае если товар, предназначенный для эксплуатации в сухую погоду эксплуатировался в дождливую или влажную;
                                li В случае если покупателем не была установлена резиновая профилактика при её изначальном отсутствии, и информация о необходимости её установки указана на Сайте;
                                li В случае если товар сушился с использованием приборов или устройств, создающих температуру выше комнатной, например, на батарее отопления помещения;
                                li В случае если товар сушился в надлежащих условиях, но без наполнения товара формующими элементами (например, бумагой), вследствие чего товар потерял внешний вид и форму;
                                li В случае если товар уже был в ремонте, не связанным с производственными дефектами;
                                li В случае получения товаром внешних механических повреждений в период эксплуатации;
                                li В случае возникших в процессе эксплуатации отрывов или повреждений деталей фурнитуры, пряжек, цепочек, страз и иных элементов, имеющих декоративное назначение;
                                li В случае возникновения или обнаружения скрытых дефектов, не влияющих на эксплуатацию данного товара.
                            p 8.8. При возврате или обмене товара надлежащего качества Покупатель обязан соблюсти следующие условия: товар должен быть чистым, без следов пыли, без следов эксплуатации, без повреждений, без потери товарного вида, в оригинальной упаковке. Упаковка и внутренняя перекладная бумага не должны иметь никаких внешних повреждений и помятостей. В случае несоблюдения этого условия Продавец имеет право отказать в обмене или возврате Товара.
                            p 8.9. Порядок возврата товара:
                            p Информация о порядке, способах и сроках возврата товара, а также порядке и способах получения денежных средств за возвращенный товар, размещена на Сайте по адресу <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в разделе «Информация».
                            p 8.10. При отправке почтовым отправлением либо курьерской службой возврат оформляется в виде посылки с отметкой «Возврат товара».
                            p 8.11. Отправка посылки с возвращаемым товаром осуществляется за счет Покупателя.
                            p 8.12. Возврат денежных средств производится на расчетный счет, с которого производилась оплата или на указанный в заявлении на возврат.
                            p 9. Гарантии
                            p 9.1. На Товар установлена гарантия 30 дней с момента покупки включая календарный день продажи, если иное не отражено в товарном чеке или ином сопроводительном документе, с которым ознакомлен покупатель.
                            p 9.2. В соответствии с Распоряжением правительства Москвы № 375-РП «Об установлении сроков сезонности на отдельные виды товаров в Москве», гарантия на обувь, купленную вне сезона, начинается с наступлением данного сезона:
                            ul 
                                li На зимнюю обувь: с 1 ноября по 1 марта;
                                li На весеннюю обувь: с 1 марта по 1 мая;
                                li На летнюю обувь: с 1 мая по 1 сентября;
                                li На осеннюю обувь: с 1 сентября по 15 ноября.
                            p 9.3. Покупатель обязан соблюдать правила и условия эффективного и безопасного использования Товаров, которые представлены на сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в разделе «Информация».
                            p 9.4. Гарантийный срок на комплектующие и составные части Товара (украшения, набойки, молнии и прочие декоративные и сменные элементы) не устанавливается. Поскольку на комплектующее изделие и составную часть Товара установлен гарантийный срок меньшей продолжительности, чем на основное изделие, Покупатель не вправе предъявить требования, связанные с недостатками комплектующего изделия и составной части Товара, при их обнаружении в течение гарантийного срока на основное изделие.
                            p 9.5. Не являются гарантийными случаями: маркость (окрашивание) , промокание обуви, истирание подошвы в носочной части обуви, а также дефекты, возникшие из-за использования товара не по назначению, нарушения правил эксплуатации, неправильно подобранного размера, воздействия химических или антигололедных реагентов, несвойственных механических нагрузок, отсутствия надлежащего ухода, неквалифицированного ремонта, нарушения сроков сезонности, определяемых субъектами РФ. Обувь прошивного метода крепления, а также на кожаной подошве или из деликатных материалов (замша, нубук, велюр и т.п.) не предназначена для использования в сырую погоду. Подробнее о правилах ухода описано на сайте <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a> в разделе «Информация».
                            p 9.6. Средства по уходу за Товаром должны применяться согласно их назначению.
                            p 10. Ответственность сторон
                            p 10.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего использования товаров, заказанных на Сайте.
                            p 10.2. Продавец не отвечает за убытки Покупателя, возникшие в результате:
                            ul 
                                li неправильного оформления Заказа;
                                li неправомерных действий третьих лиц.
                            p 10.3. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств, если такое неисполнение явилось следствием действия обстоятельств непреодолимой силы, возникших после вступления в силу Правил, в результате событий чрезвычайного характера, которые Стороны не могли предвидеть и предотвратить разумными мерами.
                            p 10.4. В иных случаях неисполнения или ненадлежащего исполнения своих обязательств, не предусмотренных п. 10.3. настоящих Правил, Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.
                            p 10.5. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам.
                            p 10.6. Покупатель обязуется не использовать заказанный товар в предпринимательских целях
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#common2" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Согласие на рассылку
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#common2
                        .textBlock 
                            p 1. При регистрации в Интернет-магазине или передаче данных специалисту по работе с клиентами по телефону Клиент предоставляет ООО "Фэшн ритейл" и Продавцу следующие данные: Имя, Фамилия, адрес электронной почты, пол, дата рождения, номер телефона и адрес для доставки Товара. При возврате Товара для перечисления Продавцом денежных средств Клиент предоставляет паспортные данные (серия, номер, дата выдачи, кем выдан паспорт) и данные банковской карты. В соответствии с Федеральным законом от 27 июля 2006 г. № 152-ФЗ «О персональных данных» и принятыми в соответствии с ним локальными нормативными актами ООО "Фэшн ритейл", указанная выше информация относится к персональным данным. Продавец вправе обрабатывать указанную выше информацию для выполнения своих обязательств перед Клиентом в рамках настоящей оферты. Продавец признает важность конфиденциальности предоставленной личной информации Клиентом.
                            p 1.1. Клиент подтверждает свое согласие в отношении каждого лица, указанного ниже, с тем, что персональные данные, которую тот предоставляет ООО "Фэшн ритейл" при использовании Сайта или совершении Заказа с помощью телефона, при оформлении на Сайте заявления на возврат Товаров и денежных средств, уплаченных за Товары, может быть передана ООО "Фэшн ритейл", включая трансграничную передачу персональных данных:
                            ul 
                                li Продавцу, с которым Клиент с помощью Сайта заключает договор купли-продажи Товаров, для целей исполнения Продавцом указанного договора с Клиентом;
                                li Компаниям, которые обеспечивают доставку Товара от Продавца к Клиенту;
                                li лицам, аффилированным с ООО "Фэшн ритейл", либо входящим в одну группу лиц с ООО "Фэшн ритейл", как это установлено Федеральным законом «О защите конкуренции» (с последующими изменениями и дополнениями, включая новые редакции и переименование).
                            p Предоставляя свои персональные данные Продавцу и ООО "Фэшн ритейл", Клиент соглашается на их обработку Продавцом и ООО "Фэшн ритейл", в том числе для выполнения своих обязательств перед Клиентом в рамках Условий, продвижения Продавцом Товаров и услуг, реализуемых самим Продавцом и (или) партнерами Продавца в рамках проводимых совместных маркетинговых акций, путем направления рассылок рекламно-информационного характера, проведения электронных и sms опросов, проведение конкурсов и иных промо-акций среди Клиентов, анализа результатов маркетинговых акций, клиентской поддержки, проведение статистических исследований, организации доставки Товара, контроля удовлетворенности Клиентов качеством оказываемых Продавцом услуг.
                            p Лица, посещающие Сайт, а также Клиенты соглашаются с тем, что для осуществления обязательств перед Клиентом, а также с целью проведения маркетинговых акций, исследований, формирования аналитических отчетов и других маркетинговых действий Продавец может поручить обработку персональных данных (включая, но не ограничиваясь — ФИО, дата рождения, пол, адрес электронной почты,номер мобильного телефона,адрес фактического проживания, данные об акканутах в социальных сетях, сведения об историях покупок, сведения об интересах, банковские реквизиты) третьим лицам на основании договора, заключенного с такими лицами, при условии соблюдения требований законодательства РФ об обеспечении конфиденциальности персональных данных и безопасности персональных данных при их обработке.
                            p Под обработкой персональных данных понимается любое действие, совершаемое с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение) извлечение, использование, передачу (в том числе передачу третьим лицам, включая трансграничную передачу, если необходимость в ней возникла в ходе исполнения обязательств), обезличивание, блокирование, удаление, уничтожение персональных данных.
                            p 1.2. Продавец вправе использовать технологию "cookies" для формирования статистики и оптимизации рекламных сообщений. «Cookies» не используются с целью установления личности Клиента. Посетитель Сайта или Клиент настоящим дает согласие Продавцу и ООО "Фэшн ритейл" на обработку, в том числе поручение обработки третьим лицам, «cookies» в указанных выше целях.
                            p Клиент настоящим уведомлен, понимает и соглашается с тем, что при использовании Сайта для целей предоставления Клиенту функциональных возможностей Сайта Ashrussia.ru, unitednude.ru, justcouture.ru в автоматическом режиме передается следующая обезличенная информация: тип операционной системы устройства Клиента, версия и идентификатор браузера, статистика использования функций Сайта, данные местонахождения устройства (если применимо), а также иная техническая информация.
                            p Клиент соглашается с тем, что ООО "Фэшн ритейл" вправе хранить указанную выше персональную информацию Клиента, а также персональную информацию (персональные данные) указанного Клиента, получателя Заказа в течении срока использования Клиентом Сайта и не менее трех лет с даты последнего использования Клиентом Сайта.
                            p 1.3. Продавец вправе осуществлять записи телефонных разговоров с Клиентом. При этом Продавец обязуется: предотвращать попытки несанкционированного доступа к информации, полученной в ходе телефонных переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 Федерального закона «Об информации, информационных технологиях и о защите информации».
                            p 1.4. Продавец принимает необходимые организационные и технические меры для защиты персональной информации Клиента от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц. Подробные условия защиты персональных данных, прав и обязанности Клиента и Продавца подробно изложены в Политике об обработке и защите персональных данных.
                            p Клиент, в соответствии с ч. 1 ст. 18 Федерального закона «О рекламе», дает свое согласие в отношении каждого лица, указанного ниже, на получение сообщений рекламного характера от ООО "Фэшн ритейл", либо лиц, входящих в одну группу лиц с ООО "Фэшн ритейл", как это установлено Федеральным законом «О защите конкуренции» (с последующими изменениями и дополнениями, включая новые редакции и переименование):
                            ul 
                                li ООО «Конвид» (ОГРН 157746981050, адрес местонахождения: 1101000, Москва, Лубянский пр-д, дом 19, стр. 1);
                                li ООО «ЮниСендер Рус» (ОГРН 1147746929483, адрес местонахождения: 105082, Москва, улица Фридриха Энгельса, дом 75, строение 21, офис 502);
                                li ООО «Смс-центр» (ОГРН 1117746756489, адрес местонахождения: 123112, г. Москва, Пресненская наб., 12, офис А35);
                                li ООО «Девино Онлайн» (ОГРН 1177746388269 109431, Москва г,Привольная ул, дом No 75, корпус 1, помещение 4)
                            p Вышеуказанные лица вправе осуществлять прямые контакты, с Клиентом, в том числе путем направления Клиенту корреспонденции рекламного характера на указанный Клиентом почтовый адрес, осуществления телефонных звонков, отправки sms — сообщений, сообщений через интернет-мессенджеры, push-уведомлений, а также отправки электронных писем рекламного характера на указный Клиентом электронный адрес.
                            p Клиент может отказаться от получения рассылок, от получения рекламной и другой информации без объяснения причин одним из указанных способов:
                            ul 
                                li Зайти в рассылку и в низу нажать: Отписаться от данной рассылки;
                                li Обратиться в Службу по работе с клиентами ООО "Фэшн ритейл", направив электронное письмо на адрес <a href="mailto:info@ashrussia.ru">info@ashrussia.ru</a> или связавшись со специалистами службы поддержки клиентов по телефонам 8(800)500-76-82, 8(495)649-83-13.
                            p 2. Разрешение споров
                            p 2.1. Стороны примут все меры по разрешению споров и разногласий, которые могут возникнуть при исполнении обязательств путем переговоров.
                            p 2.2. В случае если Стороны не пришли к соглашению, все споры подлежат рассмотрению в соответствии с процедурой, предусмотренной законодательством РФ.
                            p 2.3. Судебные споры подлежат рассмотрению по месту нахождения Продавца.
                            p 3. Заключительные положения
                            p 3.1. К отношениям между Покупателем и Продавцом применяется законодательство РФ.
                            p 3.2. Настоящие Условия, размещенные на используемом Продавцом сайте в Интернете по адресу <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>, являются публичной офертой. Отсутствие подписанного между сторонами экземпляра Договора на бумажном носителе с проставлением подписей сторон в случае проведения по нему фактической оплаты Покупателем не является основанием считать договор купли-продажи незаключенным. Проведение оплаты в соответствии со сделанным Заказом считается акцептом Покупателя.
                            p 3.3. Признание недействительности какого-либо пункта или подпункта настоящих Условий не влечет за собой недействительность остальных пунктов или подпунктов.
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#common3" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left согласие на сертификаты
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#common3
                        .textBlock 
                            p Данный документ является официальным предложением любым физическим лицам, не зарегистрированным в качестве индивидуальных предпринимателей, (публичной офертой) Общества с ограниченной ответственностью «ФЭШН РИТЕЙЛ», именуемое в дальнейшем Продавец, и содержит все существенные условия договора купли-продажи сертификатов.
                            p В соответствии с пунктом 2 статьи 437 Гражданского кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий лицо, производящее акцепт настоящей оферты, становится Покупателем (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).
                            p В связи с изложенным выше, внимательно прочитайте текст настоящей публичной оферты. Если Вы не согласны с каким-либо пунктом оферты, Продавец предлагает Вам отказаться от приобретения Сертификата.
                            p Определения:
                            p Оферта — предложение Продавца, адресованное любому дееспособному физическому лицу, заключить с ним договор о покупке сертификата на предварительную оплату товаров (обувных изделий) в интернет-магазине https://ashrussia.ru/ и приложении сети магазинов «ASH».
                            p Сертификат — это электронный документ, имеющий уникальный номер и удостоверяющий право его обладателя приобрести товары на сумму, равную номинальной стоимости. Срок действия Сертификата составляет 1 (Один) год.
                            p Номинал — максимальный предел использования авансируемых средств по каждому Сертификату в отдельности. Минимальный размер номинала составляет 1 рубль.
                            p Покупатель — дееспособное физическое лицо, заключившее с Продавцом Договор на условиях, содержащихся в настоящей Оферте. Держатель Сертификата, факт наличия Сертификата определяет владельца Сертификата.
                            p Предъявитель — дееспособное физическое лицо, правомерно владеющее и распоряжающееся Сертификатом в результате получения такого Сертификата от Покупателя, обладающее правом приобретения товара для личного, семейного и иного использования, не связанного с предпринимательской деятельностью.
                            p 1. Порядок заключения Договора
                            p 1.1. Покупатель, намеренный приобрести Сертификат, считается заключившим с Продавцом Договор и полностью и безоговорочно принявшим все условия данной оферты после совершения действий по ее акцепту, то есть после осуществления оплаты стоимости Сертификата в соответствии с условиями настоящей публичной оферты в безналичном порядке на расчетный счет Продавца.
                            p 1.2. Продажная стоимость Сертификата равняется его номинальной стоимости (сертификат на сумму).
                            p 1.3. Для покупки Сертификата в форме электронного документа Покупателю необходимо заполнить обязательные поля формы «Подарочные сертификаты», содержащие данные о фамилии, имени, отчестве Покупателя, его электронной почте и контактном телефоне, а также указать желаемую номинальную стоимость сертификата, после чего происходит перенаправление на сайт для оплаты Сертификата.
                            p 1.4. После заключения Договора Продавец обязан выслать Сертификат (код активации) на электронную почту, указанную Покупателем. 
                            p 1.5. В случае истечения срока действия Сертификата, денежные средства возврату не подлежат. 
                            p 2. Условия реализации Сертификатов
                            p 2.1. Сертификат на предъявителя может использоваться как денежный эквивалент указанного в сертификате номинала в рублях для оплаты товаров Предъявителем сертификата.
                            p 2.2. Продавец принимает в оплату товаров, приобретаемых Предъявителем Сертификаты в размере их Номинала.
                            p 2.3.  Предъявитель Сертификата может использовать его в качестве полной или частичной оплаты, согласно выбранных товаров.
                            p В случае если стоимость выбранного товара меньше номинала Сертификата, оставшаяся сумма может быть использована Предъявителем на условиях настоящего Договора при оплате последующих покупок товаров с ограничением действия Сертификата.
                            p В случае, если товары превышают стоимость номинала сертификата – необходимо произвести соответствующую доплату.
                            p 2.4. При оплате покупки с использованием Сертификата действуют скидки, предоставляемые покупателям в соответствии с проводимыми акциями, если иное не указано в условиях акции.
                            p 2.5. В случае возврата товара, имеющего признаки ненадлежащего качества, Сертификат с номиналом в полном объеме возвращается Покупателю. 
                            p 2.5. Срок действия Сертификата составляет 1 (Один) год с даты его покупки, после истечения срока действия Сертификата номинал сгорает. Это означает, что Сертификат принимается до момента истечения одного года с момента приобретения Сертификата. После окончания срока действия Сертификата он не может быть использован в качестве средства оплаты, а также не подлежит обмену на новый Сертификат, денежные средства за Сертификат с истекшим сроком действия не возвращаются. Несовершение действий, направленных на использование Сертификата в течение срока его действия, признается отказом Покупателя/Предъявителя от своих прав по осуществлению приобретения товаров у Продавца.
                            p 2.6. Сертификат не может быть приобретен путем использования другого Сертификата.
                            p 2.7. В течение 24 (двадцати четырех) часов с момента получения оплаты Сертификата Продавец направляет Сертификат на электронную почту, адрес которой был указан Покупателем при приобретении Сертификата. 
                            p 2.8. По факту передачи Сертификата Продавец не оформляет акт приема-передачи сертификата или иной документ, подтверждающий факт передачи Сертификата. Факт передачи Сертификата подтверждается направленным письмом на электронную почту в соответствии с п 2.8 Оферты. Сертификат считается переданным Продавцом и принятым Покупателем без возражений, если Покупатель не заявит мотивированных возражений в течение 24 (двадцати четырёх) часов с момента передачи ему Сертификата.
                            p 2.9. При возникновении у Продавца обоснованных подозрений в мошенническом характере операции, Продавец оставляет за собой право аннулировать Сертификата, при этом денежные средства возвращаются на банковскую карту, с которой была осуществлена оплата.
                            p 2.10. Сертификат не может быть использован для обмена на наличные/безналичные денежные средства или на другой Сертификат.
                            p 3. Права и обязанности Сторон
                            p 3.1. Продавец обязан:
                            p 3.1.1. Передать Сертификаты Покупателю после их оплаты на условиях настоящего Договора.
                            p 3.1.2. В срок не позднее 24 (двадцати четырех) часов с даты зачисления на расчетный счет Продавца оплаты за Сертификаты отправить на электронную почту Покупателя Сертификат с кодом активации.
                            p 3.1.3. Консультировать Покупателя по всем возникающим вопросам, входящим в его компетенцию, в связи с использованием Сертификатов.
                            p 3.1.4. Принимать все необходимые и возможные меры по устранению причин технического и др. характера, препятствующие совершению оплаты Покупателем или использованию Сертификата.
                            p 3.2. Продавец имеет право:
                            p 3.2.1. Самостоятельно устанавливать и регламентировать правила пользования Сертификатами.
                            p 3.2.2. Не разглашать полученные в процессе исполнения обязательств по настоящему Договору сведения, полученные от третьих лиц, составляющие коммерческую тайну о процессе выпуска, технологическом процессе внедрения и обслуживания Сертификата.
                            p 3.3. Покупатель обязан:
                            p 3.3.1. Оплатить и после оплаты принять от Продавца Сертификаты для последующего приобретения Предъявителем товаров на условиях настоящего Договора.
                            p 3.3.2. Принять Сертификаты согласно условиям настоящего Договора.
                            p 3.3.3. Использовать Сертификаты в целях настоящего Договора.
                            p 3.3.4. Надлежащим образом выполнять принятые на себя настоящим Договором обязательства.
                            p 3.3.5. При передаче Сертификата Предъявителю Покупатель обязан довести до сведения Предъявителя положения настоящей Оферты, оставшийся срок действия Сертификата и Номинал Сертификата.
                            p 3.4. Покупатель имеет право:
                            p 3.4.1. Приобрести неограниченное количество Сертификатов.
                            p 3.4.2. Самостоятельно определять Предъявителей, кому будут передаваться полученные от Продавца Сертификаты.
                            p 4. Условия и порядок расчетов между Сторонами
                            p 4.1. Покупатель осуществляет оплату стоимости передаваемых Покупателю Сертификатов переводом денежных средств (оплата банковской картой) в безналичной форме на расчетный счет Продавца за сертификаты на условиях 100 % предоплаты.
                            p 4.2. Размер денежного перевода Покупателя, в счет предоплаты за сертификаты равен сумме номиналов всех передаваемых сертификатов.
                            p 5. Обстоятельства непреодолимой силы и ответственность сторон
                            p 5.1. Обстоятельства непреодолимой силы, признанные в силу законодательства таковыми, делающие невозможным исполнение настоящего договора любой из Сторон могут явиться основаниями, освобождающими Стороны от ответственности.
                            p 5.2. Сторона, ссылающаяся на обстоятельства непреодолимой силы, обязана незамедлительно информировать другую Сторону о наступлении подобных обстоятельств в письменной форме. Если вышеупомянутые обстоятельства будут длиться более шести месяцев, то любая Сторона имеет право расторгнуть настоящий договор в одностороннем порядке, известив об этом другую Сторону за один месяц до дня расторжения настоящего договора.
                            p 5.3. Продавец не несёт ответственность за прямые или косвенные убытки Покупателя/Предъявителя, связанные с использованием Сертификатов, в том числе не несет ответственность за несанкционированное использование Сертификата третьими лицами, поскольку он является предъявительским и не требует удостоверения личности Покупателя/Предъявителя. Всю ответственность в случае утраты или неправомерного доступа третьих лиц к информации об уникальном коде Сертификата Покупатель/Предъявитель принимает на себя.
                            p 5.4.  В случае наличия у Продавца подозрений в том, что Сертификат был получен и/или использован Покупателем/Предъявителем способом, нарушающим права и законные интересы Продавца и/или третьих лиц, Продавец вправе аннулировать Сертификаты и товары, оплаченные с использованием Сертификатов, без возмещения денежных средств Покупателю/Предъявителю.
                            p 6. Иные условия
                            p 6.1. Взаимоотношения Сторон, не оговорённые настоящим договором, регулируются нормами действующего законодательства Российской Федерации.
                            p 6.2. Все споры, возникающие при исполнении и расторжении настоящего договора, разрешаются путем переговоров, либо – в суде по месту нахождения Продавца. При нахождении одной из Сторон за пределами России, споры рассматриваются на территории Российской Федерации, по месту нахождения Продавца.
                            p 7. Реквизиты Продавца
                            p Общество с ограниченной ответственностью «ФЭШН РИТЕЙЛ» Юридический адрес: 140000, Московская область, г.о. Люберцы, г. Люберцы, ул. Красная, д. 1, помещ. 72, ком. 3
                            p ОГРН 1155027009521, ИНН 5027232713, КПП 502701001
                            p Р/с 40702810900080001818 КБ "СДМ-БАНК" (ПАО)
                            p К/с 30101810845250000685, БИК 044525685
                            p Телефон -
                            p e-mail: <a href="mailto:info@ashrussia.ru">info@ashrussia.ru</a>
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#common4" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left Согласие субъекта на обработку персональных данных
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#common4
                        .textBlock
                            p Я предоставляю настоящее конкретное, информированное и сознательное согласие на обработку персональных данных (далее — <b>«Согласие»</b>) на условиях, изложенных далее.
                            p Предоставлением Согласия считается нажатие кнопки «оформить заказ», «подтвердить номер», «регистрация», «сохранить»,(в настройках личного кабинета) на сайте в сети Интернет по адресу: <a href="ashrussia.ru" target="_blank">www.ashrussia.ru</a>, а также регистрация и покупка товаров в приложении «Ash».
                            p Действуя свободно, в соответствии со своей волей и в своем интересе, а также подтверждая своё совершеннолетие и дееспособность, я даю своё согласие:
                            p <u>Обществу с ограниченной ответственностью «ФЭШН РИТЕЙЛ», ОГРН 1155027009521</u> <br>(далее – <b>«Оператор»</b>) на обработку своих персональных данных на следующих условиях:
                            p Согласие предоставляется на обработку следующих персональных данных: 
                            ul 
                                li ФИО;
                                li Адрес электронной почты;
                                li Телефон;
                                li Платежные реквизиты;
                                li Адрес доставки 
                            p Я даю свое согласие на обработку персональных данных для следующих целей:
                            ul 
                                li Связи со мной, в том числе направления мне приглашений, уведомлений, новостей, а также обработки запросов и заявок от меня;
                                li Направление уведомлений, запросов и информации, касающихся действий Операторов;
                                li Обработка входящих заполненных мной форм обратной связи;
                                li Взаимодействие со мной как с пользователем;
                                li Обеспечение исполнения нормативных правовых актов, а также решений, поручений и запросов органов государственной власти и лиц, действующих по поручению или от имени таких органов;
                                li Предоставление эффективной клиентской и технической поддержки при возникновении проблем.
                            p 
                                b Я ознакомлен(а) и согласен(-на), что:
                            ul 
                                li Имею право направить Операторам запрос на уточнение моих персональных данных, требование о блокировании или уничтожении в случае, если окажется, что мои персональные данные являются неполными, устаревшими, неточными.
                                li Согласие может быть отозвано мной или моим представителем путем направления письменного заявления Операторам или электронного сообщения по адресу <a href="mailto:info@ashrussia.ru">info@ashrussia.ru</a>. Согласие может быть отозвано при условии уведомления не менее чем за 10 (Десять) календарных дней до предполагаемой даты прекращения обработки данных Оператором.
                                li Настоящее Согласие действует все время до момента прекращения обработки персональных данных.
                                li В случае отзыва согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без моего согласия при наличии оснований, указанных в пунктах 2 – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных».
