h1.infoPage__title.ttl.h3 faq
.infoPage__desc.txt-base
    .faq
        .faq__group 
            .faq__title Доставка
            .slideToggle
                .slideToggle-list 
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Как оформить доставку?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle1
                                .slideToggle-item__txt
                                    p В соответствии с законом «о защите прав потребителя» интернет магазин и фирменные розничные магазины «ASH» осуществляет приём возврата или обмен новой обуви в течение 14 дней со дня продажи, при наличии документов продажи, при условии сохранения товарного вида обуви. Принимает претензии по качеству обуви в течение 30 календарных дней со дня продажи, при наличии документов продажи, с учётом сроков сезонности на отдельные виды обуви. Обувь принимается в чистом и сухом виде. Интернет магазин оставляет за собой право на проведение экспертизы в течении 20 дней со дня приёма товара по заявлению от покупателя.
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle2" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Сколько стоит доставка с примеркой?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle2
                                .slideToggle-item__txt
                                    p Сколько стоит доставка с примеркой?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle3" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Есть ли доставка в регионы России?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle3
                                .slideToggle-item__txt
                                    p Сколько стоит доставка с примеркой?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle4" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Где купить товары офлайн?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle4
                                .slideToggle-item__txt
                                    p Сколько стоит доставка с примеркой?
        .faq__group 
            .faq__title Возврат
            .slideToggle
                .slideToggle-list 
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle5" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left как оформить возврат?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle5
                                .slideToggle-item__txt
                                    p как оформить возврат?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle6" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left возврат платный или бесплатный?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle6
                                .slideToggle-item__txt
                                    p как оформить возврат?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle7" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Есть ли доставка в регионы России?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle7
                                .slideToggle-item__txt
                                    p как оформить возврат?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle8" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Где купить товары офлайн?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle8
                                .slideToggle-item__txt
                                    p как оформить возврат?
        .faq__group 
            .faq__title Товар
            .slideToggle
                .slideToggle-list 
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle9" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left как оформить возврат?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle9
                                .slideToggle-item__txt
                                    p как оформить возврат?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle10" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left возврат платный или бесплатный?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle10
                                .slideToggle-item__txt
                                    p как оформить возврат?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle11" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Есть ли доставка в регионы России?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle11
                                .slideToggle-item__txt
                                    p как оформить возврат?
                    .slideToggle-list__item 
                        .slideToggle-item
                            .slideToggle-item__head 
                                a.slideToggle-item__open.d-flex(href="#toggle12" data-bs-toggle="collapse") 
                                    span.slideToggle-item__open-left Где купить товары офлайн?
                                    span.slideToggle-item__open-right.icon 
                                        +svg('arrow-down', '16', '16')
                            .slideToggle-item__body.collapse#toggle12
                                .slideToggle-item__txt
                                    p как оформить возврат?