//- h1.infoPage__title.ttl.h3 способы оплаты
.infoPage__desc.txt-base
    .slideToggle
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-2', '40', '20')
                                    span.slideToggle-item__open-group-txt банковской картой
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle1
                        .slideToggle-item__txt
                            p Вы можете осуществить платеж банковской картой на сайте без комиссии
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle2" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-3', '40', '20')
                                    span.slideToggle-item__open-group-txt dolyami
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle2
                        .slideToggle-item__txt
                            p Оплата Долями - это не рассрочка! Это оплата равными частями покупок за 4 платежа. Вы платите 25 % и сразу забираете покупку, а остальные три части спишутся потом.График платежей можно узнать в мобильном приложении или в чате на сайте Долями. Чтобы посмотреть в приложении, скачайте Долями на мобильный телефон и зайдите по номеру, который указывали во время оформления покупки.Для покупки Долями не нужны документы — только номер телефона и данные карты для оплаты.
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle3" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-1', '40', '20')
                                    span.slideToggle-item__open-group-txt Система быстрых платежей
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle3
                        .slideToggle-item__txt
                            p Система быстрых платежей – сервис, позволяющий клиентам банков-участников СБП совершать переводы по номеру мобильного телефона, а также производить оплату по QR-коду без ввода данных банковской карты (бесконтактная оплата с мобильного телефона). Для оплаты заказа при получении или покупок в магазине просто отсканируйте QR-код экрана или кассы и подтвердите операцию в мобильном приложении вашего банка. Проверьте сумму платежа и нажмите на кнопку «оплатить».
            //- .slideToggle-list__item 
            //-     .slideToggle-item
            //-         .slideToggle-item__head 
            //-             a.slideToggle-item__open.d-flex(href="#toggle4" data-bs-toggle="collapse") 
            //-                 span.slideToggle-item__open-left 
            //-                     span.slideToggle-item__open-group.d-flex 
            //-                         span.slideToggle-item__open-group-img 
            //-                             +svg('payment-4', '40', '20')
            //-                         span.slideToggle-item__open-group-txt Sberpay
            //-                 span.slideToggle-item__open-right.icon 
            //-                     +svg('arrow-down', '16', '16')
            //-         .slideToggle-item__body.collapse#toggle4
            //-             .slideToggle-item__txt
            //-                 p Вы можете осуществить платеж банковской картой на сайте без комиссии
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle5" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('split-icon', '40', '20')
                                    span.slideToggle-item__open-group-txt ЯНДЕКС.ПЭЙ СПЛИТ
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle5
                        .slideToggle-item__txt
                            p Вы можете оплатить товар с помощью сервиса «Сплит» в момент совершения покупки на сайте. Сервис «Сплит» позволяет разделить сумму покупки на четыре равных платежа – без комиссии и дополнительных плат. Оплатите 25% стоимости покупки. Оставшиеся три части платежа спишутся с вашей карты автоматически с выбранным шагом в две или более недель (подробнее). Клиент может совершить единовременно покупки на общую сумму до 150 000 рублей. Лимит определяется для каждого клиента индивидуально.