h1.infoPage__title.ttl.h3 способы оплаты
.infoPage__desc.txt-base
    .slideToggle
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-2', '40', '20')
                                    span.slideToggle-item__open-group-txt банковской картой
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle1
                        .slideToggle-item__txt
                            p Вы можете осуществить платеж банковской картой на сайте без комиссии
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle2" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-3', '40', '20')
                                    span.slideToggle-item__open-group-txt dolyami
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle2
                        .slideToggle-item__txt
                            p Вы можете осуществить платеж банковской картой на сайте без комиссии
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle3" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-1', '40', '20')
                                    span.slideToggle-item__open-group-txt Система быстрых платежей
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle3
                        .slideToggle-item__txt
                            p Вы можете осуществить платеж банковской картой на сайте без комиссии
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle4" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left 
                                span.slideToggle-item__open-group.d-flex 
                                    span.slideToggle-item__open-group-img 
                                        +svg('payment-4', '40', '20')
                                    span.slideToggle-item__open-group-txt Sberpay
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle4
                        .slideToggle-item__txt
                            p Вы можете осуществить платеж банковской картой на сайте без комиссии