//- h1.infoPage__title.ttl.h3 возвраты
.infoPage__desc.txt-base
    .infoPage__desc-mb-32 
        p Дорогие ASHgirls и ASHboys,
        p Благодарим за доверие к нашему бренду и надеемся, что у вас остались приятные впечатления от покупок с нами.
        p Если по какой-либо причине вы не полностью удовлетворены своим заказом на ashrussia.ru, у вас есть законное право вернуть товар и запросить возврат денежных средств в течение 14 дней с даты доставки.
        p Пожалуйста, перед возвратом товара убедитесь, что первоначальный вид изделия сохранён, вся оригинальная упаковка присутствует и не повреждена. Это касается любых следов на подошве обуви, поэтому советуем вам примерять обувь на ковровом покрытии, чтобы избежать ненужных следов.
    .slideToggle
        .slideToggle-list 
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle1" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left возврат товара, приобретенного в интернет магазине
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle1
                        .slideToggle-item__txt
                            p Мы предлагаем несколько вариантов для осуществления возврата в наш интернет-магазин. Вы можете выбрать для себя любой наиболее комфортный. Чтобы сделать запрос на возврат, пожалуйста, следуйте приведенным ниже инструкциям:
                            br
                            .slideToggle-item__subtitle Способы возврата
                            .slideToggle-item__blocks
                                .slideToggle-item__blocks-item
                                    .slideToggle-item__blocks-item__start
                                        p Возврат товара через <br>партнёров X5 group
                                    ol 
                                        li Перейдите в раздел “Ваши заказы” в личном кабинете.
                                        li Выберете заказ и нажмите кнопку “Оформить возврат”.
                                        li Выберете товар к возврату, опишите причины и перейдите к выбору удобного пункта возврата на карте.
                                        li После подтверждения информации, вам придёт СМС с кодом доступа для осуществления возврата через постамат.*
                                    p *В случае неисправности постамата, вы можете обратиться к кассиру для осуществления возврата заказа. 
                                    .slideToggle-item__blocks-item__info
                                        .slideToggle-item__blocks-item__info-icon.icon 
                                            include ../../icons/info
                                        .slideToggle-item__blocks-item__info-txt Опция возврата через партнёра бесплатна для клиента.
                                .slideToggle-item__blocks-item
                                    .slideToggle-item__blocks-item__start
                                        p Возврат товара в офис <br>интернет-магазина
                                    .slideToggle-item__blocks-item__groups 
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Адрес
                                            .slideToggle-item__blocks-item__group-col г.Москва, Шарикоподшипниковская ул, дом 4 к.4А, ООО "ФЭШН РИТЕЙЛ" находится в БЦ "Seasons"
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col График работы офиса
                                            .slideToggle-item__blocks-item__group-col понедельник-пятница 10:00-19:00
                                    .slideToggle-item__blocks-item__info
                                        .slideToggle-item__blocks-item__info-icon.icon 
                                            include ../../icons/info
                                        .slideToggle-item__blocks-item__info-txt Необходимо предупредить о визите по телефону: 8 (800) 500-76-82
                                .slideToggle-item__blocks-item
                                    .slideToggle-item__blocks-item__start
                                        p Возврат товара в отделение <br>Почты России
                                    p Вы можете вернуть товар из ближайшего к вам почтового отделения. 
                                    .slideToggle-item__blocks-item__groups 
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Адрес
                                            .slideToggle-item__blocks-item__group-col г.Москва, Шарикоподшипниковская ул, дом 4 к.4А
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Индекс
                                            .slideToggle-item__blocks-item__group-col 115088
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Контактный телефон
                                            .slideToggle-item__blocks-item__group-col ООО "ФЭШН РИТЕЙЛ"
                                    .slideToggle-item__blocks-item__info
                                        .slideToggle-item__blocks-item__info-icon.icon 
                                            include ../../icons/info
                                        .slideToggle-item__blocks-item__info-txt Обратите внимание, что возврат этим способом производится за личный счет клиента.
                                .slideToggle-item__blocks-item
                                    .slideToggle-item__blocks-item__start
                                        p Возврат товара в пункт <br>выдачи заказов СДЭК
                                    p Вы можете вернуть товар в ближайшем к вам пункте выдачи СДЭК.
                                    .slideToggle-item__blocks-item__groups 
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Адрес
                                            .slideToggle-item__blocks-item__group-col г.Москва Шарикоподшипниковская 6/14
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Имя получателя
                                            .slideToggle-item__blocks-item__group-col ООО "ФЭШН РИТЕЙЛ"
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Контактный телефон
                                            .slideToggle-item__blocks-item__group-col 8 (800) 500-76-82
                                    .slideToggle-item__blocks-item__info
                                        .slideToggle-item__blocks-item__info-icon.icon 
                                            include ../../icons/info
                                        .slideToggle-item__blocks-item__info-txt Обратите внимание, что возврат этим способом производится за личный счет клиента.
                                .slideToggle-item__blocks-item
                                    .slideToggle-item__blocks-item__start
                                        p Возврат товара курьеру <br> 
                                    p Для возврата по Москве в пределах МКАД, Вы можете воспользоваться услугой курьера от бренда.
                                    .slideToggle-item__blocks-item__groups 
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Стоимость услуги
                                            .slideToggle-item__blocks-item__group-col 300 рублей
                                        .slideToggle-item__blocks-item__group
                                            .slideToggle-item__blocks-item__group-col Срок ожидания курьера
                                            .slideToggle-item__blocks-item__group-col 2-5 рабочих дня
                                    .slideToggle-item__blocks-item__info
                                        .slideToggle-item__blocks-item__info-icon.icon 
                                            include ../../icons/info
                                        .slideToggle-item__blocks-item__info-txt Обратите внимание, что возврат этим способом производится за личный счет клиента.


                            p Возврат товара надлежащего качества осуществляется клиентом самостоятельно. Денежные средства за покупку будут возвращены в течение 10 рабочих дней с момента получения нами товара в той форме, в которой был оформлен заказ (наличными или на карту).
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle2" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left возврат товара, приобретенного в розничном магазине
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle2
                        .slideToggle-item__txt 
                            .slideToggle-item__subtitle Адрес возврата
                            p Возврат товара, купленного в фирменных розничных магазинах “ASH”, принимается в магазине, в котором была совершена покупка.
                            br
                            .slideToggle-item__subtitle Сроки и условия возврата
                            p Покупатель имеет право на возврат товара в магазине по месту покупки в течение 14 дней <br>не считая дня покупки.
                            p При возврате товара покупателю необходимо иметь при себе документ, удостоверяющий личность, документы продажи (кассовый чек). Данная процедура регламентирована Управлением Министерства РФ по Налогам и Сборам по г. Москве (письмо от 16.04.2003 г.№ 2912/20843).
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle3" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left ВОЗВРАТ ТОВАРА, БЫВШЕГО В УПОТРЕБЛЕНИИ 
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle3
                        .slideToggle-item__txt 
                            p Если вы получили товар, имеющий дефекты, пожалуйста, направьте ваше обращение команде интернет-магазина через форму обратной связи на нашем сайте:
                            a.slideToggle-item__link(href="#") 
                                span.slideToggle-item__link-icon.icon 
                                    +svg('list-black', '20', '20')
                                span.slideToggle-item__link-txt Заполнить форму
                            p Мы будем рады помочь вам решить проблему.
                            p В Интернет магазине и фирменных розничных магазинах “ASH” - Продавец оставляет за собой право на проведение экспертизы в течении 20 дней со дня приема товара по заявлению от покупателя, так же может проводиться внутренняя проверка качества товара. Срок проверки до 20 рабочих дней с момента поступления письменного заявления покупателя. По результатам проверки Покупателю предоставляется Акт проверки качества обуви. В случае несогласия с результатами внутренней проверки качества, 
                            p Покупатель имеет право обратиться в независимую экспертизу для получения независимой оценки.
                            p Если независимая экспертиза признает качество товара ненадлежащим, в течение 10 (десяти) рабочих дней с момента предоставления документов, подтверждающих результаты независимой экспертизы, Покупателю выплачивается стоимость товара, а также компенсируются затраты на проведенную экспертизу и пересылку товара (при условии предоставления подтверждающих документов и заявления в свободной форме).
                            p В случае обмена недоброкачественной обуви на обувь другой модели производится соответствующий перерасчет, исходя из денежной суммы, указанной при покупке. <br>При возврате покупателю денежной суммы за обувь, оказавшуюся недоброкачественной, продавец не вправе удерживать часть денежной суммы, соответствующей потере качества обуви за время нахождения ее у покупателя.
                            p Возврат денежных средств за товар ненадлежащего качества в розничном магазине производится по письменному заявлению покупателя в течение гарантийного срока. К заявлению должны быть приложены документы продажи, выданные при покупке.
                            br
                            .slideToggle-item__subtitle Не подлежит обмену обувь
                            .slideToggle-item__g-block
                                .slideToggle-item__g-block-list.flex 
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-1', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm С дефектами, образовавшимися вследствие эксплуатации <br>в условиях, не соответствующих ее назначению
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-2', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm С механическими повреждениями (ожоги, порезы, сдиры и др.)
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-3', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm Деформированная <br>в результате неправильной носки, механической и ручной стирки, сушки, утерявшая качество <br>в результате химического воздействия и с другими дефектами, возникшими по вине покупателя
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-4', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm Отремонтированная покупателем <br>до предъявления магазину (кроме замены набоек, прикрепления металлических косячков, приклейки профилактической подметки, если таковая починка не повлекла за собой образования дефектов)
                            .slideToggle-item__subtitle Требования к обуви, бывшей в эксплуатации <br>в течение гарантийного срока
                            .slideToggle-item__g-block
                                .slideToggle-item__g-block-list.flex 
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-5', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm Обувь должна быть чистой и сухой
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-6', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm Обувь, бывшая в ремонте, <br>к возврату не принимается
                                    .slideToggle-item__g-block-col 
                                        .slideToggle-item__g-block-item
                                            .slideToggle-item__g-block-item__img 
                                                +svg('refunds-7', '90', '90')
                                            .slideToggle-item__g-block-item__txt.txt-sm Возврат производится только <br>при наличии индивидуальной фирменной коробки от пары обуви с неповрежденной маркой
            .slideToggle-list__item 
                .slideToggle-item
                    .slideToggle-item__head 
                        a.slideToggle-item__open.d-flex(href="#toggle4" data-bs-toggle="collapse") 
                            span.slideToggle-item__open-left гарантийный срок
                            span.slideToggle-item__open-right.icon 
                                +svg('arrow-down', '16', '16')
                    .slideToggle-item__body.collapse#toggle4
                        .slideToggle-item__txt 
                            p Гарантийный срок на обувь составляет 30 календарных дней со дня передачи товара потребителю. Гарантия на обувь, купленную вне сезона, начинается с наступлением данного сезона:
                            .infoPage-columnDesc
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На зимнюю обувь:
                                    .infoPage-columnDesc__col с 1 ноября по 1 марта;
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На весеннюю обувь:
                                    .infoPage-columnDesc__col с 1 марта по 1 мая;
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На летнюю обувь:
                                    .infoPage-columnDesc__col с 1 мая по 1 сентября;
                                .infoPage-columnDesc__item.d-flex 
                                    .infoPage-columnDesc__col На осеннюю обувь:
                                    .infoPage-columnDesc__col с 1 сентября по 15 ноября
                            p Обращаем ваше внимание, что данные сроки сезонности актуальны только в Московском регионе. В остальных регионах сроки сезонности устанавливаются органами регионального управления.