extends template/product-2

block variables
	- var title = 'страница товара'
	//- - var badge = 'new'
	- var size2 = true
	- var mood = 5

	- var badge = "special"

//- block content
//- 	include pages/product/product