<svg width="0" height="0">
  <defs>
    <clipPath id="myClipPath" clipPathUnits="objectBoundingBox">
      <path d="M0 0.0283C0 0.0118 0.0109 -0.0008 0.0231 0.0017L0.9829 0.1965C0.9829 0.1986 1 0.2101 1 0.2232V0.9663C1 0.9828 0.9829 0.9954 0.9663 0.9928L0.0171 0.7925C0.0073 0.7905 0 0.7799 0 0.7667V0.0283Z"/>
    </clipPath>

    <clipPath id="myClipPath390" clipPathUnits="objectBoundingBox">
      <path d="M0 0.9687C0 0.9865 0.01777 1.00027 0.03769 0.997823L0.97139 0.883208C0.9878 0.88118 1 0.86876 1 0.85322V0.03123C1 0.01341 0.98228 -0.00031 0.96238 0.00208L0.02868 0.11482C0.01225 0.11680 0 0.12926 0 0.144V0.9687Z"/>
    </clipPath>

    <clipPath id="bigClipPath" clipPathUnits="objectBoundingBox">
      <path d="M0 0.0183C0 0.0076 0.0129 -0.0005 0.0272 0.0010L0.9797 0.1048C0.9914 0.1060 1 0.1134 1 0.1221V0.9807C1 0.9914 0.9914 0.9996 0.9727 0.9975L0.0203 0.8948C0.0086 0.8930 0 0.8860 0 0.8775V0.0183Z"/>
    </clipPath>

    <clipPath id="bigClipPath2" clipPathUnits="objectBoundingBox">
      <path d="M0 0.0183C0 0.0076 0.0129 -0.0005 0.0272 0.0010L0.9797 0.1048C0.9914 0.1060 1 0.1134 1 0.1221V0.9807C1 0.9914 0.9914 0.9996 0.9727 0.9975L0.0203 0.8948C0.0086 0.8930 0 0.8860 0 0.8775V0.0183Z"/>
    </clipPath>
  </defs>
</svg>




