body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@function vw($px, $viewport, $precision: 2) {
    $value: ($px * 100 / $viewport);
    $multiplier: pow(10, $precision);
    @return (round($value * $multiplier) / $multiplier) * 1vw;
}

.preSaleLanding {
    background: #F7F4F2;
    position: relative;
    font-size: 19px;
    &__inner {
        overflow: hidden;
        position: relative;
    }
    &-img {
        &__top {
            position: absolute;
            top: vw(-196, 1920);
            right: vw(-472, 1920);
            width: vw(1368, 1920);
        }
        &__bottom {
            position: absolute;
            left: vw(-10, 1920);
            bottom: vw(-485, 1920);  
            width: vw(968, 1920); 
        }
    }
    &__title {

    }
    &__txt {
        margin-top: 32px;
    }
    &-first {
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        min-height: 100vh;
        &__inner {
            
            width: 100%;
            // align-items: center;
            justify-content: space-between;
            max-width: vw(1604, 1920);
        }
        &__title {
            max-width: vw(726, 1920);
        }
        &__txt {
            max-width: 496px;
        }
    }
    &-second {
        position: relative;
        z-index: 3;
        &__inner {
            min-height: 100vh;
            align-items: center;
            justify-content: flex-end;
        }
        &__info {
            max-width: vw(696, 1920);
            width: 100%;
            margin-right: vw(90, 1920);
        }
        &__txt {
            max-width: 544px;
        }
    }
    &-form-wrapper {
        position: sticky;
        z-index: 9;
        bottom: 0;
        padding-bottom: 48px;
    }
    &-form {
        padding: 28px 32px;
        background: var(--button-default);
        border-radius: 12px;
        box-shadow: 0px 12px 15.4px 1px rgba(0, 0, 0, 0.09);
        &__inner {
            align-items: center;
            justify-content: space-between;
        }
        &__right {
            grid-template-columns: 630px 225px;
            gap: 8px;
        }
        &__title {
            color: var(--white);
        }
        &__input {
            background: transparent;
            height: 60px;
            color: #EBEBF4;
            &:hover {
                border-color: #9393A1;
            }
            &:focus {
                border-color: var(--white) !important;
            }
        }
    }
    &-timer {
        width: 506px;
        padding: 28px;
        border-radius: 10px;
        background: var(--button-default);
        box-shadow: 0px 4.0805px 11.5274px 3.06037px rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(15.3019px);
        &__title {
            margin-bottom: 24px;
            color: #EBEBF4;
        }
    }
}

@media (max-width: 1440px) {
    .preSaleLanding {
        font-size: 17px;
        &__txt {
            margin-top: 24px;
        }
        &__inner {

        }
        &-first {
            &__inner {
                
            }
        }
        &-timer {
            padding: 24px;
            &__title {
                margin-bottom: 20px;
            }
        }
    }
}