#addRecipientMobile.offcanvas.offcanvas-end(tabindex="-1")
    .offcanvas__inner.offcanvas__inner--flex 
        .offcanvas__head
            .offcanvas__head-inner.d-flex 
                .offcanvas__head-back 
                    a.offcanvas-close.btn-circle#addRecipientMobileBack(href="#" data-bs-dismiss="offcanvas") 
                        +svg('arrow-left')
                .offcanvas__head-left 
                    .offcanvas__title.offcanvas__title--m-center.ttl.h4 получатель
                .offcanvas__head-right 
                    a.offcanvas-close.btn-circle(href="#" data-bs-dismiss="offcanvas" aria-label="закрыть") 
                        +svg('close')
        .offcanvas__body
            form.address-form.form(action="/")
                .address-form__top
                    .order-form__row-wrapper
                        .order-form__row.flex
                            .order-form__col.order-form__col--fw 
                                .form-item
                                    .form-item__group 
                                        .form-item__label имя*
                                        input.form-input(type="text" data-validate)
                            .order-form__col.order-form__col--fw 
                                .form-item
                                    .form-item__group 
                                        .form-item__label фамилия
                                        input.form-input(type="text")
                            .order-form__col.order-form__col--fw
                                .form-item
                                    .form-item__group 
                                        .form-item__label телефон*
                                        input.form-input(type="tel" data-phone)
                            .order-form__col.order-form__col--fw
                                .form-item
                                    .form-item__group 
                                        .form-item__label e-mail*
                                        input.form-input(type="email" data-validate)
                                    .form-item__txt.txt-label для отправки чека
                            .order-form__col.order-form__col--fw
                                .order-form__switch.switch.txt-sm
                                    .switch__content.d-flex 
                                        .switch__content-btn 
                                            label.switch-btn
                                                input(type="checkbox" checked name="news")
                                                span.switch-btn__content 
                                                    span
                                        .switch__content-txt Подписаться на новости
                .address-form__foot 
                    //- button.address-form__btn.btn(type="button" data-bs-target="#addComment" data-bs-toggle="offcanvas") сохранить и продолжить
                    button.address-form__btn.btn(type="button") сохранить и продолжить