#addRecipientCourier.offcanvas.offcanvas-end(tabindex="-1")
    .offcanvas__inner.offcanvas__inner--flex 
        .offcanvas__head
            .offcanvas__head-inner.d-flex 
                //- .offcanvas__head-back 
                //-     a.offcanvas-close.btn-circle#addRecipientBack(href="#" data-bs-dismiss="offcanvas") 
                //-         +svg('arrow-left')
                .offcanvas__head-left 
                    .offcanvas__title.offcanvas__title--m-center.ttl.h4 новый адрес
                .offcanvas__head-right 
                    a.offcanvas-close.btn-circle(href="#" data-bs-dismiss="offcanvas" aria-label="закрыть") 
                        +svg('close')
        .offcanvas__body
            form.address-form.form(action="/")
                .address-form__top
                    .order-form__row-wrapper
                        .order-form__row.flex
                            .order-form__col
                                .form-item
                                    .form-item__group 
                                        .form-item__label улица*
                                        input.form-input(type="text" data-validate value="Безымянная")
                            .order-form__col
                                .form-item
                                    .form-item__group 
                                        .form-item__label дом*
                                        input.form-input(type="text" data-validate value="23")
                            .order-form__col.order-form__col--fw
                                .form-item
                                    .form-item__group 
                                        .form-item__label квартира/офис*
                                        input.form-input(type="text" data-validate value="32")
                            .order-form__col.order-form__col--33
                                .form-item
                                    .form-item__group 
                                        .form-item__label подъезд
                                        input.form-input(type="text" value="4")
                            .order-form__col.order-form__col--33
                                .form-item
                                    .form-item__group 
                                        .form-item__label этаж
                                        input.form-input(type="text" value="3")
                            .order-form__col.order-form__col--33
                                .form-item
                                    .form-item__group 
                                        .form-item__label домофон
                                        input.form-input(type="text" value="3")
                            .order-form__col.order-form__col--fw
                                .form-item
                                    .form-item__group 
                                        .form-item__label комментарий курьеру
                                        input.form-input(type="text" value="Позвонить, когда будете у шлагбаума")
                                //- .order-form__col-item
                                //-     label.form-checkbox.txt-sm
                                //-         input(type="checkbox")
                                //-         span.form-checkbox__content 
                                //-             span.form-checkbox__icon
                                //-             span.form-checkbox__info Не звонить для подтверждения заказа
                            //- .order-form__col.order-form__col--fw 
                            //-     .form-item
                            //-         .form-item__group 
                            //-             .form-item__label e-mail
                            //-             input.form-input(type="email")
                            //-         .form-item__txt.txt-label для отправки чека
                            //- .order-form__col.order-form__col--fw
                            //-     .order-form__switch.switch.txt-sm
                            //-         .switch__content.d-flex 
                            //-             .switch__content-btn 
                            //-                 label.switch-btn
                            //-                     input(type="checkbox" checked name="news")
                            //-                     span.switch-btn__content 
                            //-                         span
                            //-             .switch__content-txt Подписаться на новости
                .address-form__foot 
                    button.address-form__btn.btn(type="submit") сохранить и продолжить