#chooseOffice.offcanvas.offcanvas-end(tabindex="-1")
    .offcanvas__inner.offcanvas__inner--flex 
        .offcanvas__head.offcanvas__head--has-search
            .offcanvas__head-inner.d-flex 
                .offcanvas__head-back.offcanvas__head-back--mobile 
                    a.offcanvas-close.btn-circle(href="#" data-bs-dismiss="offcanvas" aria-label="закрыть") 
                        +svg('arrow-left')
                .offcanvas__head-left 
                    .offcanvas__title.offcanvas__title--m-center.ttl.h4 Выбор пункта выдачи
                .offcanvas__head-right 
                    a.offcanvas-close.btn-circle(href="#" data-bs-dismiss="offcanvas" aria-label="закрыть") 
                        +svg('close')
            .offcanvas__head-search 
                .form-item.form-item-dropdown
                    .form-item__group 
                        .form-item__label.form-item__label--hidden Поиск по адресу
                        input.form-input.form-input--rounded(type="text" data-validate)
                        button.form-item__clear(type="button")
                            span.form-item__clear-default.form-item__clear-icon
                                +svg('search-grey')
                            span.form-item__clear-active.form-item__clear-icon
                                +svg('close')
                    .form-item__dropdown.form-item__dropdown--rounded.outline-border
                        .form-item__dropdown-scroll(data-simplebar)
                            .form-item__list
                                - for (let i = 0; i < 20; i++)
                                    .form-item__list-item 
                                        label.form-item__dropdown-label
                                            input(type="radio" name="city" data-value="г. Новосибирск, Новосибирская обл.")
                                            span.form-item__dropdown-label__txt г. Новосибирск, 
                                                span Новосибирская обл.
        .offcanvas__body.offcanvas__body--no-padding
            #postOfficeMap
            .postOffice-info
                a.postOffice-info__close.icon(href="#")
                    +svg('close') 
                .postOffice-info__inner  
                    .postOffice-info__title.title Почтовое отделение № 119285
                    .postOffice-info__address г Москва, ул Мосфильмовская, дом 34, индекс 438232
                    .postOffice-info__title.title График работы
                    .postOffice-info__work
                        .postOffice-info__work-item.d-flex
                            .postOffice-info__work-item__left пн-пт
                            .postOffice-info__work-item__right 08:00–20:00
                        .postOffice-info__work-item.d-flex
                            .postOffice-info__work-item__left сб
                            .postOffice-info__work-item__right 09:00–20:00
                        .postOffice-info__work-item.d-flex
                            .postOffice-info__work-item__left вс
                            .postOffice-info__work-item__right 10:00–18:00
                    a.postOffice-info__btn.btn.btn-rounded(href="#addRecipient" data-bs-toggle="offcanvas" ) заберу отсюда 
            a.get-location.centered.txt-sm(href="#")
                span.get-location__txt определить местоположение
                span.get-location__icon.icon 
                    include ../../icons/location